.btn-group-sm > .navbar-btn.btn, .navbar-btn.btn-sm
  margin-top 35px
  margin-bottom 35px
.btn-group-xs > .navbar-btn.btn, .navbar-btn.btn-xs
  margin-top 39px
  margin-bottom 39px
.navbar-text
  margin-top 40px
  margin-bottom 40px
.btn-circle, .btn-round
  border-radius 17px
  border-width 2px
.btn.btn-circle
  padding 6px 3px
.btn.btn-round
  padding 5px 17px
.btn.btn-right
  float right
.btn.btn-outline
  border-color #656c81
  font-family: "Houschka Pro Bold"
  font-size 13px
.btn.btn-default
  color white

//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn
  display inline-block
  margin-bottom 0 // For input.btn
  font-weight $btn-font-weight
  text-align center
  vertical-align middle
  touch-action manipulation
  cursor pointer
  background-image none // Reset unusual Firefox-on-Android default style see https://github.com/necolas/normalize.css/issues/214
  border 1px solid transparent
  white-space nowrap
  button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base)
  user-select none
  &:active,
  &:hover,
  &:focus,
  &.focus
    color $btn-default-color
    text-decoration none
  &:active,
  &.active
    outline 0
    background-image none
    //box-shadow inset 0 3px 5px rgba(0, 0, 0, .125)
  &.disabled,
  &[disabled],
  fieldset[disabled] &
    cursor $cursor-disabled
    pointer-events none // Future-proof disabling of clicks
    opacity-ie(.65)
    box-shadow none


// Alternate buttons
// --------------------------------------------------

.btn-default
  button-variant($btn-default-color, $btn-default-bg, $btn-default-border)

.btn-primary
  button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border)

// Success appears as green
.btn-success
  button-variant($btn-success-color, $btn-success-bg, $btn-success-border)

// Info appears as blue-green
.btn-info
  button-variant($btn-info-color, $btn-info-bg, $btn-info-border)

// Warning appears as orange
.btn-warning
  button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border)

// Danger and error appear as red
.btn-danger
  button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border)


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link
  color $link-color
  font-weight normal
  border-radius 0

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] &
    background-color transparent
    box-shadow none

  &,
  &:hover,
  &:focus,
  &:active
    border-color transparent

  &:hover,
  &:focus
    color $link-hover-color
    text-decoration $link-hover-decoration
    background-color transparent

  &[disabled],
  fieldset[disabled] &
    &:hover,
    &:focus
      color $btn-link-disabled-color
      text-decoration none


// Button Sizes
// --------------------------------------------------

.btn-lg
  // line-height ensure even-numbered height of button next to large input
  button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large, $border-radius-large)

.btn-sm
  // line-height ensure proper height of button next to small input
  button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small, $border-radius-small)

.btn-xs
  button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small, $border-radius-small)


// Block button
// --------------------------------------------------

.btn-block
  display block
  width 100%

// Vertically space out multiple block buttons
.btn-block + .btn-block
  margin-top 5px

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"]
  &.btn-block
    width 100%

.btn-av
  background-color #ffffff
  border 2px solid $av-color-horizon-border
  display inline-block
  cursor pointer
  color $av-color-main-text
  font-family Corbel
  text-decoration none
  button-size(7px, 12px, 15px, 15px, 28px)

.btn-ave:hover
  background-color rgb(250, 250, 250)


// buttons gow to get and favorite
.button-main
  display inline-block
  vertical-align middle
  padding 2px 19px
  background-color $av-color-bg
  text-decoration none
  color white
  font-family "Houschka Pro Bold"
  font-size: 13px
  line-height 30px
  text-transform uppercase
  white-space nowrap

.button-text
  vertical-align middle
  position relative
  z-index 1
  transition $medium-duration ease

.hvr-sweep-to-right
  overflow: hidden
  position relative
  border-radius 17px
  &:before
    display: block
    content: ""
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 1px
    border: 2px solid $av-color-border-gray
    border-radius: 17px
  &:after
    display block
    content ""
    position absolute
    top 0
    left 0
    width 0%
    height 100%
    background-color white
    transition $medium-duration ease

.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus
  color $av-color-bg
  text-decoration none
  i
    color $av-color-border-gray

.hvr-sweep-to-right:hover:after,
.hvr-sweep-to-right:focus:after
  width 100%

.button-main-favorite
  margin 0 0 0 13px
  color $av-color-border-gray
  line-height 28px

