.cl-effect-4 a
  padding 0 0 10px
.cl-effect-4 a::after
  position absolute
  top 100%
  left 0
  width 100%
  height 1px
  background #a8f0de
  content ""
  opacity 0
  transition height $time-transition, opacity $time-transition, transform $time-transition
  transform translateY(-3px)
  margin-top -1*35px
.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after
  height 3px
  opacity 1
  transform translateY(0px)
  margin-top -1*35px
.affix .cl-effect-4 a::after,
.affix .cl-effect-4 a:hover::after,
.affix .cl-effect-4 a:focus::after
  margin-top -1*15px


//
// Component animations
// --------------------------------------------------

// Heads up!
//
// We don't use the `opacity-ie()` mixin here since it causes a bug with text
// fields in IE7-8. Source https://github.com/twbs/bootstrap/pull/3552.

.fade
  opacity 0
  transition opacity .15s linear

  &.in
    opacity 1

.collapse
  display none

  &.in
    display block

  tr&.in
    display table-row

  tbody&.in
    display table-row-group

.collapsing
  position relative
  height 0
  overflow hidden
  transition-property height, visibility
  transition-duration .35s
  transition-timing-function ease
