.icon-views:before
  display inline-block
  vertical-align middle
  margin 0 8px 0 0
  font-size 20px
.icon-sales
  display inline-block
  vertical-align middle
  margin 0 6px 0 0
  height 20px
  width 20px
  fill $sales-meta-option

[class^="av-"]:before, [class*=" av-"]:before
  font-family "aviapark"
  font-style normal
  font-weight normal
  display inline-block
  text-decoration inherit
  width 1em
  margin-right 0.2em
  text-align center
  font-variant normal
  text-transform none
  line-height 1em
  margin-left 0.2em

// Stacked Icons
// -------------------------
$avv-css-prefix = avv
$fa-inverse = white
$fa-font-size-base = 16px
$fa-li-width = 30em / 14

// Making icons
.{$avv-css-prefix}
  display inline-block
  font-family "aviapark"
  font-style normal
  font-weight normal
  font-size: inherit
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  transform translate(0, 0) // ensures no half-pixel rendering in firefox

.{$avv-css-prefix}-margin
  &:before
    margin 0

/* stacked elements */
.{$avv-css-prefix}-stack
  position relative
  display inline-block
  width 3.6rem
  height 3.6rem
  line-height 3.6rem
  vertical-align middle

.{$avv-css-prefix}-stack-1x, .{$avv-css-prefix}-stack-2x
  position absolute
  left 0
  width 100%
  text-align center

.{$avv-css-prefix}-stack-1x
  line-height inherit
.{$avv-css-prefix}-stack-2x
  font-size 3.6rem

.{$avv-css-prefix}-stack-3x
  font-size 4.2rem
  width 4.2rem
  height 4.2rem
  line-height 4.2rem

/* makes the font 33% larger relative to the icon container */
.{$avv-css-prefix}-lg
  font-size 1em
  //line-height: (3em / 4)
  vertical-align -1*15%

.{$avv-css-prefix}-2x
  font-size 1.538em
.{$avv-css-prefix}-3x
  font-size 1.615em
.{$avv-css-prefix}-4x
  font-size 4em
.{$avv-css-prefix}-5x
  font-size 5em

// custom colors and sizes
.{$avv-css-prefix}-inverse
  color $fa-inverse
.{$avv-css-prefix}-transparent
  color transparent
.{$avv-css-prefix}-color-active
  color $av-color-active
.{$avv-css-prefix}-color-main-text
  color $av-color-main-text
.{$avv-css-prefix}-color-second-text
  color $av-color-second-text
.{$avv-css-prefix}-social-topbar
  color $av-social-topbar
.{$avv-css-prefix}-dark-background
  color $av-color-icon-bg
.{$avv-css-prefix}-vk-color
  color $color-vk
.{$avv-css-prefix}-fb-color
  color $color_indigo_approx
.{$avv-css-prefix}-ok-color
  color $av-color-ok
.{$avv-css-prefix}-calendar-size
  font-size 39px
  margin 0 0 2rem 0
.{$avv-css-prefix}-marker-size
  font-size 28px
  color $color-panel-left
  margin 0 0 0.5rem 0
.{$avv-css-prefix}-social
  color $av-color-social

.social-hover-animation
  i
    transition $time-transition
  &:hover
    cursor pointer
    i
      color $default-color
    .av-circle-empty:before
      background-color $av-color-bg

.favorite-start
  z-index 1
  font-size 16px
  vertical-align middle
