.leaflet-popup-content-wrapper
  border-radius 0
  margin-left 150px
.leaflet-popup-close-button
  display none
.leaflet-popup-content
  text-transform uppercase
  font-size 12px
  color $color-all-shops
  min-width 220px
  padding 0 0 0 20px
  margin 0
  overflow: hidden
.leaflet-popup-text
  display inline-block
  width 135px
  padding 10px 0
  border-right 1px solid $color-control-border
  min-height 64px
.leaflet-popup-movie-text
  display inline-block
  width 100%
  padding 10px 10px 10px 0
  border-right none
  min-height 64px
.leaflet-popup-logo
  float right
  img
    width 64px
    height 64px
.leaflet-popup-text-category
  color $sales-meta-option
  font-family $font-family-tooltip
  text-transform none
  font-size 15px
.leaflet-popup-tip
  border-style solid
  border-width 9px 9px 0 9px
  border-color #FFF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)
  background none