// TODO: refactoring to leaflet pattern
.leaflet-container
  width 100%
  margin 0
  font-family "Houschka Pro Bold", Corbel, sans-serif
  font-size 12px
  padding 0
  height calc(100vh - 140px)
  z-index 0
  background $color-map-bg
  top -63px
  >.leaflet-marker-pane
    img
      width 32px
      height 32px
  .leaflet-control-container
    position relative
  .leaflet-control-attribution
    display none
  .leaflet-control-layers-toggle
    display none
  .leaflet-control-layers
    .leaflet-control-layers-list
      display block
      position relative
      top: 20%
    label
      display block
      width 64px
      font-size 16px
      height 64px
      line-height 64px
      border-top 1px solid $color-control-border
      background white
      margin 0
      color $color-control-text
      cursor pointer
      input
        display none
      &:last-child
        border none
      &:hover
        background $color-control-text
        color white
  .leaflet-control-zoom
    a
      display block
      width 64px
      height 64px
      line-height 64px
      border-bottom 1px solid $color-control-border
      background white
      margin 0
      color $color-control-text
      cursor pointer
      text-decoration none
      input
        display none
      &:last-child
        border none
      //&:hover
      //  background $color-control-text
      //  color white
  .leaflet-right
    flex-direction column-reverse
    display flex
    top 130px
    .leaflet-control
      margin-right 20px
      background none
      box-shadow none
      color $color-control-prefix
      text-align center
  .leaflet-control-layers-base
    &:after
      content 'Этажи'
      text-transform uppercase
      line-height 28px
    display: flex;
    flex-direction: column-reverse
  .leaflet-control-zoom
    margin-top 0
    &:before
      content 'Zoom'
      text-transform uppercase
      line-height 28px
  // zoom image
  .leaflet-control-zoom-in
    &:before
      content '\e805'
      font-family aviapark
      position absolute
      display block
      font-size 19px
      top 84px
      left 13px
      background-color $default-color
      line-height 20px
      width 40px


// Badgets of quantity shops on a floor
.number-of-items
  position absolute
  left -11px
  margin-top 21px
  background-color #ff466d
  color $default-color
  width 22px
  height 22px
  line-height 22px
  border-radius 22px
  display inline-block
  font-size 12px
  font-family "Houschka Pro Bold"
.leaflet-control-layers-base
  label:nth-child(2)
    &:before
      content '3'
      @extend .number-of-items
  label:nth-child(4)
    &:before
      content '12'
      @extend .number-of-items



