// TODO: delete all prefixs
.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer
  position absolute
  left 0
  top 0

.leaflet-container
  overflow hidden
  -ms-touch-action none
  cursor -webkit-grab
  cursor -moz-grab
  outline 0
  img
    max-width none !important
    &.leaflet-image-layer
      max-width 15000px !important
  a
    &.leaflet-active
      outline 2px solid orange
  .leaflet-control-attribution
    background-color rgba(255, 255, 255, 0.7)
    box-shadow 0 0 5px #bbb
    margin 0

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow
  -webkit-user-select none
  -moz-user-select none
  user-select none
  -webkit-user-drag none

.leaflet-marker-icon,
.leaflet-marker-shadow
  display block

.leaflet-tile
  filter inherit
  visibility hidden

.leaflet-tile-loaded
  visibility inherit

.leaflet-zoom-box
  width 0
  height 0
  border 2px dotted #05f
  background white
  opacity 0.5

.leaflet-overlay-pane
  z-index 4
  svg
    -moz-user-select none

.leaflet-tile-pane
  z-index 2

.leaflet-objects-pane
  z-index 3

.leaflet-shadow-pane
  z-index 5

.leaflet-marker-pane
  z-index 6

.leaflet-popup-pane
  z-index 7

.leaflet-control
  position relative
  z-index 7
  pointer-events auto
  float left
  clear both

.leaflet-top,
.leaflet-bottom
  position absolute
  z-index 1000
  pointer-events none

.leaflet-top
  top 0
  .leaflet-control
    margin-top 10px

.leaflet-right
  right 0
  .leaflet-control
    float right
    margin-right 10px

.leaflet-bottom
  bottom 0
  .leaflet-control
    margin-bottom 10px
  .leaflet-control-scale
    margin-bottom 5px

.leaflet-left
  left 0
  .leaflet-control
    margin-left 10px
  .leaflet-control-scale
    margin-left 5px

.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup
  opacity 0
  -webkit-transition opacity 0.2s linear
  -moz-transition opacity 0.2s linear
  -o-transition opacity 0.2s linear
  transition opacity 0.2s linear

.leaflet-fade-anim .leaflet-tile-loaded,
.leaflet-fade-anim .leaflet-map-pane .leaflet-popup
  opacity 1

.leaflet-zoom-anim
  .leaflet-zoom-animated
    -webkit-transition -webkit-transform 0.25s cubic-bezier(0,0,0.25,1)
    -moz-transition -moz-transform 0.25s cubic-bezier(0,0,0.25,1)
    -o-transition -o-transform 0.25s cubic-bezier(0,0,0.25,1)
    transition transform 0.25s cubic-bezier(0,0,0.25,1)
  .leaflet-zoom-hide
    visibility hidden

.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated
  -webkit-transition none
  -moz-transition none
  -o-transition none
  transition none

.leaflet-clickable
  cursor pointer

.leaflet-popup-pane,
.leaflet-control
  cursor auto

.leaflet-dragging,
.leaflet-dragging .leaflet-clickable,
.leaflet-dragging .leaflet-container
  cursor move
  cursor -webkit-grabbing
  cursor -moz-grabbing

.leaflet-bar
  //box-shadow 0 1px 7px rgba(0,0,0,0.65)
  //-webkit-border-radius 4px
  //border-radius 4px
  a
    &:hover
      background-color #f4f4f4
    &:first-child
      //-webkit-border-top-left-radius 4px
      //border-top-left-radius 4px
      //-webkit-border-top-right-radius 4px
      //border-top-right-radius 4px
    &:last-child
      //-webkit-border-bottom-left-radius 4px
      //border-bottom-left-radius 4px
      //-webkit-border-bottom-right-radius 4px
      //border-bottom-right-radius 4px
      border-bottom none
    &.leaflet-disabled
      cursor default
      background-color #f4f4f4
      color #bbb
      display none

.leaflet-bar a, .leaflet-bar a:hover
  //background-color #fff
  //border-bottom 1px solid #ccc
  //width 26px
  //height 26px
  //line-height 26px
  //display block
  //text-align center
  //text-decoration none
  //color black

.leaflet-bar a,
.leaflet-control-layers-toggle
  background-position 50% 50%
  background-repeat no-repeat
  display block

.leaflet-touch
  .leaflet-bar
    -webkit-border-radius 10px
    border-radius 10px
    a
      width 30px
      height 30px
      &:first-child
        -webkit-border-top-left-radius 7px
        border-top-left-radius 7px
        -webkit-border-top-right-radius 7px
        border-top-right-radius 7px
      &:last-child
        -webkit-border-bottom-left-radius 7px
        border-bottom-left-radius 7px
        -webkit-border-bottom-right-radius 7px
        border-bottom-right-radius 7px
        border-bottom none
  .leaflet-control-zoom-in
    font-size 22px
    line-height 30px
  .leaflet-control-zoom-out
    font-size 28px
    line-height 30px
  .leaflet-control-layers-toggle
    width 44px
    height 44px

.leaflet-control-zoom-in
.leaflet-control-zoom-out
  font-size 20px

.leaflet-control-layers
  box-shadow 0 1px 7px rgba(0,0,0,0.4)
  background #f8f8f9
  -webkit-border-radius 5px
  border-radius 5px
  label
    display block

.leaflet-control-layers-toggle
  width 36px
  height 36px

.leaflet-retina
  .leaflet-control-layers-toggle
    background-image url(images/layers-2x.png)
    background-size 26px 26px

.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle
  display block
  position relative

.leaflet-control-layers-expanded
  .leaflet-control-layers-list
    display block
    position relative

.leaflet-control-layers-selector
  margin-top 2px
  position relative
  top 1px

.leaflet-control-layers-separator
  height 0
  border-top 1px solid #ddd
  margin 5px -10px 5px -6px

.leaflet-control-attribution,
.leaflet-control-scale-line
  padding 0 5px
  color #333

.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale
  font-size 11px

.leaflet-control-scale-line
  border 2px solid #777
  border-top none
  color black
  line-height 1.1
  padding 2px 5px 1px
  font-size 11px
  text-shadow 1px 1px 1px #fff
  background-color rgba(255, 255, 255, 0.5)
  box-shadow 0 -1px 5px rgba(0, 0, 0, 0.2)
  white-space nowrap
  overflow hidden
  &:not(:first-child)
    border-top 2px solid #777
    border-bottom none
    margin-top -2px
    box-shadow 0 2px 5px rgba(0, 0, 0, 0.2)
  &:not(:first-child):not(:last-child)
    border-bottom 2px solid #777

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar
  box-shadow none

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar
  border 4px solid rgba(0,0,0,0.3)

.leaflet-popup
  position absolute
  text-align center

.leaflet-popup-content-wrapper
  padding 1px
  text-align left
  -webkit-border-radius 12px
  border-radius 12px

.leaflet-popup-content
  margin 13px 19px
  line-height 1.4
  p
    margin 18px 0

.leaflet-popup-tip-container
  margin 0 auto
  width 40px
  height 20px
  position relative
  overflow hidden

.leaflet-popup-tip
  width 17px
  height 17px
  margin 0 auto 0
  border-width 9px 9px 0 9px
  border-color #FFF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)

.leaflet-popup-tip-container
  &:after
    display block
    content " "
    width 17px
    height 17px
    margin -5px auto 0
    border-style solid
    border-width 9px 9px 0 9px
    border-color rgba(0,0,0,0.2) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)

.leaflet-popup-content-wrapper
  background white
  box-shadow 0 12px 0 rgba(0,0,0,0.2)

.leaflet-popup-scrolled
  overflow auto
  border-bottom 1px solid #ddd
  border-top 1px solid #ddd

.leaflet-div-icon
  background #fff
  border 1px solid #666

.leaflet-editing-icon
  -webkit-border-radius 2px
  border-radius 2px


