.leaflet-label
  text-align center
  color #FFF
  text-transform uppercase
  position absolute
  width 80px
.leaflet-action-icon
  width 50px
  height 50px
  top -70px
  left 15px
  position absolute
