.slideout-menu
  position fixed
  left 0
  top 0
  bottom 0
  right 0
  z-index 0
  width 280px
  overflow-y auto
  overflow-scrolling touch
  display none
.slideout-panel
  position relative
  z-index 1
.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel
  overflow hidden
.slideout-open .slideout-menu
  display block
#sliding-menu
  background white
  font-size 12px
  text-transform uppercase
  font-family "Houschka Pro Bold"
  .nav a
    display inline-block
    color #242838
    padding 13px 0 13px 0
    width 70%
  hr
    margin 0
    height 4px
    background url(../img/ruler.svg)
    border none
  .nav li
    padding 0
    border-bottom 2px solid #efefef
    line-height 120%
    overflow hidden
  .nav .icon
    color #afb2bc
    font-size 22px
    float left
    width 60px
    padding 6px 0 0 20px
  .user-name
    padding 0 0 10px 6px
    border-bottom 2px solid #535866
    font-family "Houschka Pro DemiBold"
  .internet
    font-size 10px
    line-height 40px
  .internet .icon
    font-size 18px
    color #b0fde9
  .header-xs
    background #454959
    color white
    padding 15px 0 0 15px
    font-family "Houschka Pro Bold"
  .social
    margin 0
    padding 0
    text-align center
  .social li
    list-style none
    display inline-block
  .social .navbar-btn
    margin 20px 3px 15px 3px
  .social li .btn-circle
    border-radius 24px
    width 39px
    height 39px
    background #454959
    border-color #454959
    font-size 140%
    box-shadow 0 4px 0 #eeeeee
  .social li .btn-circle:hover
    color white
  .social .btn-vk
    padding 6px 0 6px 0
  .social .btn-odnoklassniki
    padding 6px 3px 6px 2px
  .footer-xs .row
    padding 0
  .work-time
    margin 0 0 13px 0
    text-align center
  .work-time span
    font-size 9px
    padding 0
  .footer-xs .row > div
    padding 10px 7px
    text-align center
  .footer-xs .language-selector a
    color white
  .footer-xs .language-selector.active-lang
    background #fcadc5
  .footer-xs
    background #454959
    padding 0
    font-family "Houschka Pro DemiBold"
    font-size 9px
    color #9fa4b8
    left 0
    bottom 0
    width 280px
  .footer-xs .row:first-child
    border-bottom 1px solid #535866
  .footer-xs .menu-item
    border-left 1px solid #535866
  .user-counter
    background-color crimson
    width 16px
    height 16px
    border-radius 16px
    padding 2px 0 0 5px
    font-size 80%
    position absolute
    right 20px
  .user-avatar img
    border-radius 30px
.main-menu
  .tile
    height 131px
    color white
    position relative
    &.tile-text
      text-transform uppercase
    &.tile-purple
      color #fcadc5
      background-color #a15e9b
    &.tile-light-blue
      background-color #cbf5ff
      color #5c6abd
    &.tile-pink
      color white
      background-color #fcadc5
    &.tile-brand-slider
      .carousel-indicators
        bottom 30px
        right 26px
      .slide-brand
        position absolute
        left 34px
        bottom 108px
    .tile-text-wrapper
      font-size 42px
      font-family "Houschka Pro Medium"
      padding-top 22%
      transition all 0.5s
    .tile-text
      line-height 1
      transition padding 0.5s
      text-transform uppercase
      text-align center
      width: 100%
    .tile-description
      font-size 10px
      text-align center
      font-weight 500
      font-family "Houschka Pro DemiBold"
  .col-double .tile
    height 230px
  .tile-kidzania
    text-align center
    background $color_supernova_approx
    img
      transition all 0.5s
      margin-top 35%
      width 60%
  .tile-violet
    font-size 10px
    background #603cba url(../img/bg_map.png) center center no-repeat
    .tile-btn
      text-align center
      padding-top 47%
      position absolute
      width 100%
      z-index 200
    .btn-primary
      color #cbf5ff
      border-color #cbf5ff
      transition all 0.3s
      font-size 10px
      padding 3px 12px
    .btn-primary:hover
      background #cbf5ff
      color #3d4252
    .tile-description
      font-size 9px
      padding-top 5px
      color #cbf5ff