//
// Modals
// --------------------------------------------------

// .modal-open - body class for killing the scroll
// .modal - container to scroll within
// .modal-dialog - positioning shell for the actual modal
// .modal-content - actual modal w/ bg and corners and shit

// Kill the scroll on the body
.modal-open
  overflow hidden

// Container that the modal scrolls within
.modal
  display none
  overflow hidden
  position fixed
  top 0
  bottom 0
  z-index $zindex-modal
  -webkit-overflow-scrolling touch

  // Prevent Chrome on Windows from adding a focus outline. For details, see
  // https://github.com/twbs/bootstrap/pull/10951.
  outline 0

  // When fading in the modal, animate it to slide down

  &.fade .modal-dialog
    transform translate(0, -25%)
    transition transform 0.3s ease-out

  &.in .modal-dialog
    transform translate(0, 0)

.modal-open .modal
  overflow-x hidden
  overflow-y auto

// Shell div to position the modal with bottom padding
.modal-dialog
  position relative
  width auto
  margin 10px

// Actual modal
.modal-content
  position relative
  background-clip padding-box
  // Remove focus outline from opened modal
  outline 0

// Modal background
.modal-backdrop
  position static
  top 0
  right 0
  bottom 0
  left 0
  z-index $zindex-modal-background
  //background-color $modal-backdrop-bg

  // Fade for backdrop
  &.fade
    opacity-ie(0)

  &.in
    opacity-ie($modal-backdrop-opacity)

// Modal header
// Top section of the modal w/ title and dismiss
.modal-header
  position relative
  height 250px
  padding $modal-title-padding
  border-bottom 1px solid $modal-header-border-color
  min-height ($modal-title-padding + $modal-title-line-height)
// Close icon
.modal-header .close
  margin-top -2px

// Title text within header
.modal-title
  margin 0
  line-height $modal-title-line-height

// Modal body
// Where all modal content resides (sibling of .modal-header and .modal-footer)
.modal-body
  position relative
  background-color $modal-content-bg
  padding $modal-inner-padding

// Footer (for actions)
.modal-footer
  padding $modal-inner-padding
  text-align right // right align buttons
  border-top 1px solid $modal-footer-border-color
  @extend .clearfix // clear it in case folks use .pull-* classes on buttons

  // Properly space out buttons
  .btn + .btn
    margin-left 5px
    margin-bottom 0 // account for input[type="submit"] which gets the bottom margin like all other inputs

  // but override that for button groups
  .btn-group .btn + .btn
    margin-left -1px

  // and override it for block buttons as well
  .btn-block + .btn-block
    margin-left 0

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure
  position absolute
  top -9999px
  width 50px
  height 50px
  overflow scroll

// Scale up the modal
@media (min-width $screen-sm-min)
  .modal
    right 0
  // Automatically set modal's width for larger viewports
  .modal-dialog
    width $modal-md
    margin 131px auto 0 auto

  // Modal sizes
  .modal-sm
    width $modal-sm

@media (min-width $screen-md-min)
  .modal
    right 33%
  .modal-lg
    width $modal-md

@media (min-width $screen-lg-min)
  .modal
    right 50%
  .modal-lg
    width $modal-lg


// Styles of shops
//--------------------------
.modal-link
  &:hover
    cursor pointer

.modal-scroll-area
  max-height calc(90vh - 400px)
  overflow-y auto
  overflow-x hidden

$shop-img-bg-url-path = '/img/shops/'
.shop-img-bg
  background linear-gradient(alpha($av-color-bg, 0.8), alpha($av-color-bg, 0.8)), url($shop-img-bg-url-path + 'g1.jpg')
  background-repeat no-repeat
  background-size cover

.pull-bottom-right
  position absolute
  bottom 14px
  right 14px

.pull-top-right
  position absolute
  top 14px
  right 14px

.modal-header-info
  position absolute
  color $default-color
  font-size 1.214em
  font-family Corbel
  //TODO: check mixin
  link-color()
  &:before
    content ' '
    font-family aviapark
    display: inline-block
    color $default-color
    width 40px

.modal-header-info-name
  top $modal-title-padding
  &:before
    content '\e80c'

.modal-header-info-photo
  bottom $modal-title-padding
  &:before
    content '\e80b'

.shop-img-helper
  display inline-block
  height 100%
  vertical-align middle

.shop-img-label
  vertical-align: middle
  margin-left 40px

.row-information
  display table
  width 100%
  min-height 12rem
  box-shadow 0 -1px 0 0 $av-color-horizon-border inset
  > ul
    margin 0
    display table-row
    > li
      display table-cell
    > li:first-child
      width 60%
    > li:nth-child(2)
      width 40%

.wrapper-show_more
  position relative
  text-align: center

.wrapper-show_more-after
  padding-top 40px

.btn-show_more
  position absolute
  top -16px
  left 50%
  transform translate(-50%, 0)

.shop-name
  font-size 25px
  font-family "Houschka Pro Bold"
  margin 0

.shop-category
  font-size 17px
  font-family Corbel
  margin 0

.shop-tag-title
  font-size 14px
  font-family "Houschka Pro Bold"
  text-transform uppercase

.shop-tags
  font-size 15px
  font-family Corbel
  margin 0

.shop-more-information
  padding 4rem


.shop-all-hr
  margin 0 40px 0 40px
  border 0
  border-top 1px solid $av-color-horizon-border

.modal-social
  position absolute
  top 4rem
  right 4rem
  > span
    margin 0 0 0 5px



// Icons for modal
// TODO: put this to icons.styl
//
.shop-before_icon
  font-family Corbel
  font-size 17px
  margin 0
  &:before
    font-family aviapark
    font-size 20px
    width 25px
    display inline-block

.shop-tel_number
  @extend .shop-before_icon
  font-family "Houschka Pro Bold"
  &:before
    content '\e810'

.shop-work_time
  @extend .shop-before_icon
  &:before
    content '\e80e'

.shop-parking_path
  @extend .shop-before_icon
  text-decoration: underline
  font-size 15px
  &:before
    content '\e80f'

.shop-parking_place
  @extend .shop-before_icon
  text-decoration: underline
  font-size 15px
  &:before
    content '\e811'

.shop-working_week
  @extend .shop-before_icon
  &:before
    content '\e813'

.shop-level
  @extend .shop-before_icon
  &:before
    content '\e814'

.shop-site_link
  @extend .shop-before_icon
  &:before
    content '\e812'


$films-img-bg-url-path = '/img/films/'
.films-img-bg
  background linear-gradient(alpha($av-color-bg, 0.8), alpha($av-color-bg, 0.8)), url($films-img-bg-url-path + 'cinema.jpg')
  background-repeat no-repeat
  background-size cover

.movie-row
  position: relative
  margin 2rem 4rem 2rem 4rem
  padding 0 0 2rem 0
  box-shadow 0 -1px 0 0 $av-color-horizon-border inset

.movie-row-container
  position: relative
  margin 2rem 4rem 2rem 4rem
  box-shadow 0 -1px 0 0 rgba(61,66,82,0.2) inset
  @extend .clearfix

.row-shadow-remove
  box-shadow none !important

.modal-movie-title
  font-size 1em
  font-family "Houschka Pro Bold"
  text-transform: uppercase
  color $av-color-main-text
  margin 0 0 0.5rem 0

.modal-movie-tags
  font-size 1.071em
  font-family Corbel
  color $av-color-second-text

.modal-movie-type
  color $av-color-main-text
  font-size: 1.071em
  margin 2rem 0 5px 0

.modal-movie-perform
  justify-content flex-start
  font-family Corbel
  input
    height 100%
  label
    margin 1px 0
    background-color transparent
    text-align center
  label span
    font-size 1.071em
    height 2.7rem
    width 6.35rem
    border-radius 2.7rem
    color $av-color-main-text
    padding 0 12px
    vertical-align top
    display block
    transition-duration $time-transition
    transition-property all
    transition-timing-function ease-in
  input:checked + span
    background-color $av-color-active
    color $av-color-main-text
    border 2px solid $av-color-active
  label:hover
    cursor pointer
  label span.working
    border 2px solid $av-color-active
    color $av-color-main-text
  input:disabled + span
    color $av-color-second-text

.modal-movie-days
  margin 3.5rem 4rem 0 4rem
  padding-bottom 2rem
  text-align center
  box-shadow 0 -1px 0 0 $av-color-horizon-border inset
  span
    font-size 1em
    line-height 1.214em
    text-transform uppercase
    font-family "Houschka Pro Bold"
    &:hover
      cursor pointer
    &:before
      content '\e016'
      font-family aviapark
      width 3.5rem
      font-size 1.214em
      display inline-block
      vertical-align top
    &:after
      content '\e815'
      font-family aviapark
      width 3.5rem
      font-size 1.214em
      display inline-block
      vertical-align top

.row-information-movie
  width 40%
  float right

.modal-movie-container
  width 60%
  float left

.modal-movie-slider .slick-dots
  text-align left
  li
    margin 0
    button
      padding 5px 0
    button:before
      opacity 1

.block-special-width
  width 269px
  box-shadow 10px 10px 100px 3px rgba(235,235,235,1)