/** initial setup **/
.nano
  position relative
  width 100%
  height 100%
  overflow hidden
  & > .nano-content
    position absolute
    overflow scroll
    overflow-x hidden
    top 0
    right 0
    bottom 0
    left 0
    &:focus
      outline thin dotted
    &::-webkit-scrollbar
      display none
  & > .nano-pane
    background rgba(0,0,0,.25)
    position absolute
    width 10px
    right 0
    top 0
    bottom 0
    visibility hidden \9
    opacity .01
    transition .2s
    border-radius 5px
    & > .nano-slider
      background #444
      background rgba(0,0,0,.5)
      position relative
      margin 0 1px
      border-radius 3px

.has-scrollbar
  & > .nano-content
    &::-webkit-scrollbar
      display block

.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed
  visibility visible \9
  opacity 0.99
