.panel-left
  width 270px
  text-transform uppercase
  margin 0 12.5px 0 0
  display inline-block
  font-family "Houschka Pro Bold"
  .panel
    border 0 solid transparent
  .panel-body
    padding 0
    height 270px
    display-flex
    align-items center
    justify-content center
    flex-direction column
    background-color $brand-primary-light
    color $default-active-color
    font-size $font-size-paragraph
    border-bottom $border-width-large solid $default-active-color
    .panel-body-text
      font-size 15px
    &:hover
      color $default-active-color
      border-bottom $border-width-large solid $default-active-color
  .panel-footer
    padding 0
    height 110px
    border none
    background-color $default-color
    align-items center
    justify-content center
    flex-direction column
    .panel-footer-text
      color $color-panel-left
      font-size 13px
      line-height 13px
      font-family "Houschka Pro Bold"
.panel-body
  position relative
.panel-footer
  background-color $default-color
  min-height 70px
  border-top 1px solid $default-border-light-color
  font-family "Houschka Pro Medium"
  font-size 20px
.panel-brands
  .brand-element
    display inline-block
    width 100%
  .panel
    background none
    border none
  .panel-body
    cursor pointer
    height 135px
    background white
    padding 40px 0
    align-items center
    justify-content center
    flex-direction column
    text-align center
    img
      display inline-block
      max-height 40px
  .panel-body-text
    vertical-align middle
    width 100%
    text-align center
    z-index 100
    padding 1rem 0
    transition-duration $time-transition
  .panel-body:hover .panel-body-text
    height 240px
    background white
    position absolute
    top 0
    margin-top -1*50px
    padding 15% 0 0 0
    box-shadow 0 0 35px rgba(0, 0, 0, 0.5)
  .all-shops
    font-family "Houschka Pro Bold"
    font-size 13px
    color $color-all-shops
    margin-right auto
    margin-left auto
    text-transform uppercase
    width 14rem
    border-radius(2rem)
    border 2px solid $color-all-shops
    &:focus
      outline none
  .brands-descr
    transition all 0.5s
    display none
  .panel-body:hover .brands-descr
    display block
  .brands-descr-title
    padding 10% 10% 5% 10%
    font-size 13px
    .btn.btn-round
      border-color #343847
      color #343847
  .brands-descr-category
    font-size 13px
    border-top 1px solid #eeeeee
    margin 0 20%
    padding 15px 10px

//
// Panels
// --------------------------------------------------


// Base class
.panel
  margin-bottom $line-height-computed
  background-color $panel-bg
  border 1px solid transparent
  border-radius $panel-border-radius
  box-shadow 0 1px 1px rgba(0, 0, 0, .05)

// Panel contents
.panel-body
  padding $panel-body-padding
  @extend .clearfix

// Optional heading
.panel-heading
  padding $panel-heading-padding
  border-bottom 1px solid transparent
  border-top-radius(($panel-border-radius - 1))

  > .dropdown .dropdown-toggle
    color inherit

// Within heading, strip any `h*` tag of its default margins for spacing.
.panel-title
  margin-top 0
  margin-bottom 0
  font-size ceil(($font-size-base * 1.125))
  color inherit

  > a,
  > small,
  > .small,
  > small > a,
  > .small > a
    color inherit

// Optional footer (stays gray in every modifier class)
.panel-footer
  padding $panel-footer-padding
  background-color $panel-footer-bg
  border-top 1px solid $panel-inner-border
  border-bottom-radius(($panel-border-radius - 1))


// List groups in panels
//
// By default, space out list group content from panel headings to account for
// any kind of custom content between the two.

.panel
  > .list-group,
  > .panel-collapse > .list-group
    margin-bottom 0

    .list-group-item
      border-width 1px 0
      border-radius 0

    // Add border top radius for first one
    &:first-child
      .list-group-item:first-child
        border-top 0
        border-top-radius(($panel-border-radius - 1))

    // Add border bottom radius for last one
    &:last-child
      .list-group-item:last-child
        border-bottom 0
        border-bottom-radius(($panel-border-radius - 1))

// Collapse space between when there's no additional content.
.panel-heading + .list-group
  .list-group-item:first-child
    border-top-width 0

.list-group + .panel-footer
  border-top-width 0

// Tables in panels
//
// Place a non-bordered `.table` within a panel (not within a `.panel-body`) and
// watch it go full width.

.panel
  > .table,
  > .table-responsive > .table,
  > .panel-collapse > .table
    margin-bottom 0

    caption
      padding-left $panel-body-padding
      padding-right $panel-body-padding

  // Add border top radius for first one
  > .table:first-child,
  > .table-responsive:first-child > .table:first-child
    border-top-radius(($panel-border-radius - 1))

    > thead:first-child,
    > tbody:first-child
      > tr:first-child
        border-top-left-radius ($panel-border-radius - 1)
        border-top-right-radius ($panel-border-radius - 1)

        td:first-child,
        th:first-child
          border-top-left-radius ($panel-border-radius - 1)

        td:last-child,
        th:last-child
          border-top-right-radius ($panel-border-radius - 1)

  // Add border bottom radius for last one
  > .table:last-child,
  > .table-responsive:last-child > .table:last-child
    border-bottom-radius(($panel-border-radius - 1))

    > tbody:last-child,
    > tfoot:last-child
      > tr:last-child
        border-bottom-left-radius ($panel-border-radius - 1)
        border-bottom-right-radius ($panel-border-radius - 1)

        td:first-child,
        th:first-child
          border-bottom-left-radius ($panel-border-radius - 1)

        td:last-child,
        th:last-child
          border-bottom-right-radius ($panel-border-radius - 1)

  > .panel-body + .table,
  > .panel-body + .table-responsive,
  > .table + .panel-body,
  > .table-responsive + .panel-body
    border-top 1px solid $table-border-color

  > .table > tbody:first-child > tr:first-child th,
  > .table > tbody:first-child > tr:first-child td
    border-top 0

  > .table-bordered,
  > .table-responsive > .table-bordered
    border 0

    > thead,
    > tbody,
    > tfoot
      > tr
        > th:first-child,
        > td:first-child
          border-left 0
        > th:last-child,
        > td:last-child
          border-right 0

    > thead,
    > tbody
      > tr:first-child
        > td,
        > th
          border-bottom 0

    > tbody,
    > tfoot
      > tr:last-child
        > td,
        > th
          border-bottom 0

  > .table-responsive
    border 0
    margin-bottom 0


// Collapsable panels (aka, accordion)
//
// Wrap a series of panels in `.panel-group` to turn them into an accordion with
// the help of our collapse JavaScript plugin.

.panel-group
  margin-bottom $line-height-computed

  // Tighten up margin so it's only between panels
  .panel
    margin-bottom 0
    border-radius $panel-border-radius

    + .panel
      margin-top 5px

  .panel-heading
    border-bottom 0

    + .panel-collapse > .panel-body,
    + .panel-collapse > .list-group
      border-top 1px solid $panel-inner-border

  .panel-footer
    border-top 0

    + .panel-collapse .panel-body
      border-bottom 1px solid $panel-inner-border


// Contextual variations
.panel-default
  panel-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border)

.panel-primary
  panel-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border)

.panel-success
  panel-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border)

.panel-info
  panel-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border)

.panel-warning
  panel-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border)

.panel-danger
  panel-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border)
