.selectize-control
  height 63px

.selectize-control
  &.plugin-drag_drop
    &.multi
      & > .selectize-input
        & > div
          &.ui-sortable-placeholder
            visibility visible !important
            background #f2f2f2 !important
            background rgba(0, 0, 0, 0.06) !important
            border 0 none !important
            box-shadow inset 0 0 12px 4px #ffffff

.selectize-control
  &.plugin-drag_drop
    .ui-sortable-placeholder
      &::after
        content '!'
        visibility hidden
    .ui-sortable-helper
      box-shadow 0 2px 5px rgba(0, 0, 0, 0.2)

.selectize-dropdown-header
  position relative
  padding 5px 8px
  border-bottom 1px solid #d0d0d0
  background #f8f8f8
  border-radius 0

.selectize-dropdown-header-close
  position absolute
  right 8px
  top 50%
  color #303030
  opacity 0.4
  margin-top -12px
  line-height 20px
  font-size 20px !important

.selectize-dropdown-header-close
  &:hover
    color #000000

.selectize-dropdown
  &.plugin-optgroup_columns
    .optgroup
      border-right 1px solid #f2f2f2
      border-top 0 none
      float left
      box-sizing border-box
      &:last-child
        border-right 0 none
      &:before
        display none
    .optgroup-header
      border-top 0 none

.selectize-control
  &.plugin-remove_button
    [data-value]
      position relative
      padding-right 24px !important

.selectize-control
  &.plugin-remove_button
    [data-value]
      .remove
        z-index 1
        position absolute
        top 0
        right 0
        bottom 0
        width 17px
        text-align center
        font-weight bold
        font-size 12px
        color inherit
        text-decoration none
        vertical-align middle
        display inline-block
        padding 2px 0 0 0
        border-left 1px solid #0073bb
        border-radius 0 2px 2px 0
        box-sizing border-box

.selectize-control
  position relative
  &.plugin-remove_button
    [data-value]
      .remove
        &:hover
          background rgba(0, 0, 0, 0.05)
    [data-value].active
      .remove
        border-left-color #00578d
    .disabled
      [data-value]
        .remove
          border-left-color #aaaaaa
          &:hover
            background none

.selectize-dropdown,
.selectize-input,
.selectize-input input
  color rgb(80, 84, 100)
  font-size 12px
  font-family "Houschka Pro Bold"
  line-height 18px
  -webkit-font-smoothing inherit
  text-transform uppercase

.selectize-input,
.selectize-control.single .selectize-input.input-active
  background #ffffff
  cursor text
  display inline-block

.selectize-input
  height 63px
  line-height 63px
  display inline-block
  width 100%
  overflow hidden
  position relative
  z-index 1
  box-sizing border-box
  border-radius 0
  &:before
    content '\e805'
    font-family aviapark
    margin 0 5px 0 20px
    font-size 19px
    line-height 63px
    color #8A93AD

.selectize-control
  &.multi
    .selectize-input
      &.has-items
        padding 5px 8px 2px

.selectize-input
  &.full
    background-color #ffffff
  &.focus
    box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.15)
  &.dropdown-active
    border-radius 0
  & > *
    vertical-align baseline
    display inline-block
    zoom 1

.selectize-input.disabled,
.selectize-input.disabled *
  cursor default !important

.selectize-control
  &.multi
    .selectize-input
      & > div
        cursor pointer
        margin 0 3px 3px 0
        padding 2px 6px
        background #1da7ee
        color #ffffff
        border 1px solid #0073bb
        &.active
          background #92c836
          color #ffffff
          border 1px solid #00578d

.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active
  color #ffffff
  background #d2d2d2
  border 1px solid #aaaaaa

.selectize-input
  & > input
    display inline-block !important
    padding 0 !important
    min-height 0 !important
    max-height none !important
    max-width 100% !important
    margin 0 1px !important
    text-indent 0 !important
    border 0 none !important
    background none !important
    line-height inherit !important
    box-shadow none !important

.selectize-input
  & > input
    &::-ms-clear
      display none
    &:focus
      outline none !important
  &::after
    content ' '
    display block
    clear left

.selectize-input
  &.dropdown-active
    &::before
      content '\e805'
      font-family aviapark
      margin 0 5px 0 20px
      font-size 19px
      line-height 63px

.selectize-dropdown
  position absolute
  z-index 10
  border 1px solid #d0d0d0
  background #ffffff
  margin -1px 0 0 0
  border-top 0 none
  box-sizing border-box
  box-shadow 0 1px 3px rgba(0, 0, 0, 0.1)
  border-radius 0 0 3px 3px

.selectize-dropdown
  [data-selectable]
    cursor pointer
    overflow hidden
    .highlight
      background rgba(125, 168, 208, 0.2)
      border-radius 1px
  .optgroup
    &:first-child
      .optgroup-header
        border-top 0 none
  .optgroup-header
    color rgb(80, 84, 100)
    background rgb(247, 250, 250)
    cursor default
  .active
    background-color #f5fafd
    color #495c68
    &.create
      color #495c68
  .create
    color rgba(48, 48, 48, 0.5)

.selectize-dropdown-content
  overflow-y auto
  overflow-x hidden
  max-height 63rem
  min-width 77.5rem

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input
  cursor pointer

.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input
  cursor text

.selectize-control
  &.single
    .selectize-input
      &.dropdown-active
        &:after
          margin-top -4px
          border-width 0 5px 5px 5px
          border-color transparent transparent #808080 transparent
  &.rtl
    &.single
      .selectize-input
        &:after
          left 15px
          right auto
    .selectize-input
      & > input
        margin 0 4px 0 -2px !important
  .selectize-input
    &.disabled
      opacity 0.5
      background-color #fafafa
  &.multi
    .selectize-input
      &.has-items
        padding-left 5px
        padding-right 5px
      &.disabled
        [data-value]
          color #999
          text-shadow none
          background none
          box-shadow none

.selectize-control.multi .selectize-input.disabled [data-value],
.selectize-control.multi .selectize-input.disabled [data-value] .remove
  border-color #e6e6e6

.selectize-control
  &.multi
    .selectize-input
      &.disabled
        [data-value]
          .remove
            background none

.selectize-control
  &.multi
    .selectize-input
      [data-value]
        text-shadow 0 1px 0 rgba(0, 51, 83, 0.3)
        -webkit-border-radius 3px
        -moz-border-radius 3px
        border-radius 3px
        background-color #1b9dec
        background-image linear-gradient(to bottom, #1da7ee, #178ee9)
        background-repeat repeat-x
        box-shadow 0 1px 0 rgba(0,0,0,0.2),inset 0 1px rgba(255,255,255,0.03)

.selectize-control
  &.multi
    .selectize-input
      [data-value].active
        background-color #0085d4
        background-image linear-gradient(to bottom, #008fd8, #0075cf)
        background-repeat repeat-x

.selectize-control.single .selectize-input,
.selectize-dropdown.single
  border-color #b8b8b8

.selectize-dropdown
  .optgroup-header
    padding 7px 0 7px 15px
    font-weight bold
    font-size 14px
    font-family "Houschka Pro Bold"

.selectize-dropdown
  .optgroup
    border-top 1px solid #f0f0f0
    &:first-child
      border-top 0 none

.selectize-input
  input
    &::-webkit-input-placeholder
      color rgb(80, 84, 100)
    &:-moz-placeholder
      color rgb(80, 84, 100)
    &::-moz-placeholder
      color rgb(80, 84, 100)
    &:-ms-input-placeholder
      color rgb(80, 84, 100)
