.slick-dots
  bottom -1*55px
.slick-dots li
  width 12px
  height 12px
  margin 0
.slider-element
  margin 0 12.5px 0 0
  width 269px
  font-family Corbel, Verdana, "Bitstream Vera Sans", sans-serif
  .panel
    border 0 solid transparent
    box-shadow none

slider-element-color($text-color, $background-element)
  .panel
    border-bottom-color: $background-element
  .label-rectangle
    background-color: $background-element
    color: $text-color
  .circle-information
    color: $text-color
    background-color: $background-element
.slider-element-yellow
  slider-element-color($default-color, $tile-image-kidzania-bg)
.slider-element-blue
  slider-element-color($tile-light-blue-bg, $color_onahau_approx)
.slider-element-pink
  slider-element-color($default-color, $tile-pink-bg)
.slider-element-purple
  slider-element-color($default-color, $tile-purple-bg)

.sale-preview
  position relative
.shape-like
  position absolute
  top 0
  right 0
  width 70px
  height 70px
  .circle-like
    stroke-width 35
    stroke-linecap round
    stroke $brand-primary-light
    transition all $time-transition
  .icon-like
    fill $default-active-color
    stroke $default-active-color
    transition all $time-transition
  &:hover
    cursor pointer
    .circle-like
      stroke-width 45
    .icon-like
      fill $lang-switcher
      stroke $lang-switcher
.shape-launch
  position absolute
  top 0
  left 0
  width 70px
  height 70px
  .circle-like
    stroke-width 35
    stroke-linecap round
    stroke $brand-primary-light
  .icon-launch-share
    stroke $default-active-color
    fill $default-active-color
  &:hover
    cursor pointer
.label-rectangle
  position absolute
  bottom -1*18px
  left 20px
  line-height 36px
  font-size 17px
  font-weight 700
  padding 0 9px 0 9px
  word-wrap normal
.wrap
  line-height 22px
.sales-meta-description
  font-weight 700
  font-size 17px
  color $brand-primary-light
.sales-meta-option
  font-size 15px
  line-height 26px
  margin 15px 0 15px 0
  color $sales-meta-option
  .option
    display inline-block
.sales-meta-information
  margin 50px 0 0 0
  position relative
  .circle-information
    height 46px
    width 46px
    line-height 46px
    border-radius 46px
    color transparent
    background-color transparent

.sales-meta-discount
  display inline-block
  float left
.sales-meta-price
  float right
  .currency
    font-size 13px
.slick-list, .slick-track, .slick-slider
  height 100%
.slick-slide
  background-size cover
  position relative
.slick-dots
  width inherit
  left inherit
  li
    height 10px
    width 10px
    margin 0 1px
    button
      width 8px
      height 8px
      padding 0
      background-color #a8f0de
      opacity 0.4
      border-radius 100%
      &:before
        content none
  .slick-active button
    opacity 1
#promo-slider
  .slick-slide
    position relative
  .slick-dots
    bottom 7%
    right 3%
    width inherit
    left inherit
    li
      height 10px
      width 10px
      margin 0 1px
      button
        width 8px
        height 8px
        padding 0
        background-color #a8f0de
        opacity 0.4
        border-radius 100%
        &:before
          content none
    .slick-active button
      opacity 1
  .slick-slide
    position relative
    background-position 50% 0
  .slide1
    background-image url(../img/main_slider/2.jpg)
  .slide2
    background-image url(../img/main_slider/4.jpg)
  .slide3
    background-image url(../img/main_slider/3.jpg)
  .slide4
    background-image url(../img/main_slider/1.jpg)
#karo-slider
  .carousel-caption
    background rgba(61, 66, 82, 0.8)
    bottom 0
    left 0
    width 100%
    height 80px
    padding 10px 20px
    font-size 13px
  .promo-title
    text-transform none
    padding 0
  .karo-icon
    float left
    object
      height 9px
      padding-right 5px
  .schedule
    font-size 11px
    color white
    text-transform none
    padding 2px 10px
    margin-bottom: 3px
    background #3d4252
    display inline-block
  .time
    color white
  .link-tickets
    position absolute
    right 3%
    padding 3% 4%
    top 25%
    color #a3e8d7
    border 2px solid #a3e8d7
    background none
    font-size 11px
    a
      color #a3e8d7
  .carousel-indicators
    left 0
    width 30%
  .icon-play
    color #b0fde9
    padding-right 10px
  .slick-slide
    position relative
    background-position 50% 0
  .slick-dots
    bottom 7%
    width inherit
    left 4%
  .slide1
    background-image url(../img/karo_slider/1.jpg)
  .slide2
    background-image url(../img/karo_slider/2.jpg)
  .slide3
    background-image url(../img/karo_slider/3.jpg)
  .slide4
    background-image url(../img/karo_slider/4.jpg)
.carousel-caption
  bottom 0
  left 0
  text-align left
  background: $color_bright_gray_60_approx
  width 100%
  height 30%
  padding 4% 4%
  font-size 13px
  text-shadow none
.promo-title
  text-transform uppercase
  padding-top 5px
.promo-icon
  display none
  float left
  width 60px
  i
    font-size 2em
.promo-logo
  width 12.5%
  position absolute
  bottom 22.5%
  z-index 100
  left 4%
  img
    width 100%