.tile.tile-brand-slider,
.tile.tile-karo-slider
  height 230px
.tile-blue
  background #2574ed
.tile-orange
  background #d84f2b
.tile-red
  background #b91c47
.tile-green
  background #029d1b
.tile-light-blue.tile:hover .tile-text-wrapper
  padding-top 10%
.tile-purple.tile:hover .tile-text-wrapper
  padding-top 18%
.tile-pink.tile:hover .tile-text-wrapper
  padding-top 18%
.tile-kidzania.tile:hover img
  margin-top 30%
.tile-light-blue
  color #5c6abd
  background-color #cbf5ff
.tile.tile-brand-slider .slide-brand
  bottom 25%
.tile-wifi
  color $color_bermuda_approx
  background $color_bright_gray_approx
.tile-wifi .tile-description
  letter-spacing 1px
  color $color_bermuda_approx
  padding-top 43%