//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix
  clearfix()

.center-block
  center-block()

.pull-right
  float right !important

.pull-left
  float left !important


// Toggling content
// -------------------------

// Note Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide
  display none !important

.show
  display block !important

.invisible
  visibility hidden

.text-hide
  text-hide()


// Hide from screenreaders and browsers
//
// Credit HTML5 Boilerplate

.hidden
  display none !important


// For Affix plugin
// -------------------------

.affix
  position fixed


/* Margin
 ========================================================================== */

*/

.av-margin-top
  margin-top $utility-margin !important
.av-margin-bottom
  margin-bottom $utility-margin !important
.av-margin-left
  margin-left $utility-margin !important
.av-margin-right
  margin-right $utility-margin !important

/*
* Larger margins
*/

.av-margin-large-top
  margin-top: $utility-margin-large !important
.av-margin-large-bottom
  margin-bottom $utility-margin-large !important
.av-margin-large-left
  margin-left $utility-margin-large !important
.av-margin-large-right
  margin-right $utility-margin-large !important

/*
 * Smaller margins
 */

.av-margin-small-top
  margin-top $utility-margin-small !important
.av-margin-small-bottom
  margin-bottom $utility-margin-small !important
.av-margin-small-left
  margin-left $utility-margin-small !important
.av-margin-small-right
  margin-right $utility-margin-small !important

/*
 * Remove margins
 */

.av-margin-remove
  margin 0 !important
.av-margin-top-remove
  margin-top 0 !important
.av-margin-bottom-remove
  margin-bottom 0 !important



/*
 * Links
 */

link-color(unvisited = $default-color, visited = $default-color, mouseover = $av-color-active, selected = $av-color-active)
  /* unvisited link */
  a:link
    color: unvisited
  /* visited link */
  a:visited
    color: visited
  /* mouse over link */
  a:hover
    cursor pointer
    color: mouseover
  /* selected link */
  a:active
    color: selected
