//
// Wells
// --------------------------------------------------


// Base class
.well
  min-height 20px
  padding 2rem 4rem
  position relative
  width 100%
  @extend .clearfix

// Sizes
.well-lg
  padding 24px
.well-sm
  padding 9px
