.icon-views:before
  display: inline-block
  vertical-align: middle
  margin: 0 8px 0 0
  font-size: 20px

.icon-sales-svg-views
  display: inline-block
  vertical-align: middle
  margin: 0 6px 0 0
  height: 20px
  width: 20px
  fill: $sales-meta-option

.slick-dots
  bottom: -55px

// content

.main-content
  padding: 100px 0 0 0
  background-color: $background-content

// Sales row

.panel-left
  width: 270px
  text-transform: uppercase
  margin: 0 12.5px 0 0
  display: inline-block
  font-family: "Houschka Pro Bold"
  .panel
    border: 0 solid transparent
    cursor: pointer
  .panel-body
    padding: 0
    height: 270px
    +display-flex
    +align-items(center)
    +justify-content(center)
    +flex-direction(column)
    background-color: $brand-primary-light
    color: $default-active-color
    font-size: $font-size-paragraph
    border-bottom: $border-width-large solid $default-active-color
    box-sizing: border-box
    .panel-body-text
      font-size: 15px
    &:hover
      color: $default-active-color
      border-bottom: $border-width-large solid $default-active-color
  .panel-footer
    padding: 0
    height: 110px
    border: none
    background-color: $default-color
    +display-flex
    +align-items(center)
    +justify-content(center)
    +flex-direction(column)
    .panel-footer-text
      color: $color-panel-left
      font-size: 13px
      line-height: 13px
      font-family: "Houschka Pro Bold"



// Slider elements
.slick-dots li
  width: 12px
  height: 12px
  margin: 0
.slider-element
  margin: 0 12.5px 0 0
  width: 269px
  font-family: Corbel, Verdana, "Bitstream Vera Sans", sans-serif
  .panel
    background: none
    border: 0
    box-shadow: none

.panel-body
  position: relative

.panel-footer
  background-color: $default-color
  min-height: 70px
  border-top: 1px solid $default-border-light-color

.sale-preview
  position: relative

.shape-like
  position: absolute
  top: 0
  right: 0
  width: 70px
  height: 70px
  .circle-like
    stroke-width: 35
    stroke-linecap: round
    stroke: $brand-primary-light
    transition: all 0.2s
  .icon-like
    fill: $default-active-color
    stroke: $default-active-color
    transition: all 0.2s
  &:hover
    cursor: pointer
    .circle-like
      stroke-width: 45
    .icon-like
      fill: $lang-switcher
      stroke: $lang-switcher

.shape-launch
  position: absolute
  top: 0
  left: 0
  width: 70px
  height: 70px
  .circle-like
    stroke-width: 35
    stroke-linecap: round
    stroke: $brand-primary-light
  .icon-launch-share
    stroke: $default-active-color
    fill: $default-active-color
  &:hover
    cursor: pointer


.label-rectangle
  position: absolute
  bottom: -18px
  left: 20px
  line-height: 36px
  font-size: 17px
  font-weight: 700
  padding: 0 9px 0 9px
  word-wrap: normal
.wrap
  line-height: 22px

.sales-meta-description
  font-weight: 700
  font-size: 17px
  color: $brand-primary-light

.sales-meta-option
  font-size: 15px
  line-height: 26px
  margin: 15px 0 15px 0
  color: $sales-meta-option
  .option
    display: inline-block

.sales-meta-information
  margin: 50px 0 0 0
  position: relative
  .circle-information
    height: 46px
    width: 46px
    line-height: 46px
    border-radius: 46px
    color: transparent
    background-color: transparent


.panel-footer
  font-family: "Houschka Pro Medium"
  font-size: 20px

.sales-meta-discount
  display: inline-block
  float: left

.sales-meta-price
  float: right
  .currency
    font-size: 13px

// Color for slider elemets
=slider-element-color($text-color,$background-element)
  .panel
    border-bottom-color: $background-element
  .label-rectangle
    background-color: $background-element
    color: $text-color
  .circle-information
    color: $text-color
    background-color: $background-element

.slider-element-yellow
  +slider-element-color($default-color, $tile-image-kidzania-bg)

.slider-element-blue
  +slider-element-color($tile-light-blue-bg, $color_onahau_approx)

.slider-element-pink
  +slider-element-color($default-color, $tile-pink-bg)

.slider-element-purple
  +slider-element-color($default-color, $tile-purple-bg)

// Brands
.panel-brands
  .brand-element
    display: inline-block
    width: 100%
  .panel
    background: none
    border: none
  .panel-body
    cursor: pointer
    height: 135px
    background: #fff
    padding: 40px 0
    +display-flex
    +justify-content(center)
    +flex-direction(column)
    img
      display: inline-block
      max-height: 40px
  .panel-body:nth-child(even)
    background: $color-navigation-hover
  .panel-body-bg
    background: $color-navigation-hover
    opacity: 0
    position: absolute
    margin-top: -50px
    top: 0
    width: 100%
    height: 240px
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.5)
    z-index: 100
    transition: opacity 0.3s
  .panel-body-text
    vertical-align: middle
    width: 100%
    text-align: center
    z-index: 100
    padding: 1rem 0
    top: 40px
    z-index: 100
    +transition-duration(0.5s)
  .panel-body:hover
    .panel-body-text
      height: 240px
      //background: #FFF
      position: absolute
      top: 0
      margin-top: -50px
      padding: 15% 0 0 0
  .panel-body:hover .panel-body-bg
    opacity: 1
  .all-shops
    background: $btn-secondary-bg
    font-family: "Houschka Pro Bold"
    font-size: 13px
    color: $color-all-shops
    margin-right: auto
    margin-left: auto
    text-transform: uppercase
    width: 14rem
    padding: 0 18px
    height: 34px
    line-height: 32px
    +border-radius(2rem)
    border: 2px solid $color-all-shops
    &:focus
      outline: none
  .brands-descr
    transition: opacity 0.3s
    opacity: 0
  .panel-body:hover .brands-descr
    opacity: 1
  .brands-descr-title
    padding: 10% 10% 5% 10%
    font-size: 14px
    .btn.btn-round
      border-color: #343847
      color: #343847
  .brands-descr-category
    font-size: 13px
    border-top: 1px solid #EEE
    margin: 0 20%
    padding: 15px 10px
@media (min-width: 480px)
  .brands-descr-title
    font-size: 15px
.panel-social-information
  .social-element
    .panel
      border: none
      background: none
    .panel-body
      @extend .vertical-horizonatal-center
      width: 100%
      height: 100%
      padding: 0
      img
        width: 100%
    .panel-body-text
      overflow: hidden
      opacity: 0.6
    .panel-body-text:hover
      opacity: 1

.scale-icon-effect .scale-icon
  box-shadow: 0 0 0 4px #fff
  -webkit-transition: color 0.3s
  -moz-transition: color 0.3s
  transition: color 0.3s
  &:after
    top: -2px
    left: -2px
    padding: 2px
    z-index: -1
    background: #fff
    -webkit-transition: -webkit-transform 0.2s, opacity 0.3s
    -moz-transition: -moz-transform 0.2s, opacity 0.3s
    transition: transform 0.2s, opacity 0.3s

.scale-icon-effect-fst .scale-icon:hover
  color: #fff
  &:after
    -webkit-transform: scale(1.3)
    -moz-transform: scale(1.3)
    -ms-transform: scale(1.3)
    transform: scale(1.3)
    opacity: 0

/* Effect 3b

.scale-icon-effect-snd .scale-icon
  color: #fff
  &:hover
    color: #f06060
  &:after
    -webkit-transform: scale(1.3)
    -moz-transform: scale(1.3)
    -ms-transform: scale(1.3)
    transform: scale(1.3)
    opacity: 0
  &:hover:after
    -webkit-transform: scale(1)
    -moz-transform: scale(1)
    -ms-transform: scale(1)
    transform: scale(1)
    opacity: 1

.social-in-corner
  position: absolute
  right: 0.8em
  bottom: 0.8em
  &:hover
    cursor: pointer
