// ** Discount page styles
label
  font-weight: normal
// Row of filters and options
.discount-nav-row
  +display-flex

// Elements of row for discount
.discount-box-filter
  width: 6.3rem
  +transition-duration(0.3s)
  +transition-property(width)
  +transition-timing-function(linear)
  >label
    margin: 0
    background-color: $default-color
    border-left: 1px solid $color-navigation-border
    width: 100%
    height: 6.3rem
    overflow: hidden
    text-transform: uppercase
    +display-flex
    +justify-content(flex-start)
    +align-items(center)
    /* transition
    +transition-duration(0.3s)
    +transition-property(all)
    +transition-timing-function(linear)
  label:hover
    cursor: pointer
    background: $av-color-white-hover
    .discount-box-filter-text
      opacity: 1
  .avv-2x
    margin: 0 10px 0 17px // Hardcode by Mihail

.discount-box
  border-left: 1px solid $color-navigation-border
  height: 6.3rem
  width: 6.3rem
  +display-flex
  +justify-content(center)
  +align-items(center)
  background-color: $default-color

.discount-box-filter-text
  color: $av-color-main-text
  +transition-duration(0.3s)
  +transition-property(all)
  opacity: 0
  font-family: "Houschka Pro Bold"

// Modifications for elements
=discount-box-filter-mixin($color)
  input[type=checkbox]:checked:not(old) + label
    +single-box-shadow(0, -6px, 0, 0, $color, inset)

.discount-box-filter-special
  +discount-box-filter-mixin($av-color-yellow)
  &:hover
    width: 13rem // Hardcode by Mihail

.discount-box-filter-collection
  +discount-box-filter-mixin($av-color-cian)
  &:hover
    width: 16rem // Hardcode by Mihail

.discount-box-filter-calendar
  +discount-box-filter-mixin($av-color-pink)
  &:hover
    width: 14rem // Hardcode by Mihail

.discount-box-filter-news
  +discount-box-filter-mixin($av-color-purple)
  &:hover
    width: 14rem // Hardcode by Mihail

.discount-box-filter-favourite
  label
    +justify-content(center)
  input[type=checkbox]:checked + label
    .avv-color-active
      color: $av-color-pink
  .av-star
    font-size: 1.6rem // Hardcode by Mihail
  .av-circle
    font-size: 4.2rem // Hardcode by Mihail
  .avv-stack
    width: 4.2rem // Hardcode by Mihail
    height: 4.2rem // Hardcode by Mihail
    line-height: 4.2rem // Hardcode by Mihail

.discount-box-filter-favourite
  i
    +transition-duration(0.3s)
    +transition-property(all)
    +transition-timing-function(ease-in)

.discount-box-filter-map
  input[type=checkbox]:checked + label
    .av-map2:before
      content: '\e803'

.discount-box-filter-clear
  cursor: pointer
  span
    line-height: 6.3rem
    font-size: 0.923em
    color: $av-color-main-text
    text-transform: uppercase
    font-family: "Houschka Pro Bold"

button.av-close-btn
  padding: 0
  background: transparent
  border: 0
  -webkit-appearance: none

.av-close-btn
  font-size: 2.308em
  font-weight: bold
  vertical-align: top
  color: $av-color-main-text
  text-shadow: 0 1px 0 #fff
  opacity: 0.6
  filter: alpha(opacity=20)
  img
    vertical-align: top
    width: 15px
    padding-top: 12px


// Search element
.discount-search
  background-color: $default-color
  border-left: 1px solid $color-navigation-border
  .av-search-field
    text-transform: uppercase
    padding: 0 0 0 4rem
  +flex(1 0)
  //+display-flex
  +justify-content(flex-start)
  +align-items(center)

