.cl-effect-4 a
  padding: 0 0 10px

.cl-effect-4 a::after
  position: absolute
  top: 100%
  left: 0
  width: 100%
  height: 1px
  background: #A8F0DE
  content: ''
  opacity: 0
  transition: height 0.3s, opacity 0.3s, transform 0.3s
  transform: translateY(-3px)
  margin-top: -20px

.cl-effect-4 a:hover::after,
.cl-effect-4 a:focus::after
  height: 3px
  opacity: 1
  -webkit-transform: translateY(0px)
  -moz-transform: translateY(0px)
  transform: translateY(0px)
  margin-top: -20px

.affix .cl-effect-4 a::after,
.affix .cl-effect-4 a:hover::after,
.affix .cl-effect-4 a:focus::after
  margin-top: -8px