footer
  color: $default-color
  font-size: $font-size-footer
  background-color: $default-footer-color
  .show-more-row
    line-height: 64px
    height: 64px
    border-bottom: 1px solid $color-hr
    text-align: center
    .av-chevron-down
      color: $default-active-color
      height: 7px

// sticky footer
footer, .push
  height: 241px /* '.push' must be the same height as 'footer' */

.flexible-footer
  padding: 0
  text-align: center
  color: $default-color
  +display-flex
  //+flex-wrap(wrap)
  > li
    //min-width: 28rem
    height: 17.7rem
    padding: .5rem
    display: inline-block
    /* non-flexbox browsers
    +flex(1 0)
    /* non-flexbox browsers
    +display-flex(inline-flex)
    +align-items(center)
    +justify-content(center)
  .list-inline
    margin-left: 5px
    width: 60%

@media (min-width: 1400px)
  .flexible-footer
    .list-inline
      width: 80%
.footer-logo
  width: 205px
  height: 25px
  margin: 0 0 0.8rem 0

.clocks
  background: url(../img/clocks.png) bottom no-repeat
  float: left
  width: 34px
  height: 34px

.open-time
  li:first-child
    margin: 0 5px 0 0
  li > ol
    text-align: left

.subscription
  margin: 0
  input[type="email"]
    @include transition(all 0.20s ease-in-out)
    +input-placeholder
      color: inherit
    outline: none
    background: $default-footer-color
    border: 2px solid #757a8c
    +border-radius(6rem)
    padding: 0 15px
    line-height: 34px
    height: 36px
    margin-right: -25px
    margin-left: 25px
    text-transform: uppercase
    width: 155px
    &:focus
      @include box-shadow(0 0 5px $default-active-color)
      border: 2px solid $default-active-color
  button[type="submit"]
    position: relative
    right: 20px
    background-color: transparent
    display: inline-block
    text-align: center
    cursor: pointer
    border: 0 solid transparent
    padding: 0
    height: 36px
    line-height: 32px
    &:focus
      border: 0 solid transparent
  .submit-icon
    font-size: 36px
    vertical-align: -24%
    color: $default-active-color
    &:focus
      border: 0 solid transparent
  label
    display: block
    text-transform: uppercase
    padding: 0 0 0 1.6rem
    text-align: left
    font-weight: normal

@media (min-width: 992px)
  .subscription
    input[type="email"]
      margin-left: 0

@media (min-width: 1400px)
  .subscription
    margin: 0 0 0 2.5rem
    input[type="email"]
      width: 200px
.footer-information
  li
    text-align: left
    text-transform: uppercase
    padding-bottom: 4px
    a
      +transition-property(all)
      +transition-duration(0.2s)
      +transition-timing-function(ease-in)
      color: $default-color
      text-decoration: none
      border-bottom: 1px solid transparent
    a:hover
      color: $default-active-color
      text-decoration: none
      border-bottom: 1px solid $default-active-color


/* mobile footer
//-------------------------------------------------
.footer-mobile
  padding: 0
  .subscription
    label
      padding: 0
      text-align: center
  .row-padded
    padding: 35px
  .company-brand
    padding: 3.7rem 0
  .company-brand img
    height: 20px
  ul
    color: #a6acc0
  .list-unstyled
    text-transform: uppercase
    li
      padding: 12px 0
      border-bottom: 1px solid #6d707a
      &:last-child
        border: none
      a
        color: #a6acc0
        font-size: 80%
  .row
    border-bottom: 1px solid #6d707a
  .open-hours
    display: -webkit-box      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox      /* TWEENER - IE 10 */
    display: -webkit-flex     /* NEW - Chrome */
    display: flex             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: center