html, body
  height: 100%
/* affix */
.affix
  position: static
/* overrides */
.navbar-nav
  margin: 20px 0
  > li > a
    padding-top: 10px
    padding-bottom: 10px
    line-height: 20px

.btn-group-sm > .navbar-btn.btn, .navbar-btn.btn-sm
  margin-top: 35px
  margin-bottom: 35px

.btn-group-xs > .navbar-btn.btn, .navbar-btn.btn-xs
  margin-top: 39px
  margin-bottom: 39px
//TODO: delete
//.navbar-text
//  margin-top: 40px
//  margin-bottom: 40px

.btn-circle, .btn-round
  border-radius: 36px
  border-width: 1px

.btn.btn-round
  padding: 6px 17px

.btn.btn-right
  float: right

.btn.btn-outline
  border-color: #656c81
  font-family: "Houschka Pro Bold"
  font-size: 13px

.btn.btn-default
  color: #fff

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus
  background: none

/*	width: 120%*/

.col-md-25
  width: 25%
  float: left

.col-md-50
  width: 50%
  float: left

.col-right .navbar-btn
  margin: 0
  transition: all 0.5s

.navbar-btn.register .btn-outline,
.navbar-btn.routes .btn-outline
  border: none

.navbar-btn.register .btn-outline:active,
.navbar-btn.routes .btn-outline:active,
.navbar-btn.register .btn-outline:hover,
.navbar-btn.routes .btn-outline:hover
  background: none
  box-shadow: none

.navbar-btn.register
  border-left: 1px solid #535866

@media (min-width: 480px)
  .container
    width: 480px
  .main-menu.affix
    margin-top: 70px

@media (min-width: 768px)
  .container
    width: 768px
  .navbar-nav
    float: left
    > li
      float: left
      > a
        padding-top: 40px
        padding-bottom: 40px
  .col-md-50
    width: 60%
  .col-md-25
    width: 20%
  .navbar-toggle
    display: block
  .navbar-nav
    margin: 20px 0
  .company-brand > a
    padding-top: 15px !important
    padding-bottom: 5px !important

@media (min-width: 992px)
  .container
    width: 960px
  .col-md-50
    width: 60%
  .col-md-25
    width: 24%
  .col-md-25.col-right
    width: 12%
  .navbar-toggle
    display: none
  .navbar-nav
    margin: 0 0
  .nav-center.navbar-nav
    margin: 0 0
  .navbar-btn.register,
  .navbar-btn.routes
    margin-top: 12px
    margin-bottom: 15px
    text-align: right
  .navbar-btn.register .btn-outline,
  .navbar-btn.routes .btn-outline
    border: 2px solid #656C81
    border-radius: 17px
  .navbar-btn.register .btn-outline:hover,
  .navbar-btn.routes .btn-outline:hover
    background: #fff
    border-color: #fff
    color: #3D4252
  .navbar-btn.register
    border: none
  .main-menu
    padding-top: 148px
    &.affix
      padding-top: 68px
      margin-top: 0
  .filter-menu
    padding-top: 210px

@media (min-width: 1400px)
  .container
    width: 1400px
  .col-md-50
    width: 50%
  .col-md-25
    width: 25%
  .col-md-25.col-right
    width: 25%

.container-fluid
  margin-right: auto
  margin-left: auto
  padding-left: 0
  padding-right: 0

.row
  margin-left: 0
  margin-right: 0


/* responsive grid 1400 */

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10
  float: left

.col-xs-10
  width: 100%

.col-xs-9
  width: 90%

.col-xs-8
  width: 80%

.col-xs-7
  width: 70%

.col-xs-6
  width: 60%

.col-xs-5
  width: 50%

.col-xs-4
  width: 40%

.col-xs-3
  width: 30%

.col-xs-2
  width: 20%

.col-xs-1
  width: 10%

.col-xs-pull-10
  right: 100%

.col-xs-pull-9
  right: 90%

.col-xs-pull-8
  right: 80%

.col-xs-pull-7
  right: 70%

.col-xs-pull-6
  right: 60%

.col-xs-pull-5
  right: 50%

.col-xs-pull-4
  right: 40%

.col-xs-pull-3
  right: 30%

.col-xs-pull-2
  right: 20%

.col-xs-pull-1
  right: 10%

.col-xs-pull-0
  right: auto

.col-xs-push-10
  left: 100%

.col-xs-push-9
  left: 90%

.col-xs-push-8
  left: 80%

.col-xs-push-7
  left: 70%

.col-xs-push-6
  left: 60%

.col-xs-push-5
  left: 50%

.col-xs-push-4
  left: 40%

.col-xs-push-3
  left: 30%

.col-xs-push-2
  left: 20%

.col-xs-push-1
  left: 10%

.col-xs-push-0
  left: auto

.col-xs-offset-10
  margin-left: 100%

.col-xs-offset-9
  margin-left: 90%

.col-xs-offset-8
  margin-left: 80%

.col-xs-offset-7
  margin-left: 70%

.col-xs-offset-6
  margin-left: 60%

.col-xs-offset-5
  margin-left: 50%

.col-xs-offset-4
  margin-left: 40%

.col-xs-offset-3
  margin-left: 30%

.col-xs-offset-2
  margin-left: 20%

.col-xs-offset-1
  margin-left: 10%

.col-xs-offset-0
  margin-left: 0

@media (min-width: 768px)
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10
    float: left
  .col-sm-10
    width: 100%
  .col-sm-9
    width: 90%
  .col-sm-8
    width: 80%
  .col-sm-7
    width: 70%
  .col-sm-6
    width: 60%
  .col-sm-5
    width: 50%
  .col-sm-4
    width: 40%
  .col-sm-3
    width: 256px
  .col-sm-2
    width: 20%
  .col-sm-1
    width: 10%
  .col-sm-pull-10
    right: 100%
  .col-sm-pull-9
    right: 90%
  .col-sm-pull-8
    right: 80%
  .col-sm-pull-7
    right: 70%
  .col-sm-pull-6
    right: 60%
  .col-sm-pull-5
    right: 50%
  .col-sm-pull-4
    right: 40%
  .col-sm-pull-3
    right: 30%
  .col-sm-pull-2
    right: 20%
  .col-sm-pull-1
    right: 10%
  .col-sm-pull-0
    right: auto
  .col-sm-push-10
    left: 100%
  .col-sm-push-9
    left: 90%
  .col-sm-push-8
    left: 80%
  .col-sm-push-7
    left: 70%
  .col-sm-push-6
    left: 60%
  .col-sm-push-5
    left: 50%
  .col-sm-push-4
    left: 40%
  .col-sm-push-3
    left: 30%
  .col-sm-push-2
    left: 20%
  .col-sm-push-1
    left: 10%
  .col-sm-push-0
    left: auto
  .col-sm-offset-10
    margin-left: 100%
  .col-sm-offset-9
    margin-left: 90%
  .col-sm-offset-8
    margin-left: 80%
  .col-sm-offset-7
    margin-left: 70%
  .col-sm-offset-6
    margin-left: 60%
  .col-sm-offset-5
    margin-left: 50%
  .col-sm-offset-4
    margin-left: 40%
  .col-sm-offset-3
    margin-left: 30%
  .col-sm-offset-2
    margin-left: 20%
  .col-sm-offset-1
    margin-left: 10%
  .col-sm-offset-0
    margin-left: 0

@media (min-width: 992px)
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10
    float: left
  .col-md-10
    width: 100%
  .col-md-9
    width: 90%
  .col-md-8
    width: 80%
  .col-md-7
    width: 70%
  .col-md-6
    width: 60%
  .col-md-5
    width: 50%
  .col-md-4
    width: 40%
  .col-md-3
    width: 30%
  .col-md-2
    width: 20%
  .col-md-1
    width: 10%
  .col-md-pull-10
    right: 100%
  .col-md-pull-9
    right: 90%
  .col-md-pull-8
    right: 80%
  .col-md-pull-7
    right: 70%
  .col-md-pull-6
    right: 60%
  .col-md-pull-5
    right: 50%
  .col-md-pull-4
    right: 40%
  .col-md-pull-3
    right: 30%
  .col-md-pull-2
    right: 20%
  .col-md-pull-1
    right: 10%
  .col-md-pull-0
    right: auto
  .col-md-push-10
    left: 100%
  .col-md-push-9
    left: 90%
  .col-md-push-8
    left: 80%
  .col-md-push-7
    left: 70%
  .col-md-push-6
    left: 60%
  .col-md-push-5
    left: 50%
  .col-md-push-4
    left: 40%
  .col-md-push-3
    left: 30%
  .col-md-push-2
    left: 20%
  .col-md-push-1
    left: 10%
  .col-md-push-0
    left: auto
  .col-md-offset-10
    margin-left: 100%
  .col-md-offset-9
    margin-left: 90%
  .col-md-offset-8
    margin-left: 80%
  .col-md-offset-7
    margin-left: 70%
  .col-md-offset-6
    margin-left: 60%
  .col-md-offset-5
    margin-left: 50%
  .col-md-offset-4
    margin-left: 40%
  .col-md-offset-3
    margin-left: 30%
  .col-md-offset-2
    margin-left: 20%
  .col-md-offset-1
    margin-left: 10%
  .col-md-offset-0
    margin-left: 0

@media (min-width: 1400px)
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10
    float: left
  .col-lg-10
    width: 100%
  .col-lg-9
    width: 90%
  .col-lg-8
    width: 80%
  .col-lg-7
    width: 70%
  .col-lg-6
    width: 60%
  .col-lg-5
    width: 50%
  .col-lg-4
    width: 40%
  .col-lg-3
    width: 30%
  .col-lg-2
    width: 20%
  .col-lg-1
    width: 10%
  .col-lg-pull-10
    right: 100%
  .col-lg-pull-9
    right: 90%
  .col-lg-pull-8
    right: 80%
  .col-lg-pull-7
    right: 70%
  .col-lg-pull-6
    right: 60%
  .col-lg-pull-5
    right: 50%
  .col-lg-pull-4
    right: 40%
  .col-lg-pull-3
    right: 30%
  .col-lg-pull-2
    right: 20%
  .col-lg-pull-1
    right: 10%
  .col-lg-pull-0
    right: auto
  .col-lg-push-10
    left: 100%
  .col-lg-push-9
    left: 90%
  .col-lg-push-8
    left: 80%
  .col-lg-push-7
    left: 70%
  .col-lg-push-6
    left: 60%
  .col-lg-push-5
    left: 50%
  .col-lg-push-4
    left: 40%
  .col-lg-push-3
    left: 30%
  .col-lg-push-2
    left: 20%
  .col-lg-push-1
    left: 10%
  .col-lg-push-0
    left: auto
  .col-lg-offset-10
    margin-left: 100%
  .col-lg-offset-9
    margin-left: 90%
  .col-lg-offset-8
    margin-left: 80%
  .col-lg-offset-7
    margin-left: 70%
  .col-lg-offset-6
    margin-left: 60%
  .col-lg-offset-5
    margin-left: 50%
  .col-lg-offset-4
    margin-left: 40%
  .col-lg-offset-3
    margin-left: 30%
  .col-lg-offset-2
    margin-left: 20%
  .col-lg-offset-1
    margin-left: 10%
  .col-lg-offset-0
    margin-left: 0
#aff
  //position: fixed
  //top: 0
  width: 100%
  z-index: 500
  transition: all 0.3s
#aff.affix
  position: fixed
  top: 0
.main-menu.affix
  padding-top: 100px
  margin-top: 0

@media (min-width: 768px)
  .filter-menu.affix
    padding-top: 180px

@media (min-width: 992px)
  #aff
    width: 100%
    z-index: 500
    transition: all 0.5s
    position: fixed
    .affix
      position: fixed
      top: 0
  .filter-menu
    transition: padding 0.5s
  .main-menu
    transition: padding 0.3s
  //padding-top: 216px
  padding-top: 0
  margin-top: 0
  .animated
    +transition-property(all)
    +transition-duration(0.5s)
    +transition-timing-function(linear)
  .affix
    .navbar-nav.hidden-sm
      margin-top: -100px
  .main-menu.affix
    padding-top: 68px
    margin-top: 0
  .filter-menu.affix
    padding-top: 170px

@media (min-width: 1400px)

.icon-transition
  +transition-duration(0.2s)

.vertical-center-topbar
  padding: 0
  > li
    height: 6.2rem
    text-align: center
    vertical-align: text-top
    display: inline-block
    +display-flex(inline-flex)
    +align-items(center)
    +justify-content(center)