.header-001
  color: #3d4252
  text-transform: uppercase
  border-width: 0
  background-color: #FFFFFF
  margin-bottom: 0
  z-index: 1010
  #svg_logo
    height: 12px
  .work-time .text-time
    font-size: 14px
    font-family: 'Houschka Pro Bold'
    text-transform: none
  .work-time .text-full
    font-size: 11px
  .company-brand
    background: none
    min-width: 210px
  .language-selector > a
    font-size: 10px
    color: #3d4252
  .language-selector.active-lang .lang-name
    padding-left: 3px
  .navbar-toggle
    position: absolute
    left: 0
    top: 0px
    margin: 0
    border: none
    margin-top: 4px
    padding: 9px 10px
  .navbar-toggle .icon-bar
    background-color: #3D4252
    display: block
    width: 19px
    height: 2px
    border-radius: 5px
  .navbar-toggle .icon-bar + .icon-bar
    margin-top: 2px
  .navbar-default .navbar-text
    color: #3D4252
    margin-top: 43px
    padding-left: 20px
  &.navbar
    min-height: 1.1rem
  .navbar-nav
    margin: 0
    transition: all 0.3s
  .social
    .navbar-text
      font-size: 12px
      text-transform: uppercase
    .btn
      padding: 6px 6px
    .btn-default
      color: $btn-default-color
      border: 1px solid $btn-default-color
      background: $btn-success-color
      font-size: 14px
      padding: 0
      line-height: 32px
    .btn-default:hover
      color: #fff
      background-color: $btn-default-bg
      border-color: $btn-default-bg
      text-shadow: 0 0 2px #000431
    .btn-vk
      line-height: 33px
  .pull-left
    width: 27%
  .nav-center
    margin-left: 0
    width: 100%
  .nav
    text-align: center
  .navbar-nav > li.company-brand
    float: none
    display: inline-block
  // Language Switcher
  #language-switcher
    float: left
    font-family: "Houschka Pro Bold"
    label
      float: left
      width: 3.6rem
      height: 3.6rem
      border-radius: 3.6rem
      margin: 0
      background-color: #EFEFEF
      overflow: auto
    label span
      text-align: center
      font-size: 12px
      padding: 12px 0
      line-height: 12px
      display: block
      +transition-duration(0.3s)
      +transition-property(all)
      +transition-timing-function(ease-in)
    input:checked + span
      background-color: $lang-switcher
      color: $default-color
    .default
      background-color: $default-color
      color: $color-all-shops
  .working-house
    margin: 0 0 0 15px
    > li
      text-align: left
    .text-time
      font-size: 14px
      font-family: 'Houschka Pro Bold'
      color: $color-all-shops
    .text-full
      font-size: 11px
      font-family: 'Houschka Pro Bold'
      color: $color-all-shops
      text-transform: uppercase
      text-decoration: underline
  .row-social-icons
    > li
      margin-left: 5px
    > li:first-child
      margin: 0 20px 0 0
      font-size: 12px
      font-family: 'Houschka Pro Bold'
      color: $brand-primary
      text-transform: uppercase

@media (min-width: 768px)
  .header-001
    .social.navbar-nav > .navbar-btn
      float: right
    .nav-center
      width: 100%

@media (min-width: 992px)
  .header-001
    .pull-left
      width: 34%
    .nav-center
      width: 32%
    .pull-right .navbar-text
      display: none
    .nav-center
      width: 32% !important
      position: absolute
      top: 4px
      left: 34%
      padding: 0
    .navbar-nav
      transition: all 0.3s
    #svg_logo
      height: 23px
  .affix
    .header-001
      background: #fff
      .animated
        opacity: 0
        transition: all 0.5s
      .nav-center.navbar-nav
        width: 100%
        top: -100px
        padding: 0
      .navbar-nav.nav-center > li > a
        padding: 17px 35px 0 37px

@media (min-width: 1400px)
  .header-001 .pull-right .navbar-text
    display: block
  .header-001 .pull-left
    width: 27%
  .header-001 .nav-center
    margin-left: 0
    width: 46%
  .header-001 .pull-right .navbar-text
    display: block
