.header-002
  color: #fff
  text-transform: uppercase
  border-width: 0
  margin-bottom: 0 !important
  background-color: $color-bright_gray_approx
  margin-top: 0
  min-height: 0
  &.navbar
    transition: all 0.3s
    height: 5rem
    overflow: hidden
  .navbar-btn
    border-color: #646b80
  li.menu-item
    > a
      color: $default-color
      &:focus, &:hover
        color: #a8f0de
  .navbar
    min-height: 50px
    z-index: 210
  .navbar-btn .btn-round
    transition: all 0.3s
  li.menu-item
    display: inline-block
  .navbar-nav
    text-align: center
    float: none
    margin-top: 10px
    margin-bottom: 5px
  .navbar-nav > li
    float: none
  .navbar-nav > li > a
    padding: 23px 7px
    transition: all 0.3s
  .av-search:before
    color: $default-active-color
    font-size: 16px
    line-height: 36px
  .search
    padding: 25px 0 0 0
    float: left
    padding-right: 10%
    font-size: 15px
    transition: all 0.3s
  .phone
    padding: 32px 0 29px 60px
    font-size: 18px
    font-family: "Houschka Pro Medium"
    transition: all 0.3s
  /* header-002 buttons */
  .btn.btn-circle
    padding: 10px 2px
    width: 36px
    height: 36px
    font-size: 15px
    background: none
  .navbar-btn.register .btn-primary
    color: #d3ffff
    &.btn-inactive
      color: $btn-default-border
      .av-star
        color: $btn-default-border
  .navbar-btn.routes .btn-default
    color: #b0fee9
  .col-right .navbar-btn
    text-align: center
    padding: 10px 0
  //decorative triangle
  .triangle-wrapper
    position: absolute
    width: 100%
    text-align: center
    z-index: 10
    top: -1px
  .triangle
    display: inline-block
    width: 0
    height: 0
    border-style: solid
    border-width: 12px 17.5px 0 17.5px
    border-color: #ffffff transparent transparent transparent

.affix
  .header-002
    margin-top: -50px

@media (min-width: 768px)
  .header-002
    min-height: 8.6rem
  .header-002.affix
    position: fixed

@media (min-width: 992px)
  .header-002
    .routes
      display: none
    .col-right .navbar-btn
      text-align: right
      padding: 25px 0 0 0
      margin: 0
    &.affix
      .col-right .navbar-btn
        padding: 10px 0
      .navbar-btn.register,
      .navbar-btn.routes
        margin-top: 12px
  .affix
    .header-002
      margin-top: 0
      width: 100%
      min-height: 5.7rem
      .navbar-nav > li > a
        padding: 10px 7px
      .phone
        padding: 17px 0 29px 60px
      .search
        padding: 10px 0 0 0px
      .navbar-btn.register,
      .navbar-btn.routes
        margin: 0
        padding: 11px 0 0 0
    .navbar-btn
      .btn
        height: 34px
        line-height: 32px
        padding: 0 18px

@media (min-width: 1400px)
  .header-002
    .routes
      display: block
    .phone
      padding: 32px 0 29px 120px
  .affix
    .header-002
      .phone
        padding: 17px 0 29px 120px