.margin-top-normal
  margin-top: 100px
.margin-bottom-normal
  margin-bottom: 100px
.margin-top-large
  margin-top: 130px
.border-remove
  border: none

.av-padding-bottom
  padding-bottom: 10rem

.av-padding-top
  padding-top: 10rem

.av-padding-top-bottom
  padding-top: 10rem
  padding-bottom: 10rem

.av-margin-bottom
  margin-bottom: 10rem

.av-margin-small-left
  margin-left: 5rem

.av-margin-top-small
  margin-top: 50px

.av-margin-top-xs-small
  margin-top: 15px

.vertical-horizonatal-center
  display: flex
  flex-direction: column
  justify-content: center
  text-align: center

@mixin size($width, $height: $width)
  width: $width
  height: $height