@font-face
  font-family: 'Houschka Pro Bold'
  src: url("../fonts/Houschka Pro Bold.eot")
  src: url("../fonts/Houschka Pro Bold.eot?") format("embedded-opentype"), url("../fonts/Houschka Pro Bold.woff") format("woff"), url("../fonts/Houschka Pro Bold.ttf") format("opentype")
  font-style: normal


@font-face
  font-family: 'Houschka Pro DemiBold'
  src: url("../fonts/Houschka Pro DemiBold.eot")
  src: url("../fonts/Houschka Pro DemiBold.eot?") format("embedded-opentype"), url("../fonts/Houschka Pro DemiBold.woff") format("woff"), url("../fonts/Houschka Pro DemiBold.ttf") format("opentype")
  font-style: normal


@font-face
  font-family: 'Houschka Pro Medium'
  src: url("../fonts/Houschka Pro Medium.eot")
  src: url("../fonts/Houschka Pro Medium.eot?") format("embedded-opentype"), url("../fonts/Houschka Pro Medium.woff") format("woff"), url("../fonts/Houschka Pro Medium.ttf") format("opentype")
  font-style: normal


@font-face
  font-family: 'Houschka Pro Light'
  src: url("../fonts/Houschka Pro Light.eot")
  src: url("../fonts/Houschka Pro Light.eot") format("embedded-opentype"), url("../fonts/Houschka Pro Light.woff") format("woff"), url("../fonts/Houschka Pro Light.ttf") format("opentype")
  font-style: normal