.tile-brand-slider
  overflow: hidden
  .carousel-indicators
    bottom: 30px
    right: 26px
  .slide-brand
    position: absolute
    left: 34px
    bottom: 108px
  .slick-prev
    left: 10px
  .slick-next
    right: 10px
  .slick-prev, .slick-next
    width: 30px
    height: 30px
  .slick-prev:before, .slick-next:before
    font-size: 30px

.tile-brand-slider,
.tile-karo-slider
  height: 230px

.tile-brand-slider-left,
.tile-brand-slider-right
  position: absolute
  right: 10px
  font-size: 36px
  cursor: pointer

.tile-brand-slider-left
  top: 49%

.tile.tile-brand-slider .slide-brand
  bottom: 25%

.tile-brand-slider-right
  top: 35%

#promo-slider
  .slick-slide
    position: relative
  .slick-dots
    bottom: 7%
    right: 3%
    width: inherit
    left: inherit
    li
      height: 10px
      width: 10px
      margin: 0 1px
      button
        width: 8px
        height: 8px
        padding: 0
        background-color: #A8F0DE
        opacity: 0.4
        border-radius: 100%
        &:before
          content: none
    .slick-active button
      opacity: 1
  .slick-slide
    position: relative
    background-position: 50% 0
  .slide1
    background-image: url(../img/main_slider/2.jpg)
  .slide2
    background-image: url(../img/main_slider/4.jpg)
  .slide3
    background-image: url(../img/main_slider/3.jpg)
  .slide4
    background-image: url(../img/main_slider/1.jpg)

#promo-slider-caption
  position: absolute
  bottom: 0
  left: 0
  right: 0
  height: 30%
  background: rgba(61, 66, 82, 0.6)
  z-index: 9
  .slick-list
    overflow: visible !important
  .carousel-caption
    padding: 3% 4%
    height: 92%
    background: none
  .promo-logo
    bottom: 75%
  .slick-dots
    bottom: 24%
    right: 3%
    left: auto
    z-index: 11

#karo-slider
  .carousel-caption
    background: rgba(61, 66, 82, 0.8)
    bottom: 0
    left: 0
    width: 100%
    height: 80px
    padding: 10px 20px
    font-size: 13px
  .promo-title
    text-transform: none
    padding: 0
  .karo-icon
    float: left
    object
      height: 9px
      padding-right: 5px
  .schedule
    font-size: 11px
    color: #FFF
    text-transform: none
    padding: 2px 10px
    margin-bottom: 3px
    margin-bottom: 3px
    background: #3d4252
    display: inline-block
  .time
    color: #fff
  .link-tickets
    position: absolute
    right: 3%
    padding: 3% 4%
    top: 25%
    color: #A3E8D7
    border: 2px solid #A3E8D7
    background: none
    font-size: 11px
    a
      color: #A3E8D7
  .carousel-indicators
    left: 0
    width: 30%
  .icon-play
    color: #b0fde9
    padding-right: 10px
  .slick-slide
    position: relative
    background-position: 50% 0
  .slick-dots
    bottom: 7%
    width: inherit
    left: 4%
  .slide1
    background-image: url(../img/karo_slider/1.jpg)
  .slide2
    background-image: url(../img/karo_slider/2.jpg)
  .slide3
    background-image: url(../img/karo_slider/3.jpg)
  .slide4
    background-image: url(../img/karo_slider/4.jpg)

.main-menu
  .slick-list, .slick-track, .slick-slider
    height: 100%
  .slick-slide
    background-size: cover
    position: relative
  .slick-dots
    width: inherit
    left: inherit
    li
      height: 10px
      width: 10px
      margin: 0 1px
      button
        width: 8px
        height: 8px
        padding: 0
        background-color: #A8F0DE
        opacity: 0.4
        border-radius: 100%
        &:before
          content: none
    .slick-active button
      opacity: 1
  .carousel-caption
    bottom: 0
    left: 0
    text-align: left
    background: $color_bright_gray_60_approx
    width: 100%
    height: 30%
    padding-left: 30px
    padding: 4% 4%
    font-size: 13px
    //If you use compass, instead of the line below you could use +text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
    text-shadow: none
  .promo-title
    text-transform: uppercase
    padding-top: 5px
  .promo-icon
    display: none
    float: left
    width: 60px
    i
      font-size: 2em
  .promo-logo
    width: 12.5%
    position: absolute
    bottom: 22.5%
    z-index: 100
    left: 4%
    img
      width: 100%

@media (min-width: 480px)
  #karo-slider
    .slick-slide
      background-position: center top
  .tile.tile-brand-slider,
  .tile.tile-karo-slider
    height: 312px

@media (min-width: 768px)
  .main-menu
    .carousel-caption
      font-size: 16px
      padding: 4% 4%
    .promo-icon
      display: block
  .tile.tile-karo-slider
    height: 210px
  .col-double .tile
    height: 420px
  #karo-slider
    .carousel-caption
      padding: 3% 0 4% 4%
      font-size: 16px
      width: 36%
      background: url('../img/karo_slider/caption-bg.png') right center no-repeat
      top: 0
      height: 100%
    .slick-dots
      top: 80%
      width: inherit
      left: 4%
    .schedule
      font-size: 14px
      color: #8a93ad
      text-transform: none
      padding: 5px 10px
      margin-top: 5px
    .link-tickets
      font-size: 14px
      text-transform: none
      padding: 5px 10px
      background: #3d4252
      display: inline-block
      position: static
      border: none
    .karo-icon
      i
        height: 12px
        color: #a3e8d7
    .promo-title
      margin-bottom: 15px
  #promo-slider-caption .carousel-caption
    height: 94%
    background: none

@media (min-width: 992px)
  #karo-slider
    .promo-title
      margin-bottom: 0
  .main-menu
    .carousel-caption
      font-size: 16px
      height: 12.4rem
      padding: 5.5% 4%
    .promo-logo
      bottom: 33%
  #promo-slider-caption .carousel-caption
    height: 92%
    padding: 4% 4%
  .tile.tile-karo-slider
    height: 157px
  .tile.tile-brand-slider
    height: 314px

@media (min-width: 1400px)
  #karo-slider
    .carousel-caption
      padding: 6% 0 4% 7%
    .promo-title
      margin-bottom: 15px
    .slick-dots
      top: 72%
      left: 7%
  .main-menu
    .promo-logo
      bottom: 22.5%
  #promo-slider-caption
    height: 27%
  #promo-slider
    .slick-dots
      bottom: 27%
  .main-menu
    .tile-brand-slider-left
      top: 50%
    .tile-brand-slider-right
      top: 39%
  .tile.tile-karo-slider
    height: 230px