.main-menu
  .svg-anim
    width: 100%
    height: 100%
    overflow: hidden
    z-index: 100
    position: absolute
  big
    font-size: 200%
  .row
    margin: 0
  .tile
    height: 131px
    color: #fff
    position: relative
    &.tile-text
      text-transform: uppercase
    &.tile-purple
      color: #fcadc5
      background-color: #a15e9b
    &.tile-light-blue
      background-color: #cbf5ff
      color: #5c6abd
    &.tile-pink
      color: #fff
      background-color: #fcadc5
    .tile-text-wrapper
      font-size: 42px
      font-family: "Houschka Pro Light"
      padding-top: 22%
      transition: all 0.5s
    .tile-text
      line-height: 1
      transition: padding 0.5s
      text-transform: uppercase
      text-align: center
      text-transform: uppercase
      width: 100%
    .tile-description
      font-size: 10px
      text-align: center
      font-family: "Houschka Pro DemiBold"
    .col-double .tile
      height: 230px
  .tile-kidzania
    text-align: center
    background: $color_supernova_approx
    img
      transition: all 0.5s
      margin-top: 35%
      width: 60%
  .tile-violet
    font-size: 10px
    background: #603CBA url(../img/bg_map.png) center center no-repeat
    .tile-btn
      text-align: center
      padding-top: 47%
      position: absolute
      width: 100%
      z-index: 200
    .btn-primary
      color: #cbf5ff
      border-color: #cbf5ff
      border-width: 2px
      transition: all 0.3s
      font-size: 10px
      padding: 3px 12px
    .btn-primary:hover
      background: #cbf5ff
      color: #3d4252
    .tile-description
      font-size: 9px
      padding-top: 5px
      color: #cbf5ff
  .tile-blue
    background: #2574ED
  .tile-orange
    background: #D84F2B
  .tile-red
    background: #B91C47
  .tile-green
    background: #029D1B
  .tile-light-blue.tile:hover .tile-text-wrapper
    padding-top: 10%
  .tile-purple.tile:hover .tile-text-wrapper
    padding-top: 18%
  .tile-pink.tile:hover .tile-text-wrapper
    padding-top: 18%
  .tile-kidzania.tile:hover img
    margin-top: 30%
  .tile-light-blue
    color: #5C6ABD
    background-color: #CBF5FF
  .tile-wifi
    color: $color_bermuda_approx
    background: $color_bright_gray_approx
  .tile-wifi .tile-description
    letter-spacing: 1px
    color: $color_bermuda_approx
    padding-top: 43%

@media (min-width: 480px)
  .main-menu
    .tile
      height: 197px
      .tile-text-wrapper
        font-size: 62px
        padding-top: 22%
      .tile-description
        font-size: 12px
    .tile-violet .btn-primary
      font-size: 14px
      padding: 5px 17px

@media (min-width: 768px)
  .main-menu
    .tile
      height: 210px
    .tile-violet
      font-size: 10px
    .tile
      .tile-text-wrapper
        font-size: 72px

@media (min-width: 992px)
  .main-menu
    .tile
      height: 157px
    .tile
      .tile-text-wrapper
        font-size: 52px
        padding-top: 22%
      .tile-description
        font-size: 10px
    .tile-violet .btn-primary
      font-size: 12px
      padding: 3px 13px

@media (min-width: 1400px)
  .main-menu
    .tile
      height: 230px
    .col-double .tile
      height: 460px
    .tile
      .tile-text-wrapper
        font-size: 72px
        padding-top: 22%
      .tile-description
        font-size: 12px
        margin-top: 4px
    .tile-violet .btn-primary
      font-size: 13px
      padding: 0 20px
      height: 34px
      vertical-align: middle
      line-height: 32px