@font-face
  font-family: 'aviapark'
  src: url('../fonts/aviapark.eot?67918971')
  src: url('../fonts/aviapark.eot?67918971#iefix') format("embedded-opentype"), url('../fonts/aviapark.woff?67918971') format("woff"), url('../fonts/aviapark.ttf?67918971') format("truetype"), url('../fonts/aviapark.svg?67918971#aviapark') format("svg")
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'slick'
  src: url('../vendors/slick/fonts/slick.eot')
  src: url('../vendors/slick/fonts/slick.eot') format("embedded-opentype"), url('../vendors/slick/fonts/slick.woff') format("woff"), url('../vendors/slick/fonts/slick.ttf') format("truetype"), url('../vendors/slick/fonts/slick.svg') format("svg")
  font-weight: normal
  font-style: normal


[class^="av-"]:before, [class*=" av-"]:before
  font-family: "aviapark"
  font-style: normal
  font-weight: normal
  display: inline-block
  text-decoration: inherit
  width: 1em
  margin-right: .2em
  text-align: center
  font-variant: normal
  text-transform: none
  line-height: 1em
  margin-left: .2em

// Stacked Icons
// -------------------------
$avv-css-prefix:      avv
$fa-inverse:          #fff
$fa-font-size-base:   16px
$fa-li-width:         (30em / 14)


// Making icons
.#{$avv-css-prefix}
  display: inline-block
  font: normal normal normal #{$fa-font-size-base}/1 "aviapark" // shortening font declaration
  font-size: inherit                      // can't have font-size inherit on line above, so need to override
  text-rendering: auto                    // optimizelegibility throws things off #1094
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  transform: translate(0, 0)              // ensures no half-pixel rendering in firefox

.#{$avv-css-prefix}-margin
  &:before
    margin: 0                               // Костыль для перебива av-


/* stacked elements */
.#{$avv-css-prefix}-stack
  position: relative
  display: inline-block
  width: 3.6rem
  height: 3.6rem
  line-height: 3.6rem
  vertical-align: middle

.#{$avv-css-prefix}-stack-1x, .#{$avv-css-prefix}-stack-2x
  position: absolute
  left: 0
  width: 100%
  text-align: center

.#{$avv-css-prefix}-stack-1x
  line-height: inherit

.#{$avv-css-prefix}-stack-2x
  font-size: 3.6rem

/* makes the font 33% larger relative to the icon container */
.#{$avv-css-prefix}-lg
  font-size: (4em / 3)
  //line-height: (3em / 4)
  vertical-align: -15%

.#{$avv-css-prefix}-2x
  font-size: 1.538em
.#{$avv-css-prefix}-3x
  font-size: 1.615em
.#{$avv-css-prefix}-4x
  font-size: 4em
.#{$avv-css-prefix}-5x
  font-size: 5em


// custom colors and sizes
.#{$avv-css-prefix}-inverse
  color: $fa-inverse

.#{$avv-css-prefix}-transparent
  color: transparent

.#{$avv-css-prefix}-color-active
  color: $av-color-active

.#{$avv-css-prefix}-color-main-text
  color: $av-color-main-text

.#{$avv-css-prefix}-color-second-text
  color: $av-color-second-text

.#{$avv-css-prefix}-social-topbar
  color: $color-social-topbar

.#{$avv-css-prefix}-dark-background
  color: $av-color-icon-bg

.#{$avv-css-prefix}-vk-color
  color: $color-vk

.#{$avv-css-prefix}-fb-color
  color: $color_indigo_approx

.#{$avv-css-prefix}-ok-color
  color: $av-color-ok

.#{$avv-css-prefix}-calendar-size
  font-size: 39px
  margin: 0 0 2rem 0

.#{$avv-css-prefix}-marker-size
  font-size: 28px
  color: $color-panel-left
  margin: 0 0 0.5rem 0

// All of icons
.av-circle-empty-2:before
  content: ''
  border: 1px solid $color-social-topbar
  width: 3.6rem
  height: 3.6rem
  border-radius: 50%
.av-vk:before
  content: '\e000'
.av-fb:before
  content: '\e001'
.av-insta:before
  content: '\e002'
.av-youtube:before
  content: '\e003'
.av-ok:before
  content: '\e004'
.av-marker:before
  content: '\e005'
.av-icon-search:before
  content: '\e006'
.av-like:before
  content: '\e007'
.av-calendar:before
  content: '\e008'
.av-discount:before
  content: '\e009'
.av-percent:before
  content: '\e010'
.av-rupor:before
  content: '\e011'
.av-tag:before
  content: '\e012'
//TODO: delete launche icon after switching on share icon
.av-launch:before
  content: '\e013'
.av-wifi:before
  content: '\e014'
.av-dinner:before
  content: '\e015'
.av-calendar-full:before
  content: '\e016'
.av-store:before
  content: '\e017'
.av-baby:before
  content: '\e018'
.av-profile:before
  content: '\e019'
.av-film-play:before
  content: '\e020'
.av-circle:before
  content: '\e022'
.av-circle-empty:before
  content: '\e023'
.av-pig:before
  content: '\e024'
.av-gift:before
  content: '\e025'
.av-sun:before
  content: '\e026'
.av-arrow-right:before
  content: '\e027'
.av-caret-right:before
  content: '\e028'
.av-chevron-down:before
  content: '\e800'
.av-star:before
  content: '\e801'
.av-map2:before
  content: '\e802'
.av-list:before
  content: '\e803'
.av-cross2:before
  content: '\e804'
.av-search-2:before
  content: '\e805'
.av-share-icon:before
  content: '\e806'
.av-pointer-icon:before
  content: '\e807'
.av-chevron-right-circle:before
  content: '\e808'
.av-chevron-left-circle:before
  content: '\e809'
.av-envelope:before
  content: '\e80a'
