block nav_mobile
   #navBackground
   nav#navMobile
      #languageBox.col-xs-10
         .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='', data-original-title='Добавить в избранное')
            a.avv-stack
               i.avv.av-circle.avv-stack-2x.avv-dark-background.avv-margin
               i.avv.av-star.avv-stack-1x.avv-color-active
         span.lbEl закладки
         span.lbEl.lbElColor 9
         a.langButton.langActive(href='#') РУ
         a.langButton(href='#') EN
      ul.col-xs-10
         li
            a.navi-1.col-xs-10(href='')
               span.col-xs-7.col-xs-offset-2 МАГАЗИНЫ
         li
            a.navi-2.col-xs-10(href='')
               span.col-xs-7.col-xs-offset-2 АКЦИИ И СОБЫТИЯ
         li
            a.navi-3.col-xs-10(href='')
               span.col-xs-7.col-xs-offset-2 ЕДА
         li
            a.navi-4.col-xs-10(href='')
               span.col-xs-7.col-xs-offset-2 КИНО
         li
            a.navi-5.col-xs-10(href='')
               span.col-xs-7.col-xs-offset-2 РАЗВЛЕЧЕНИЯ
         li
            a.navi-6.col-xs-10(href='')
               span.col-xs-7.col-xs-offset-2 ДЕТИ
         li
            a.navi-7.col-xs-10(href='')
               span.col-xs-7.col-xs-offset-2 УСЛУГИ
         li
            a.navi-9.col-xs-10(href='')
               span.col-xs-7.col-xs-offset-2 об авиапарке
         li
            a.navi-10.col-xs-10(href='')
               span.col-xs-7.col-xs-offset-2 Контакты
         li
            a.navi-11.col-xs-10(href='')
               span.col-xs-7.col-xs-offset-2 Арендаторам
         li
            a.navi-12.col-xs-10(href='')
               span.col-xs-7.col-xs-offset-2 Справочная информация
         li
            a.navi-13.col-xs-10(href='')
               span.col-xs-7.col-xs-offset-2 работа в авиапарке
         li
            a.navi-14.col-xs-10(href='')
               span.col-xs-7.col-xs-offset-2 Реклама и пресса
      #socialBox.col-xs-7.col-xs-offset-2
         a.btn-vk.av-vk(href='#')
         a.btn-facebook.av-fb(href='#')
         a.btn-instagram.av-insta(href='#')
         a.btn-youtube.av-youtube(href='#')
         a.btn-odnoklassniki.av-ok(href='#')