block search
   #search.search.search--main.js-search--main.is-hidden
       input.search__text-field.js-search__text-field(type='text', placeholder='Поиск')
       .search-drop.js-search-drop.is-hidden
           .search-drop__char-title А
           .search-drop__item
               .search-drop__brand-img-container
                   img.search-drop__brand-img(src='/img/logos/200_01.jpg', alt='')
               .search-drop__brand
                   .search-drop__brand-name Burgerking
                   .search-drop__brand-info Ресторан быстрого обслуживания
               .search-drop__cost
                   span.search-drop__cost-highlight $
                   | $$
               .search-drop__storey
                   span.search-drop__storey-val 1
                   |  этаж
               .search-drop__offers
                   i.search-drop__offer-badge.search-drop__badge-ico.js-tooltip-top(data-tooltip='Акции')
                       svg.icon.icon-badge
                           use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-badge')
                   i.search-drop__offer-collection.search-drop__collection-ico.js-tooltip-top(data-tooltip='Коллекции')
                       svg.icon.icon-collection
                           use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-collection')
                   i.search-drop__offer-calendar.search-drop__calendar-ico.js-tooltip-top(data-tooltip='События')
                       svg.icon.icon-calendar
                           use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-calendar')
                   i.search-drop__offer-rupor.search-drop__rupor-ico.js-tooltip-top(data-tooltip='Новости')
                       svg.icon.icon-rupor
                           use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-rupor')
                .badge.badge--favor.badge--favor-search.is-favor
                   svg.icon.icon-star.badge__ico--favor-active
                       use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-star')
                   .badge__bottom
                   svg.icon.icon-star.badge__ico.badge__ico--favor
                       use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-star')
               .search-drop__parking.is-hidden С
           .search-drop__item
               .search-drop__brand-img-container
                   img.search-drop__brand-img(src='/img/logos/200_02.jpg', alt='')
               .search-drop__brand
                   .search-drop__brand-name Mcdonalds
                   .search-drop__brand-info Ресторан быстрого обслуживания
               .search-drop__cost
                   span.search-drop__cost-highlight $$
                   | $
               .search-drop__storey
                   span.search-drop__storey-val 1
                   |  этаж
               .search-drop__offers
                   i.search-drop__offer-badge.search-drop__badge-ico.js-tooltip-top(data-tooltip='Акции')
                   i.search-drop__offer-collection.search-drop__collection-ico.js-tooltip-top(data-tooltip='Коллекции')
                   i.search-drop__offer-calendar.search-drop__calendar-ico.is-hidden.js-tooltip-top(data-tooltip='События')
                   i.search-drop__offer-rupor.search-drop__rupor-ico.js-tooltip-top(data-tooltip='Новости')
               .badge.badge--favor.badge--favor-search
                   i.badge__ico--favor-active
                   .badge__bottom
                   i.badge__ico.badge__ico--favor
               .search-drop__parking.js-tooltip-top(data-tooltip='Парковочно место') С
           .search-drop__item
               .search-drop__brand-img-container
                   img.search-drop__brand-img(src='/img/logos/200_03.jpg', alt='')
               .search-drop__brand
                   .search-drop__brand-name Merry berry
                   .search-drop__brand-info Кофейня
               .search-drop__cost
                   span.search-drop__cost-highlight $
                   | $$
               .search-drop__storey
                   span.search-drop__storey-val 2
                   |  этаж
               .search-drop__offers
                   i.search-drop__offer-badge.search-drop__badge-ico.is-hidden.js-tooltip-top(data-tooltip='Акции')
                   i.search-drop__offer-collection.search-drop__collection-ico.is-hidden.js-tooltip-top(data-tooltip='Коллекции')
                   i.search-drop__offer-calendar.search-drop__calendar-ico.is-hidden.js-tooltip-top(data-tooltip='События')
                   i.search-drop__offer-rupor.search-drop__rupor-ico.is-hidden.js-tooltip-top(data-tooltip='Новости')
               .badge.badge--favor.badge--favor-search
                   i.badge__ico--favor-active
                   .badge__bottom
                   i.badge__ico.badge__ico--favor
               .search-drop__parking.is-hidden С
           .search-drop__item.is-favor
               .search-drop__brand-img-container
                   img.search-drop__brand-img(src='/img/logos/200_04.jpg', alt='')
               .search-drop__brand
                   .search-drop__brand-name Starbucks
                   .search-drop__brand-info Кофейня
               .search-drop__cost
                   span.search-drop__cost-highlight $$$
               .search-drop__storey
                   span.search-drop__storey-val 1
                   |  этаж
               .search-drop__offers
                   i.search-drop__offer-badge.search-drop__badge-ico.js-tooltip-top(data-tooltip='Акции')
                   i.search-drop__offer-collection.search-drop__collection-ico.js-tooltip-top(data-tooltip='Коллекции')
                   i.search-drop__offer-calendar.search-drop__calendar-ico.js-tooltip-top(data-tooltip='События')
                   i.search-drop__offer-rupor.search-drop__rupor-ico.is-hidden.js-tooltip-top(data-tooltip='Новости')
               .badge.badge--favor.badge--favor-search
                   i.badge__ico--favor-active
                   .badge__bottom
                   i.badge__ico.badge__ico--favor
               .search-drop__parking.is-hidden С
           .search-drop__char-title Б
           .search-drop__item
               .search-drop__brand-img-container
                   img.search-drop__brand-img(src='/img/logos/200_05.jpg', alt='')
               .search-drop__brand
                   .search-drop__brand-name KFC
                   .search-drop__brand-info Ресторан быстрого обслуживания
               .search-drop__cost
                   span.search-drop__cost-highlight $$$
               .search-drop__storey
                   span.search-drop__storey-val 3
                   |  этаж
               .search-drop__offers
                   i.search-drop__offer-badge.search-drop__badge-ico.is-hidden.js-tooltip-top(data-tooltip='Акции')
                   i.search-drop__offer-collection.search-drop__collection-ico.is-hidden.js-tooltip-top(data-tooltip='Коллекции')
                   i.search-drop__offer-calendar.search-drop__calendar-ico.js-tooltip-top(data-tooltip='События')
                   i.search-drop__offer-rupor.search-drop__rupor-ico.js-tooltip-top(data-tooltip='Новости')
               .badge.badge--favor.badge--favor-search
                   i.badge__ico--favor-active
                   .badge__bottom
                   i.badge__ico.badge__ico--favor
               .search-drop__parking.is-hidden С
           .search-drop__item
               .search-drop__brand-img-container
                   img.search-drop__brand-img(src='/img/logos/200_01.jpg', alt='')
               .search-drop__brand
                   .search-drop__brand-name Merry berry
                   .search-drop__brand-info Кофейня
               .search-drop__cost
                   span.search-drop__cost-highlight $$
                   | $
               .search-drop__storey
                   span.search-drop__storey-val 1
                   |  этаж
               .search-drop__offers
                   i.search-drop__offer-badge.search-drop__badge-ico.is-hidden.js-tooltip-top(data-tooltip='Акции')
                   i.search-drop__offer-collection.search-drop__collection-ico.is-hidden.js-tooltip-top(data-tooltip='Коллекции')
                   i.search-drop__offer-calendar.search-drop__calendar-ico.js-tooltip-top(data-tooltip='События')
                   i.search-drop__offer-rupor.search-drop__rupor-ico.is-hidden.js-tooltip-top(data-tooltip='Новости')
               .badge.badge--favor.badge--favor-search
                   i.badge__ico--favor-active
                   .badge__bottom
                   i.badge__ico.badge__ico--favor
               .search-drop__parking.is-hidden С
           .search-drop__item
               .search-drop__brand-img-container
                   img.search-drop__brand-img(src='/img/logos/200_02.jpg', alt='')
               .search-drop__brand
                   .search-drop__brand-name Burgerking
                   .search-drop__brand-info Ресторан быстрого обслуживания
               .search-drop__cost
                   span.search-drop__cost-highlight $$
                   | $
               .search-drop__storey
                   span.search-drop__storey-val 4
                   |  этаж
               .search-drop__offers
                   i.search-drop__offer-badge.search-drop__badge-ico.js-tooltip-top(data-tooltip='Акции')
                   i.search-drop__offer-collection.search-drop__collection-ico.is-hidden.js-tooltip-top(data-tooltip='Коллекции')
                   i.search-drop__offer-calendar.search-drop__calendar-ico.js-tooltip-top(data-tooltip='События')
                   i.search-drop__offer-rupor.search-drop__rupor-ico.js-tooltip-top(data-tooltip='Новости')
               .badge.badge--favor.badge--favor-search
                   i.badge__ico--favor-active
                   .badge__bottom
                   i.badge__ico.badge__ico--favor
               .search-drop__parking.is-hidden С
           .search-drop__item.is-favor
               .search-drop__brand-img-container
                   img.search-drop__brand-img(src='/img/logos/200_03.jpg', alt='')
               .search-drop__brand
                   .search-drop__brand-name Merry berry
                   .search-drop__brand-info Кофейня
               .search-drop__cost
                   span.search-drop__cost-highlight $$
                   | $
               .search-drop__storey
                   span.search-drop__storey-val 4
                   |  этаж
               .search-drop__offers
                   i.search-drop__offer-badge.search-drop__badge-ico.js-tooltip-top(data-tooltip='Акции')
                   i.search-drop__offer-collection.search-drop__collection-ico.js-tooltip-top(data-tooltip='Коллекции')
                   i.search-drop__offer-calendar.search-drop__calendar-ico.is-hidden.js-tooltip-top(data-tooltip='События')
                   i.search-drop__offer-rupor.search-drop__rupor-ico.is-hidden.js-tooltip-top(data-tooltip='Новости')
               .badge.badge--favor.badge--favor-search
                   i.badge__ico--favor-active
                   .badge__bottom
                   i.badge__ico.badge__ico--favor
               .search-drop__parking.is-hidden С
           .search-drop__char-title В
           .search-drop__item
               .search-drop__brand-img-container
                   img.search-drop__brand-img(src='/img/logos/200_04.jpg', alt='')
               .search-drop__brand
                   .search-drop__brand-name KFC
                   .search-drop__brand-info Ресторан быстрого обслуживания
               .search-drop__cost
                   span.search-drop__cost-highlight $$$
               .search-drop__storey
                   span.search-drop__storey-val 1
                   |  этаж
               .search-drop__offers
                   i.search-drop__offer-badge.search-drop__badge-ico.js-tooltip-top(data-tooltip='Акции')
                   i.search-drop__offer-collection.search-drop__collection-ico.js-tooltip-top(data-tooltip='Коллекции')
                   i.search-drop__offer-calendar.search-drop__calendar-ico.js-tooltip-top(data-tooltip='События')
                   i.search-drop__offer-rupor.search-drop__rupor-ico.js-tooltip-top(data-tooltip='Новости')
               .badge.badge--favor.badge--favor-search
                   i.badge__ico--favor-active
                   .badge__bottom
                   i.badge__ico.badge__ico--favor
               .search-drop__parking.is-hidden С
           .search-drop__item
               .search-drop__brand-img-container
                   img.search-drop__brand-img(src='/img/logos/200_05.jpg', alt='')
               .search-drop__brand
                   .search-drop__brand-name Mcdonalds
                   .search-drop__brand-info Ресторан быстрого обслуживания
               .search-drop__cost
                   span.search-drop__cost-highlight $$
                   | $
               .search-drop__storey
                   span.search-drop__storey-val 4
                   |  этаж
               .search-drop__offers
                   i.search-drop__offer-badge.search-drop__badge-ico.js-tooltip-top(data-tooltip='Акции')
                   i.search-drop__offer-collection.search-drop__collection-ico.is-hidden.js-tooltip-top(data-tooltip='Коллекции')
                   i.search-drop__offer-calendar.search-drop__calendar-ico.js-tooltip-top(data-tooltip='События')
                   i.search-drop__offer-rupor.search-drop__rupor-ico.js-tooltip-top(data-tooltip='Новости')
               .badge.badge--favor.badge--favor-search
                   i.badge__ico--favor-active
                   .badge__bottom
                   i.badge__ico.badge__ico--favor
               .search-drop__parking.is-hidden С
           .search-drop__item
               .search-drop__brand-img-container
                   img.search-drop__brand-img(src='/img/logos/200_01.jpg', alt='')
               .search-drop__brand
                   .search-drop__brand-name М.видео
                   .search-drop__brand-info Техника
               .search-drop__cost
                   span.search-drop__cost-highlight $
                   | $$
               .search-drop__storey
                   span.search-drop__storey-val 3
                   |  этаж
               .search-drop__offers
                   i.search-drop__offer-badge.search-drop__badge-ico.js-tooltip-top(data-tooltip='Акции')
                   i.search-drop__offer-collection.search-drop__collection-ico.js-tooltip-top(data-tooltip='Коллекции')
                   i.search-drop__offer-calendar.search-drop__calendar-ico.js-tooltip-top(data-tooltip='События')
                   i.search-drop__offer-rupor.search-drop__rupor-ico.js-tooltip-top(data-tooltip='Новости')
               .badge.badge--favor.badge--favor-search
                   i.badge__ico--favor-active
                   .badge__bottom
                   i.badge__ico.badge__ico--favor
               .search-drop__parking.is-hidden С
           .search-drop__item
               .search-drop__brand-img-container
                   img.search-drop__brand-img(src='/img/logos/200_02.jpg', alt='')
               .search-drop__brand
                   .search-drop__brand-name Burgerking
                   .search-drop__brand-info Ресторан быстрого обслуживания
               .search-drop__cost
                   span.search-drop__cost-highlight $$$
               .search-drop__storey
                   span.search-drop__storey-val 1
                   |  этаж
               .search-drop__offers
                   i.search-drop__offer-badge.search-drop__badge-ico.js-tooltip-top(data-tooltip='Акции')
                   i.search-drop__offer-collection.search-drop__collection-ico.js-tooltip-top(data-tooltip='Коллекции')
                   i.search-drop__offer-calendar.search-drop__calendar-ico.js-tooltip-top(data-tooltip='События')
                   i.search-drop__offer-rupor.search-drop__rupor-ico.js-tooltip-top(data-tooltip='Новости')
               .badge.badge--favor.badge--favor-search
                   i.badge__ico--favor-active
                   .badge__bottom
                   i.badge__ico.badge__ico--favor
               .search-drop__parking.is-hidden С