extends layouts/avp
block head_init
    link(rel='stylesheet', href='css/app.css')


block content
    #content
        .application
            .main-menu.animated.container(data-spy='affix', data-offset-top='0')
                .row
                    .col-md-6.col-sm-10
                        .col-double.col-md-10
                            .tile.tile-brand-slider.carousel.slide
                                #promo-slider.swiper-container
                                    .slide1
                                        .promo-logo
                                            img(src='img/main_slider/logo1.png', alt='')
                                        .carousel-caption
                                            .captiom-wrap
                                                .promo-icon
                                                    i.av-discount
                                                .promo-title Debenhams
                                                p 50% скидка на все трусики
                                    .slide2
                                        .promo-logo
                                            img(src='img/main_slider/logo2.jpg', alt='')
                                        .carousel-caption
                                            .promo-icon
                                                i.av-discount
                                            .promo-title Hoff
                                            p Распродажа удобных кресел для офиса!
                                    .slide3
                                        .promo-logo
                                            img(src='img/main_slider/logo3.png', alt='')
                                        .carousel-caption
                                            .promo-icon
                                                i.av-discount
                                            .promo-title MANGO
                                            p Красивая одежда для красавиц
                                    .slide4
                                        .promo-logo
                                            img(src='img/main_slider/logo4.jpg', alt='')
                                        .carousel-caption
                                            .promo-icon
                                                i.av-discount
                                            .promo-title Levi's
                                            p Ветровка черная из плотного хлопка
                        .col-md-10
                            .tile.tile-karo-slider.carousel.slide
                                #karo-slider.swiper-container
                                    .slide1
                                        .carousel-caption
                                            .promo-title
                                                .karo-icon
                                                    i.av-caret-right
                                                |                                             Стражи галактики
                                            .schedule
                                                | Ближайший в:
                                                span.time 17:00
                                            .link-tickets
                                                a(href='#') Бронировать билеты
                                    .slide4
                                        .carousel-caption
                                            .promo-title
                                                .karo-icon
                                                    i.av-caret-right
                                                |                                             Битва за Севастополь
                                            .schedule
                                                | Ближайший в:
                                                span.time 19:00
                                            .link-tickets
                                                a(href='#') Бронировать билеты
                                    .slide2
                                        .carousel-caption
                                            .promo-title
                                                .karo-icon
                                                    i.av-caret-right
                                                |                                             Мстители: эра Альтрона
                                            .schedule
                                                | Ближайший в:
                                                span.time 17:00
                                            .link-tickets
                                                a(href='#') Бронировать билеты
                                    .slide3
                                        .carousel-caption
                                            .promo-title
                                                .karo-icon
                                                    i.av-caret-right
                                                |                                             Форсаж 7
                                            .schedule
                                                | Ближайший в:
                                                span.time 17:00
                                            .link-tickets
                                                a(href='#') Бронировать билеты
                    .col-md-2.col-sm-3.col-xs-5
                        .tile.tile-text.tile-purple
                            .svg-anim
                                //TODO: check importing svg
                                svg#svgrest
                            .tile-text-wrapper
                                .tile-text 70
                                .tile-description ресторанов
                    .col-md-2.col-sm-3.col-xs-5
                        .tile.tile-text.tile-pink
                            .svg-anim
                                //TODO: check importing svg
                                svg#svgstores
                            .tile-text-wrapper
                                .tile-text 500
                                .tile-description магазинов
                    .col-md-2.col-sm-3.col-xs-5
                        .tile.tile-text.tile-light-blue
                            .svg-anim
                                //TODO: check importing svg
                                svg#svgaqua
                            .tile-text-wrapper
                                .tile-text 4Х
                                .tile-description этажный аквариум
                                .tile-description 2500 рыб
                    .col-md-2.col-sm-3.col-xs-5
                        .tile.tile-text.tile-violet
                            .svg-anim
                                //TODO: check importing svg
                                svg#svgmap
                            .tile-btn
                                span.btn.btn-primary.btn-round.btn-outline Как добраться
                                .tile-description на карте
                    .col-md-2.col-sm-3.col-xs-5
                        .tile.tile-image.tile-kidzania
                            .svg-anim
                                //TODO: check importing svg
                                svg#svgkidz
                            img(src='img/tile_kidzania.png', alt='')
                    .col-md-2.col-sm-3.col-xs-5
                        .tile.tile-text.tile-wifi
                            .svg-anim
                                //TODO: check importing svg
                                svg#svgwifi
                            .tile-text
                            .tile-description
                                | скоростной
                                br
                                |  интернет
            //TODO: refactoring block with discount page scheme
            section.container-fluid.main-content
                .container
                    article
                        .row
                            .panel-left.pull-left.hidden-xs
                                .panel
                                    .panel-body
                                        i.av-calendar.avv-calendar-size
                                        .panel-body-text Все события
                                    .panel-footer
                                        i.av-marker.avv-marker-size
                                        .panel-footer-text Показать на карте
                            .panel-slider.sales-autoplay
                                div
                                    .slider-element.slider-element-yellow
                                        .panel
                                            .panel-heading
                                                .sale-preview
                                                    img.img-responsive(src='img/sales/girl-in-bikini.jpg')
                                                    svg.shape-like
                                                        use.circle-like(xlink:href='#icon-circle-like')
                                                        use.icon-like(xlink:href='#icon-like')
                                                    .label-rectangle Bershka
                                            .panel-body
                                                span.sales-meta-description
                                                    | 50% скидка на нижнее белье...
                                                .sales-meta-option
                                                    a.text-muted(href='')
                                                        svg.icon-sales-svg-views
                                                            use(xlink:href='#icon-discount')
                                                        |                                                 показать скидку
                                            .panel-footer.hidden
                                                .panel-footer-text показать на карте
                                div
                                    .slider-element.slider-element-blue
                                        .panel
                                            .panel-heading
                                                .sale-preview
                                                    img.img-responsive(src='img/sales/laptop.jpg')
                                                    svg.shape-like
                                                        use.circle-like(xlink:href='#icon-circle-like')
                                                        use.icon-like(xlink:href='#icon-like')
                                                    .label-rectangle Media Market
                                            .panel-body
                                                span.sales-meta-description
                                                    | HP 520. По очень смешной цене. Только сегодня! Это уникальный ноутбук,
                                                .sales-meta-option
                                                    a.text-muted(href='')
                                                        svg.icon-sales-svg-views
                                                            use(xlink:href='#icon-collection')
                                                        |                                                 Показать коллекцию
                                            .panel-footer
                                                .sales-meta-discount
                                                    svg.icon-sales-svg-views
                                                        use(xlink:href='#icon-discount')
                                                    |                                             50%
                                                .sales-meta-price
                                                    span.price 3500
                                                    span.currency  руб
                                div
                                    .slider-element.slider-element-pink
                                        .panel
                                            .panel-heading
                                                .sale-preview
                                                    img.img-responsive(src='img/sales/boombox.jpg')
                                                    svg.shape-like
                                                        use.circle-like(xlink:href='#icon-circle-like')
                                                        use.icon-like(xlink:href='#icon-like')
                                                    svg.shape-launch
                                                        use.circle-like(xlink:href='#icon-circle-like')
                                                        use.icon-launch-share(xlink:href='#icon-launch-share')
                                                    .label-rectangle.wrap
                                                        | Media
                                                        br
                                                        |  Market
                                            .panel-body
                                                span.sales-meta-description
                                                    | Harman / Kardon
                                                    br
                                                    |                                             Скидка 50%
                                                .sales-meta-option
                                                    a.text-muted(href='')
                                                        svg.icon-sales-svg-views
                                                            use(xlink:href='#icon-calendar')
                                                        |                                                 С 1 апреля по 14 апреля
                                            .panel-footer
                                                .sales-meta-discount
                                                    svg.icon-sales-svg-views
                                                        use(xlink:href='#icon-discount')
                                                    |                                             30%
                                                .sales-meta-price
                                                    span.price 10.000
                                                    span.currency  руб
                                div
                                    .slider-element.slider-element-purple
                                        .panel
                                            .panel-heading
                                                .sale-preview
                                                    img.img-responsive(src='img/sales/chiled-bicycle.jpg')
                                                    svg.shape-like
                                                        use.circle-like(xlink:href='#icon-circle-like')
                                                        use.icon-like(xlink:href='#icon-like')
                                                    .label-rectangle KidsPlace
                                            .panel-body
                                                span.sales-meta-description
                                                    | Очень крутой детский велосипед! В нем много качественных сторон!
                                                .sales-meta-option
                                                    a.text-muted(href='')
                                                        svg.icon-sales-svg-views
                                                            use(xlink:href='#icon-rupor')
                                                        |                                                 Показать новость
                                            .panel-footer.hidden
                                                .sales-meta-discount
                                                    i.icon-tag.icon-views
                                                    | 30%
                                                .sales-meta-price
                                                    span.price 10.000
                                                    span.currency  руб
                                div
                                    .slider-element.slider-element-purple
                                        .panel
                                            .panel-heading
                                                .sale-preview
                                                    img.img-responsive(src='img/sales/chiled-bicycle.jpg')
                                                    svg.shape-like
                                                        use.circle-like(xlink:href='#icon-circle-like')
                                                        use.icon-like(xlink:href='#icon-like')
                                                    .label-rectangle KidsPlace
                                            .panel-body
                                                span.sales-meta-description
                                                    | Очень крутой детский велосипед! В нем много качественных сторон!
                                                .sales-meta-option
                                                    a.text-muted(href='')
                                                        svg.icon-sales-svg-views
                                                            use(xlink:href='#icon-rupor')
                                                        |                                                 Показать новость
                                            .panel-footer.hidden
                                                .sales-meta-discount
                                                    i.icon-tag.icon-views
                                                    | 30%
                                                .sales-meta-price
                                                    span.price 10.000
                                                    span.currency  руб
                                div
                                    .slider-element.slider-element-purple
                                        .panel
                                            .panel-heading
                                                .sale-preview
                                                    img.img-responsive(src='img/sales/chiled-bicycle.jpg')
                                                    svg.shape-like
                                                        use.circle-like(xlink:href='#icon-circle-like')
                                                        use.icon-like(xlink:href='#icon-like')
                                                    .label-rectangle KidsPlace
                                            .panel-body
                                                span.sales-meta-description
                                                    | Очень крутой детский велосипед! В нем много качественных сторон!
                                                .sales-meta-option
                                                    a.text-muted(href='')
                                                        svg.icon-sales-svg-views
                                                            use(xlink:href='#icon-rupor')
                                                        |                                                 Показать новость
                                            .panel-footer.hidden
                                                .sales-meta-discount
                                                    i.icon-tag.icon-views
                                                    | 30%
                                                .sales-meta-price
                                                    span.price 10.000
                                                    span.currency  руб
                    article
                        .row
                            .panel-brands.brands-autoplay-slider
                                div
                                    .brand-element.av-padding-top-bottom
                                        .panel
                                            .panel-body
                                                .panel-body-text
                                                    img.img-responsive.center-block(src='img/brands/1.png')
                                                    .brands-descr
                                                        .brands-descr-title Сеть гипермаркетов по продаже продуктов питания и товаров для дома
                                                        .brands-descr-category Гипермаркет
                                div
                                    .brand-element.av-padding-top-bottom
                                        .panel
                                            .panel-body
                                                .panel-body-text
                                                    img.img-responsive.center-block(src='img/brands/2.png')
                                                    .brands-descr
                                                        .brands-descr-title Самый большой гипермаркет мебели в России!
                                                        .brands-descr-category Товары для дома
                                div
                                    .brand-element.av-padding-top-bottom
                                        .panel
                                            .panel-body
                                                .panel-body-text
                                                    img.img-responsive.center-block(src='img/brands/3.png')
                                                    .brands-descr
                                                        .brands-descr-title Спортивная одежда и инвентарь.
                                                        .brands-descr-category Спорттовары
                                div
                                    .brand-element.av-padding-top-bottom
                                        .panel
                                            .panel-body
                                                .panel-body-text
                                                    img.img-responsive.center-block(src='img/brands/4.png')
                                                    .brands-descr
                                                        .brands-descr-title Широкий выбор электроники и бытовой техники
                                                        .brands-descr-category Электроника
                                div
                                    .brand-element.av-padding-top-bottom
                                        .panel
                                            .panel-body
                                                button.btn.btn-default.all-shops(type='button') Все магазины
                                div
                                    .brand-element.av-padding-top-bottom
                                        .panel
                                            .panel-body
                                                .panel-body-text
                                                    img.img-responsive.center-block(src='img/brands/5.png')
                                                    .brands-descr
                                                        .brands-descr-title Компания по производству модной одежды, обуви, сумок и аксессуаров для женщин
                                                        .brands-descr-category Одежда
                                div
                                    .brand-element.av-padding-top-bottom
                                        .panel
                                            .panel-body
                                                .panel-body-text
                                                    img.img-responsive.center-block(src='img/brands/fs5.jpg')
                                                    .brands-descr
                                                        .brands-descr-title Сеть гипермаркетов товаров для дома и дачи
                                                        .brands-descr-category Товары для дома
                    article.av-padding-bottom
                        .row
                            .panel-social-information.autoplay-social.emerge(data-spin='true')
                                .social-element
                                    .panel
                                        .panel-body
                                            .panel-body-text
                                                img(src='img/social/vk.png', alt='')
                                                span.avv-stack.avv-lg.social-in-corner
                                                    i.avv.av-circle.avv-stack-2x.avv-margin.avv-inverse
                                                    i.avv.avv-stack-1x.av-vk.avv-vk-color
                                .social-element
                                    .panel
                                        .panel-body
                                            .panel-body-text
                                                img(src='img/social/fb.png', alt='')
                                                span.avv-stack.avv-lg.social-in-corner
                                                    i.avv.av-circle.avv-stack-2x.avv-margin.avv-inverse
                                                    i.avv.avv-stack-1x.av-fb.avv-fb-color
                                .social-element
                                    .panel
                                        .panel-body
                                            .panel-body-text
                                                img(src='img/social/1.jpg', alt='')
                                                span.avv-stack.avv-lg.social-in-corner
                                                    i.avv.av-circle.avv-stack-2x.avv-margin.avv-dark-background
                                                    i.avv.avv-stack-1x.av-insta.avv-inverse
                                .social-element
                                    .panel
                                        .panel-body
                                            .panel-body-text
                                                img(src='img/social/2.jpg', alt='')
                                                span.avv-stack.avv-lg.social-in-corner
                                                    i.avv.av-circle.avv-stack-2x.avv-margin.avv-dark-background
                                                    i.avv.avv-stack-1x.av-insta.avv-inverse
                                .social-element
                                    .panel
                                        .panel-body
                                            .panel-body-text
                                                img(src='img/social/3.jpg', alt='')
                                                span.avv-stack.avv-lg.social-in-corner
                                                    i.avv.av-circle.avv-stack-2x.avv-margin.avv-dark-background
                                                    i.avv.avv-stack-1x.av-insta.avv-inverse
                                .social-element
                                    .panel
                                        .panel-body
                                            .panel-body-text
                                                img(src='img/social/1.jpg', alt='')
                                                span.avv-stack.avv-lg.social-in-corner
                                                    i.avv.av-circle.avv-stack-2x.avv-margin.avv-dark-background
                                                    i.avv.avv-stack-1x.av-insta.avv-inverse
                                .social-element
                                    .panel
                                        .panel-body
                                            .panel-body-text
                                                img(src='img/social/2.jpg', alt='')
                                                span.avv-stack.avv-lg.social-in-corner
                                                    i.avv.av-circle.avv-stack-2x.avv-margin.avv-dark-background
                                                    i.avv.avv-stack-1x.av-insta.avv-inverse
                                .social-element
                                    .panel
                                        .panel-body
                                            .panel-body-text
                                                img(src='img/social/3.jpg', alt='')
                                                span.avv-stack.avv-lg.social-in-corner
                                                    i.avv.av-circle.avv-stack-2x.avv-margin.avv-dark-background
                                                    i.avv.avv-stack-1x.av-insta.avv-inverse

block footer
    footer
        .container-fluid.hidden-xs.footer-desktop
            .container
                .row.show-more-row
                    i.av.av-chevron-down
                ul.flexible-footer
                    li
                        figure
                            //TODO: use svg from defs svg file
                            img.footer-logo(src='img/aviapark-footer.svg', alt='Авиапарк')
                            figcaption ул. Авиаконструктора Микояна, 10
                    li
                        ul.list-inline.open-time
                            li.clocks
                            li.time-open
                                ol ПН - ЧТ + ВС:
                                ol с 10:00 - по 22:00
                            li.time-open
                                ol ПТ - СБ:
                                ol с 10:00 - по 23:00
                    li
                        form.subscription(action='')
                            label(for='subscription') Получать новости
                            input#subscription(type='email', placeholder='E-MAIL')
                            button(type='submit')
                                i.avv.submit-icon.av-arrow-right
                    li
                        ul.list-unstyled.footer-information
                            li
                                a(href='#') контракты
                            li
                                a(href='#') арендаторам
                            li
                                a(href='#') справочная информация
                    li
                        ul.list-unstyled.footer-information
                            li
                                a(href='#') работа в авиапарке
                            li
                                a(href='#') реклама и пресса
                            li
                                a(href='#') об авиапарке
        .container-fluid.hidden-sm.hidden-md.hidden-lg.footer-mobile
            .container
                .row.row-padded
                    .col-xs-10.text-center
                        form.subscription(action='')
                            label(for='subscription') Получать новости
                            input#subscription(type='email', placeholder='E-MAIL')
                            button.btn-submit(type='submit')
                                i.avv.submit-icon.av-arrow-right
                .row.row-padded
                    .col-xs-10
                        ul.list-inline.open-hours
                            li.clocks
                            li.time-open
                                ol ПН-ЧТ + ВС:
                                ol с 10:00 - по 22:00
                            li.time-open
                                ol ПТ-СБ:
                                ol с 10:00 - по 23:00
                .row
                    .col-xs-10
                        ul.list-unstyled.text-center
                            li
                                a(href='#') контакты
                            li
                                a(href='#') арендаторам
                            li
                                a(href='#') справочная информация
                            li
                                a(href='#') работа в авиапарке
                            li
                                a(href='#') реклама и пресса
                            li
                                a(href='#') об авиапарке
                .row
                    .col-xs-10.text-center.company-brand
                        img.footer-logo(src='img/aviapark-footer.svg', alt='Авиапарк')

block offcanvas
    #sliding-menu.slideout-menu
        .row.header-xs
            .col-xs-3
                .user-avatar
                    .user-counter
                        | 8
                    .image
                        img(src='img/avatar.jpg', alt='', width='60px')
            .col-xs-7
                .row
                    .col-xs-10.user-name Иван Петрович
                    .col-xs-10.internet
                        .col-xs-2.icon
                            i.av-wifi.av-lg
                        .col-xs-8.text Войти в интернет
        hr.rainbow
        ul.nav.row
            li
                .icon
                    i.av-store
                .menu-item
                    a(href='#', role='button') магазины
            li
                .icon
                    i.av-dinner
                .menu-item
                    a(href='#', role='button') еда
            li
                .icon
                    i.av-star
                .menu-item
                    a(href='#', role='button') развлечения
            li
                .icon
                    i.av-baby
                .menu-item
                    a(href='#', role='button') дети
            li
                .icon
                    i.av-film-play
                .menu-item
                    a(href='#', role='button') кино
            li
                .icon
                    i.av-profile
                .menu-item
                    a(href='#', role='button') услуги
            li
                .icon
                    i.av-calendar-full
                .menu-item
                    a(href='#', role='button') акции и события
        .row
            ul.social
                li.navbar-btn
                    i.btn.btn-default.btn-circle.btn-odnoklassniki.av-ok
                li.navbar-btn
                    i.btn.btn-default.btn-circle.btn-youtube.av-youtube
                li.navbar-btn
                    i.btn.btn-default.btn-circle.btn-instagram.av-insta
                li.navbar-btn
                    i.btn.btn-default.btn-circle.btn-facebook.av-fb
                li.navbar-btn
                    i.btn.btn-default.btn-circle.btn-vk.av-vk
        .row
            .work-time
                span.text-time ПН - ЧТ + ВС: 10:00 - по 22:00  ПТ - СБ: 10:00 - 23:00
        .row.footer-xs
            .col-xs-10
                .row
                    .col-xs-3 об авиапарке
                    .col-xs-3 контакты
                    .col-xs-4 реклама и пресса
                .row
                    .col-xs-2.language-selector.active-lang
                        a(href='#', role='button')
                            span RU
                    .col-xs-2.language-selector
                        a(href='#', role='button')
                            span EN
                    .col-xs-6.menu-item
                        | Работа в авиапарке

block scripts
    .javascripts
        script(type='text/javascript', src='js/app.js')