include mixins/mixin-lorem-ipsum
extends layouts/avp
block head_init
    link(rel='stylesheet', href='css/app.css')
    script(type='text/javascript').
        window.onload = function () {
            Map.init(true, 2);
        };

block content
    #content
        include components/filter
    #map
    include components/modal-shop
    include components/modal-movie
block footer
block scripts
    .javascripts
        script(type='text/javascript', src='js/app.js')
        script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
