include mixins/mixin-lorem-ipsum
extends layouts/avp
block head_init
    link(rel='stylesheet', href='css/app.css')


block content
    #content
        include components/filter
        .container
            #special-masonry-container.av-margin-small-top
                article.block-special.block-special-news
                    .meta-preview
                        img.img-responsive(src='img/sales/chiled-bicycle.jpg')
                        .meta-badge KidsPlace
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name
                        | Очень крутой детский велосипед! В нем много качественных сторон!
                    .meta-special-option
                        i.av-rupor.avv-3x
                        a(href='')
                            | Показать новость
                article.block-special.block-special-calendar
                    .meta-preview
                        img.img-responsive(src='img/sales/boombox.jpg')
                        .meta-badge Media Market
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name Harman / Kardon! Скидка 50%!!
                    .meta-special-option
                        i.av-calendar.avv-3x
                        a(href='')
                            | с 1 апреля по 14 апреля
                    .meta-special-cost
                        .meta-special-percent
                            i.av-discount.avv-3x.avv-color-second-text
                            span 50%
                        .meta-special-price
                            span.meta-special-price-number 3500
                            span.meta-special-price-currency руб
                article.block-special.block-special-special
                    .meta-preview
                        img.img-responsive(src='img/sales/vitek.jpg')
                        .meta-badge Эльдорадо
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='', data-original-title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name Мультиварка с функцией хлебопечки!
                    .meta-special-option
                        i.av-discount.avv-3x
                        a(href='')
                            | Показать скидку
                    .meta-special-cost
                        .meta-special-percent
                            i.av-discount.avv-3x.avv-color-second-text
                            span 50%
                        .meta-special-price
                            span.meta-special-price-number 3500
                            span.meta-special-price-currency руб
                article.block-special.block-special-special
                    .meta-preview
                        img.img-responsive(src='img/sales/girl-in-bikini.jpg')
                        .meta-badge Bershka
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name 50% скидка на нижнее белье...
                    .meta-special-option
                        i.av-discount.avv-3x
                        a(href='')
                            | Показать скидку
                    .meta-special-cost
                        .meta-special-percent
                            i.av-discount.avv-3x.avv-color-second-text
                            span 50%
                        .meta-special-price
                            span.meta-special-price-number 3500
                            span.meta-special-price-currency руб
                article.block-special.block-special-calendar
                    .meta-preview
                        img.img-responsive(src='img/sales/watch.jpg')
                        .meta-badge Re:Store
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name
                        | Apple Watch по нереально большой скидке
                        | 50%!!! Это небывалая шара для ценителей хороших часов!
                    .meta-special-option
                        i.av-calendar.avv-3x
                        a(href='')
                            | с 24 апреля по 31 апреля
                article.block-special.block-special-special
                    .meta-preview
                        img.img-responsive(src='img/sales/girl-in-bikini.jpg')
                        .meta-badge Bershka
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name
                        | Harman / Kardon по нереально большой скидке
                        | 50%!!! Это небывалая шара для ценителей хорошего звука!
                    .meta-special-option
                        i.av-discount.avv-3x
                        a(href='')
                            | Показать скидку
                    .meta-special-cost
                        .meta-special-percent
                            i.av-discount.avv-3x.avv-color-second-text
                            span 50%
                        .meta-special-price
                            span.meta-special-price-number 3500
                            span.meta-special-price-currency руб
                article.block-special.block-special-news
                    .meta-preview
                        img.img-responsive(src='img/sales/perchatki.jpg')
                        .meta-badge Rendez Vous
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name
                        | Harman / Kardon по нереально большой скидке
                        | 50%!!! Это небывалая шара для ценителей хорошего звука!
                    .meta-special-option
                        i.av-rupor.avv-3x
                        a(href='')
                            | Показать новость
                article.block-special.block-special-collection
                    .meta-preview
                        img.img-responsive(src='img/sales/laptop.jpg')
                        .meta-badge Media Market
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name HP 250 по очень смешной цене. Только сегодня!
                    .meta-special-option
                        i.av-tag.avv-3x
                        a(href='')
                            | Показать коллекцию
                    .meta-special-cost
                        .meta-special-percent
                            i.av-discount.avv-3x.avv-color-second-text
                            span 50%
                        .meta-special-price
                            span.meta-special-price-number 3500
                            span.meta-special-price-currency руб
                article.block-special.block-special-collection
                    .meta-preview
                        img.img-responsive(src='img/sales/sumka.jpg')
                        .meta-badge Kapronovaya Strekoza
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name
                        | HP 250 по очень смешной цене. Только
                        | сегодня!
                    .meta-special-option
                        i.av-tag.avv-3x
                        a(href='')
                            | Показать коллекцию
                    .meta-special-cost
                        .meta-special-percent
                            i.av-discount.avv-3x.avv-color-second-text
                            span 50%
                        .meta-special-price
                            span.meta-special-price-number 3500
                            span.meta-special-price-currency руб
                article.block-special.block-special-news
                    .meta-preview
                        img.img-responsive(src='img/sales/saw.jpg')
                        .meta-badge Bershka
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name Пила циркулярная BORT BHK-160U
                    .meta-special-option
                        i.av-rupor.avv-3x
                        a(href='')
                            | Показать новость
                article.block-special.block-special-news
                    .meta-preview
                        img.img-responsive(src='img/sales/chiled-bicycle.jpg')
                        .meta-badge KidsPlace
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name
                        | Очень крутой детский велосипед! В нем много качественных сторон!
                    .meta-special-option
                        i.av-rupor.avv-3x
                        a(href='')
                            | Показать новость
                article.block-special.block-special-calendar
                    .meta-preview
                        img.img-responsive(src='img/sales/girl-in-bikini.jpg')
                        .meta-badge Bershka
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name 50% скидка на нижнее белье...
                    .meta-special-option
                        i.av-calendar.avv-3x
                        a(href='')
                            | с 1 мая по 15 мая
                    .meta-special-cost
                        .meta-special-percent
                            i.av-discount.avv-3x.avv-color-second-text
                            span 50%
                        .meta-special-price
                            span.meta-special-price-number 3500
                            span.meta-special-price-currency руб
                article.block-special.block-special-calendar
                    .meta-preview
                        img.img-responsive(src='img/sales/boombox.jpg')
                        .meta-badge Media Market
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name Harman / Kardon! Скидка 50%!!
                    .meta-special-option
                        i.av-calendar.avv-3x
                        a(href='')
                            | с 1 апреля по 14 апреля
                    .meta-special-cost
                        .meta-special-percent
                            i.av-discount.avv-3x.avv-color-second-text
                            span 50%
                        .meta-special-price
                            span.meta-special-price-number 3500
                            span.meta-special-price-currency руб
                article.block-special.block-special-special
                    .meta-preview
                        img.img-responsive(src='img/sales/vitek.jpg')
                        .meta-badge Эльдорадо
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='', data-original-title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name Мультиварка с функцией хлебопечки!
                    .meta-special-option
                        i.av-discount.avv-3x
                        a(href='')
                            | Показать скидку
                    .meta-special-cost
                        .meta-special-percent
                            i.av-discount.avv-3x.avv-color-second-text
                            span 50%
                        .meta-special-price
                            span.meta-special-price-number 3500
                            span.meta-special-price-currency руб
                article.block-special.block-special-collection
                    .meta-preview
                        img.img-responsive(src='img/sales/laptop.jpg')
                        .meta-badge Media Market
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name HP 250 по очень смешной цене. Только сегодня!
                    .meta-special-option
                        i.av-tag.avv-3x
                        a(href='')
                            | Показать коллекцию
                    .meta-special-cost
                        .meta-special-percent
                            i.av-discount.avv-3x.avv-color-second-text
                            span 50%
                        .meta-special-price
                            span.meta-special-price-number 3500
                            span.meta-special-price-currency руб
                article.block-special.block-special-news
                    .meta-preview
                        img.img-responsive(src='img/sales/chiled-bicycle.jpg')
                        .meta-badge KidsPlace
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name
                        | Очень крутой детский велосипед! В нем много качественных сторон!
                    .meta-special-option
                        i.av-rupor.avv-3x
                        a(href='')
                            | Показать новость
                article.block-special.block-special-special
                    .meta-preview
                        img.img-responsive(src='img/sales/girl-in-bikini.jpg')
                        .meta-badge Bershka
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name 50% скидка на нижнее белье...
                    .meta-special-option
                        i.av-discount.avv-3x
                        a(href='')
                            | Показать скидку
                article.block-special.block-special-special
                    .meta-preview
                        img.img-responsive(src='img/sales/girl-in-bikini.jpg')
                        .meta-badge Bershka
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name
                        | Harman / Kardon по нереально большой скидке
                        | 50%!!! Это небывалая шара для ценителей хорошего звука!
                    .meta-special-option
                        i.av-discount.avv-3x
                        a(href='')
                            | Показать скидку
                article.block-special.block-special-collection
                    .meta-preview
                        img.img-responsive(src='img/sales/laptop.jpg')
                        .meta-badge Media Market
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name HP 250 по очень смешной цене. Только сегодня!
                    .meta-special-option
                        i.av-tag.avv-3x
                        a(href='')
                            | Показать коллекцию
                    .meta-special-cost
                        .meta-special-percent
                            i.av-discount.avv-3x.avv-color-second-text
                            span 50%
                        .meta-special-price
                            span.meta-special-price-number 3500
                            span.meta-special-price-currency руб
                article.block-special.block-special-special
                    .meta-preview
                        img.img-responsive(src='img/sales/girl-in-bikini.jpg')
                        .meta-badge Bershka
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name 50% скидка на нижнее белье...
                    .meta-special-option
                        i.av-discount.avv-3x
                        a(href='')
                            | Показать скидку
                article.block-special.block-special-news
                    .meta-preview
                        img.img-responsive(src='img/sales/chiled-bicycle.jpg')
                        .meta-badge KidsPlace
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name
                        | Очень крутой детский велосипед! В нем много качественных сторон!
                    .meta-special-option
                        i.av-rupor.avv-3x
                        a(href='')
                            | Показать новость
                article.block-special.block-special-special
                    .meta-preview
                        img.img-responsive(src='img/sales/girl-in-bikini.jpg')
                        .meta-badge Bershka
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name 50% скидка на нижнее белье...
                    .meta-special-option
                        i.av-discount.avv-3x
                        a(href='')
                            | Показать скидку
                article.block-special.block-special-calendar
                    .meta-preview
                        img.img-responsive(src='img/sales/boombox.jpg')
                        .meta-badge Media Market
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name Harman / Kardon! Скидка 50%!!
                    .meta-special-option
                        i.av-calendar.avv-3x
                        a(href='')
                            | с 1 апреля по 14 апреля
                    .meta-special-cost
                        .meta-special-percent
                            i.av-discount.avv-3x.avv-color-second-text
                            span 20%
                        .meta-special-price
                            span.meta-special-price-number 4000
                            span.meta-special-price-currency руб
                article.block-special.block-special-special
                    .meta-preview
                        img.img-responsive(src='img/sales/girl-in-bikini.jpg')
                        .meta-badge Bershka
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name 50% скидка на нижнее белье...
                    .meta-special-option
                        i.av-discount.avv-3x
                        a(href='')
                            | Показать скидку
                article.block-special.block-special-collection
                    .meta-preview
                        img.img-responsive(src='img/sales/laptop.jpg')
                        .meta-badge Media Market
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name HP 250 по очень смешной цене. Только сегодня!
                    .meta-special-option
                        i.av-tag.avv-3x
                        a(href='')
                            | Показать коллекцию
                    .meta-special-cost
                        .meta-special-percent
                            i.av-discount.avv-3x.avv-color-second-text
                            span 20%
                        .meta-special-price
                            span.meta-special-price-number 3000
                            span.meta-special-price-currency руб
                article.block-special.block-special-special
                    .meta-preview
                        img.img-responsive(src='img/sales/girl-in-bikini.jpg')
                        .meta-badge Bershka
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name 50% скидка на нижнее белье...
                    .meta-special-option
                        i.av-discount.avv-3x
                        a(href='')
                            | Показать скидку
                article.block-special.block-special-calendar
                    .meta-preview
                        img.img-responsive(src='img/sales/boombox.jpg')
                        .meta-badge Media Market
                        .dropdown.meta-share
                            a#dLabel.avv-stack.share-button-icon(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                                i.avv.av-circle-full.circle-scale.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-share-icon.avv-stack-1x.avv-color-active
                            ul.dropdown-menu.dropdown-share(role='menu', aria-labelledby='dLabel')
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-vk-color.avv-margin
                                        i.avv.av-vk.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-fb-color.avv-margin
                                        i.avv.av-fb.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-ok-color.avv-margin
                                        i.avv.av-ok.avv-stack-1x.avv-inverse
                                li
                                    span.avv-stack
                                        i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                        i.avv.av-envelope.avv-stack-1x.avv-inverse
                        .groupe-favourite(data-toggle='tooltip', data-placement='bottom', title='Добавить в избранное')
                            a.avv-stack
                                i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
                                i.avv.av-star.avv-stack-1x.avv-color-active
                    h4.meta-special-name Harman / Kardon! Скидка 50%!!
                    .meta-special-option
                        i.av-calendar.avv-3x
                        a(href='')
                            | с 1 апреля по 14 апреля
                    .meta-special-cost
                        .meta-special-percent
                            i.av-discount.avv-3x.avv-color-second-text
                            span 60%
                        .meta-special-price
                            span.meta-special-price-number 5000
                            span.meta-special-price-currency руб
    .pre-map
    include components/modal-shop
    include components/modal-movie
block footer
block scripts
    .javascripts
        script(type='text/javascript', src='http://code.jquery.com/jquery-2.1.4.min.js')
        script(type='text/javascript', src='js/app.js')
        script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
        // TODO: Add leaflet vendor
        script(type='text/javascript', src="map/js/leaflet.js")
        script(type='text/javascript', src="map/js/leaflet.label.js")
        script(type='text/javascript', src="map/js/leaflet.markercluster.js")
        script(type='text/javascript', src="map/js/map.js")
