doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title Aviapark
        meta(name='description', content='Aviapark')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        block head_init
    body
        include ../components/header
        include ../components/nav
        block content
        include ../components/footer
        block offcanvas
        block scripts
