.container
   nav#special-filter.discount-nav-row
      .discount-box-filter.discount-box-filter-map
         input#checkbox-map.hidden(type='checkbox')
         label(for='checkbox-map')
            i.av-map2.avv-2x.avv-color-second-text
      .discount-search
         select#select-shops(placeholder='найти магазин')
      .dropdown.discount-category
         button#category-filter(type='button', data-toggle='dropdown',
         aria-haspopup='true', aria-expanded='false')
            | КАТЕГОРИИ
         ul.dropdown-menu.category-filter-list(role='menu', aria-labelledby='dLabel')
            li
               p.category-filter-icon.av-category-hypermarket Гипермаркет
            li
               p.category-filter-icon.av-category-womens Женская одежда
            li
               p.category-filter-icon.av-category-mens Мужская одежда
            li
               p.category-filter-icon.av-category-kids Детские товары
            li
               p.category-filter-icon.av-category-shoes Обувь
            li
               p.category-filter-icon.av-category-underwear Нижнее белье
            li
               p.category-filter-icon.av-category-sport Спортивные товары
            li
               p.category-filter-icon.av-category-health Красота и здоровье
            li
               p.category-filter-icon.av-category-beauty Косметика и парфюмерия
            li
               p.category-filter-icon.av-category-jewelry Ювелирные изделия и часы
            li
               p.category-filter-icon.av-category-accessories Аксессуары
            li
               p.category-filter-icon.av-category-household Товары для дома
            li
               p.category-filter-icon.av-category-electronic Электроника и бытовая техника
            li
               p.category-filter-icon.av-category-gifts Подарки и сувениры
      .discount-box-filter.discount-box-filter-special
         input#checkbox-special.hidden(type='checkbox', value='.block-special-special')
         label(for='checkbox-special')
            i.av-discount.avv-2x.avv-color-second-text
            span.discount-box-filter-text Акции
      .discount-box-filter.discount-box-filter-collection
         input#checkbox-collection.hidden(type='checkbox', value='.block-special-collection')
         label(for='checkbox-collection')
            i.av-tag.avv-2x.avv-color-second-text
            span.discount-box-filter-text Коллекции
      .discount-box-filter.discount-box-filter-calendar
         input#checkbox-calendar.hidden(type='checkbox', value='.block-special-calendar')
         label(for='checkbox-calendar')
            i.av-calendar.avv-2x.avv-color-second-text
            span.discount-box-filter-text События
      .discount-box-filter.discount-box-filter-news
         input#checkbox-news.hidden(type='checkbox', value='.block-special-news')
         label(for='checkbox-news')
            i.av-rupor.avv-2x.avv-color-second-text
            span.discount-box-filter-text Новости
      .discount-box-filter.discount-box-filter-favourite
         input#checkbox-favourite.hidden(type='checkbox', value='.block-special-favourite')
         label(for='checkbox-favourite')
            span.avv-stack
               i.avv.av-circle-full.avv-stack-2x.avv-dark-background.avv-margin
               i.avv.av-star.avv-stack-1x.avv-color-active
      .discount-box.discount-box-filter-clear
         button.av-close-btn(type='button', aria-label='Close')
            i.avv.avv-lg.av-cross2(alt='Close')
