block footer
    footer
        .container-fluid.hidden-xs.footer-desktop
            .container
                .row.show-more-row
                    i.av.av-chevron-down
                ul.flexible-footer
                    li(style='min-width: 21rem')
                        figure
                            svg.footer-logo
                                use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='svg/svg.svg#aviapark-footer')
                            div ул. Авиаконструктора Микояна, 10
                    li(style='min-width: 20rem')
                        .clocks
                        ul.list-inline.open-time
                            li.time-open
                                ol ПН - ЧТ + ВС:
                                ol 10:00 - 22:00
                            li.time-open
                                ol ПТ - СБ:
                                ol 10:00 - 23:00
                    li(style='min-width: 20rem')
                        form.subscription(action='')
                            label(for='subscription') Получать новости
                            input#subscription(type='email', placeholder='E-MAIL')
                            button(type='submit')
                                i.avv.submit-icon.av-arrow-right
                    li(style='min-width: 20rem')
                        ul.list-unstyled.footer-information
                            li
                                a(href='#') контракты
                            li
                                a(href='#') арендаторам
                            li
                                a(href='#') справочная информация
                    li(style='min-width: 15rem')
                        ul.list-unstyled.footer-information
                            li
                                a(href='#') работа в авиапарке
                            li
                                a(href='#') реклама и пресса
                            li
                                a(href='#') об авиапарке
        .container-fluid.hidden-sm.hidden-md.hidden-lg.footer-mobile
            .container
                .row.row-padded
                    .col-xs-10.text-center
                        form.subscription(action='')
                            label(for='subscription') Получать новости
                            input#subscription(type='email', placeholder='E-MAIL')
                            button.btn-submit(type='submit')
                                i.avv.submit-icon.av-arrow-right
                .row.row-padded
                    .col-xs-10
                        ul.list-inline.open-hours
                            li.clocks
                            li.time-open
                                ol ПН-ЧТ + ВС:
                                ol с 10:00 - по 22:00
                            li.time-open
                                ol ПТ-СБ:
                                ol с 10:00 - по 23:00
                .row
                    .col-xs-10
                        ul.list-unstyled.text-center
                            li
                                a(href='#') контакты
                            li
                                a(href='#') арендаторам
                            li
                                a(href='#') справочная информация
                            li
                                a(href='#') работа в авиапарке
                            li
                                a(href='#') реклама и пресса
                            li
                                a(href='#') об авиапарке
                .row
                    .col-xs-10.text-center.company-brand
                        svg.footer-logo
                            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='svg/svg.svg#aviapark-footer')
