block header
    header.header-001
        .container
            .header-arrow
            .header-logo
                svg.footer-logo
                    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='svg/svg.svg#aviapark-logo')
            ul.vertical-center-topbar.hidden-xs.navbar-nav.hidden-sm.animated
                li#language-switcher
                    label.default
                        input.hidden(type='radio', name='toggle', checked='')
                        span РУС
                    label.default
                        input.hidden(type='radio', name='toggle')
                        span ENG
                li.av-margin-left
                    span.clocks
                    ul.working-house
                        li.text-time
                            | сегодня открыт до 22:00
                        li.text-full
                            a полное расписание
            ul.nav-center.nav.navbar-nav.animated
                li
                    button.navbar-toggle.collapsed(type='button')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
            ul.vertical-center-topbar.row-social-icons.animated.hidden-xs.hidden-sm.pull-right
                li
                    span.visible-lg-inline
                        | оставайтесь с нами:
                li
                    span.avv-stack.avv-lg.social-hover-animation
                        i.avv.av-circle-empty.avv-stack-2x.avv-margin
                        i.avv.av-vk.avv-stack-1x.avv-social-topbar
                li
                    span.avv-stack.avv-lg.social-hover-animation
                        i.avv.av-circle-empty.avv-stack-2x.avv-margin
                        i.avv.av-fb.avv-stack-1x.avv-social-topbar
                li
                    span.avv-stack.avv-lg.social-hover-animation
                        i.avv.av-circle-empty.avv-stack-2x.avv-margin
                        i.avv.av-insta.avv-stack-1x.avv-social-topbar
                li
                    span.avv-stack.avv-lg.social-hover-animation
                        i.avv.av-circle-empty.avv-stack-2x.avv-margin
                        i.avv.av-youtube.avv-stack-1x.avv-social-topbar
                li
                    span.avv-stack.avv-lg.social-hover-animation
                        i.avv.av-circle-empty.avv-stack-2x.avv-margin
                        i.avv.av-ok.avv-stack-1x.avv-social-topbar
