.l-header-nav
    .centered-content
        nav.nav
            ul.nav__list
                li.nav__item
                    a.nav__link(href='#') Магазины
                li.nav__item
                    a.nav__link(href='#') Еда
                li.nav__item
                    a.nav__link(href='#') Развлечения
                li.nav__item
                    a.nav__link(href='#') Дети
                li.nav__item
                    a.nav__link(href='#') Кино
                li.nav__item
                    a.nav__link(href='#') Услуги
                li.nav__item
                    a.nav__link(href='#') Акции и события
        a.search(href='#')
            i.av-search-2.avv-margin
        .phone-number
            a(href='tel:+74956444544') 8 (495) 644-45-44
        .nav-btns
            a.button-main.hvr-sweep-to-right(href='#')
                span.button-text Как добраться
            a.button-main.button-main-favorite.hvr-sweep-to-right(href='#')
                span.button-text избранное&nbsp;
                    i.av-star.favorite-start
