#sliding-menu.slideout-menu
    .row.header-xs
        .col-xs-3
            .user-avatar
                .user-counter
                    | 8
                .image
                    img(src='img/avatar.jpg', alt='', width='60px')
        .col-xs-7
            .row
                .col-xs-10.user-name Иван Петрович
                .col-xs-10.internet
                    .col-xs-2.icon
                        i.av-wifi.av-lg
                    .col-xs-8.text Войти в интернет
    hr.rainbow
    ul.nav.row(data-reactid='.0.$/.1.0.1:$=10:$0')
        li(data-reactid='.0.$/.1.0.1:$=10:$0.$=12:$2')
            .icon
                i.av-store
            .menu-item
                a(href='#', role='button', data-reactid='.0.$/.1.0.1:$=10:$0.$=12:$2.0') магазины
        li(data-reactid='.0.$/.1.0.1:$=10:$0.$=13:$3')
            .icon
                i.av-dinner
            .menu-item
                a(href='#', role='button', data-reactid='.0.$/.1.0.1:$=10:$0.$=13:$3.0') еда
        li(data-reactid='.0.$/.1.0.1:$=10:$0.$=13:$3')
            .icon
                i.av-star
            .menu-item
                a(href='#', role='button', data-reactid='.0.$/.1.0.1:$=10:$0.$=14:$4.0') развлечения
        li(data-reactid='.0.$/.1.0.1:$=10:$0.$=13:$3')
            .icon
                i.av-baby
            .menu-item
                a(href='#', role='button', data-reactid='.0.$/.1.0.1:$=10:$0.$=15:$5.0') дети
        li(data-reactid='.0.$/.1.0.1:$=10:$0.$=13:$3')
            .icon
                i.av-film-play
            .menu-item
                a(href='#', role='button', data-reactid='.0.$/.1.0.1:$=10:$0.$=16:$6.0') кино
        li(data-reactid='.0.$/.1.0.1:$=10:$0.$=13:$3')
            .icon
                i.av-profile
            .menu-item
                a(href='#', role='button', data-reactid='.0.$/.1.0.1:$=10:$0.$=17:$7.0') услуги
        li(data-reactid='.0.$/.1.0.1:$=10:$0.$=13:$3')
            .icon
                i.av-calendar-full
            .menu-item
                a(href='#', role='button', data-reactid='.0.$/.1.0.1:$=10:$0.$=18:$8.0') акции и события
    .row
        ul.social(data-reactid='.0.$/.0.0.1:$=12:$2')
            li.navbar-btn(data-reactid='.0.$/.0.0.1:$=12:$2.$=15:$5')
                i.btn.btn-default.btn-circle.btn-odnoklassniki.av-ok(data-reactid='.0.$/.0.0.1:$=12:$2.$=15:$5.0')
            li.navbar-btn(data-reactid='.0.$/.0.0.1:$=12:$2.$=14:$4')
                i.btn.btn-default.btn-circle.btn-youtube.av-youtube(data-reactid='.0.$/.0.0.1:$=12:$2.$=14:$4.0')
            li.navbar-btn(data-reactid='.0.$/.0.0.1:$=12:$2.$=13:$3')
                i.btn.btn-default.btn-circle.btn-instagram.av-insta(data-reactid='.0.$/.0.0.1:$=12:$2.$=13:$3.0')
            li.navbar-btn(data-reactid='.0.$/.0.0.1:$=12:$2.$=12:$2')
                i.btn.btn-default.btn-circle.btn-facebook.av-fb(data-reactid='.0.$/.0.0.1:$=12:$2.$=12:$2.0')
            li.navbar-btn(data-reactid='.0.$/.0.0.1:$=12:$2.$=11:$1')
                i.btn.btn-default.btn-circle.btn-vk.av-vk(data-reactid='.0.$/.0.0.1:$=12:$2.$=11:$1.0')
    .row
        .work-time(data-reactid='.0.$/.0.0.1:$=10:$0.$=12:$2')
            span.text-time(data-reactid='.0.$/.0.0.1:$=10:$0.$=12:$2.1') ПН - ЧТ + ВС: 10:00 - по 22:00  ПТ - СБ: 10:00 - 23:00
    .row.footer-xs
        .col-xs-10
            .row
                .col-xs-3 об авиапарке
                .col-xs-3 контакты
                .col-xs-4 реклама и пресса
            .row
                .col-xs-2.language-selector.active-lang
                    a(href='#', role='button', data-reactid='.0.$/.0.0.1:$=10:$0.$=10:$0.0')
                        span(data-reactid='.0.$/.0.0.1:$=10:$0.$=10:$0.0.2') RU
                .col-xs-2.language-selector
                    a(href='#', role='button', data-reactid='.0.$/.0.0.1:$=10:$0.$=10:$0.0')
                        span(data-reactid='.0.$/.0.0.1:$=10:$0.$=10:$0.0.2') EN
                .col-xs-6.menu-item
                    | Работа в авиапарке
