script(type='text/javascript', src='js/jquery-2.1.3.min.js')
script(type='text/javascript', src='js/bootstrap.min.js')
script(type='text/javascript', src='vendors/slick/slick.min.js')
script(type='text/javascript', src='vendors/snap-svg/snap.svg-min.js')
script(type='text/javascript', src='js/slideout.min.js')
script(type='text/javascript', src='js/custom.js')
script(type='text/javascript', src='js/slick-custom.js')
