.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

/* ================================================================================
Example showing how to change the color/size of the icons:
.icon-name {
	font-size: 32px; // works because "width" & "height" were set using em units
	color: red; // works because "fill" was set to "currentColor"
}
================================================================================ */

.icon-facebook {
	width: 0.48046875em;
}

.icon-instagram {
	width: 0.98046875em;
}

.icon-odnoklassniki {
	width: 0.6025390625em;
}

.icon-vk {
	width: 0.7939453125em;
}

.icon-youtube {
	width: 0.9091796875em;
}

.icon-today {
	width: 2.2578125em;
}

.icon-arrow-bottom-2 {
	width: 3.2001953125em;
}

.icon-arrow-bottom {
	width: 1.6669921875em;
}

.icon-arrow-right {
	width: 0.5751953125em;
}

#icon-place .path1 {
	fill: rgb(255, 255, 255);
}
#icon-place .path2, #icon-place .path3 {
	fill: rgb(95, 105, 126);
}

#icon-place-geo .path1 {
	fill: rgb(255, 255, 255);
}
#icon-place-geo .path2, #icon-place-geo .path3 {
	fill: rgb(95, 105, 126);
}

.icon-user {
	width: 0.900390625em;
}

.icon-icon-arround {
	width: 0.943359375em;
}

.icon-fo-icon-1 {
	width: 1.5em;
}

.icon-fo-icon-2 {
	width: 1.5em;
}

.icon-screen {
	width: 1.111328125em;
}

.icon-logo {
	width: 8.6953125em;
}

.icon-play-2 {
	width: 0.8330078125em;
}

.icon-alphabet {
	width: 1.515625em;
}

.icon-badge {
	width: 1.0634765625em;
}

.icon-badges {
	width: 1.2197265625em;
}

.icon-bag {
	width: 0.806640625em;
}

.icon-boom {
	width: 0.943359375em;
}

.icon-brochure {
	width: 0.7939453125em;
}

.icon-bubble {
	width: 1.111328125em;
}

.icon-bulb {
	width: 0.609375em;
}

.icon-bus {
	width: 0.84765625em;
}

.icon-calendar-2 {
	width: 1.111328125em;
}

.icon-calendar {
	width: 0.9794921875em;
}

.icon-car-2 {
	width: 1.7861328125em;
}

.icon-car {
	width: 1.13671875em;
}

.icon-collection {
	width: 0.92578125em;
}

.icon-download {
	width: 1.3515625em;
}

.icon-envelope {
	width: 1.2822265625em;
}

.icon-film {
	width: 1.25em;
}

.icon-fleet {
	width: 0.943359375em;
}

.icon-fork {
	width: 0.892578125em;
}

.icon-gift {
	width: 0.8330078125em;
}

.icon-hand {
	width: 0.943359375em;
}

.icon-hanger {
	width: 1.25em;
}

.icon-jumper {
	width: 0.5498046875em;
}

.icon-layers {
	width: 1.3154296875em;
}

.icon-lightning {
	width: 0.6943359375em;
}

.icon-mail {
	width: 1.5625em;
}

.icon-mark {
	width: 1.0205078125em;
}

.icon-marker-2 {
	width: 0.7138671875em;
}

.icon-marker-3 {
	width: 0.609375em;
}

.icon-marker {
	width: 0.7939453125em;
}

.icon-peoples {
	width: 1.0419921875em;
}

.icon-pig {
	width: 1.2822265625em;
}

.icon-plane {
	width: 1.111328125em;
}

.icon-player {
	width: 0.84765625em;
}

.icon-route {
	width: 1.25em;
}

.icon-rupor {
	width: 1.1630859375em;
}

.icon-search {
	width: 0.943359375em;
}

.icon-share {
	width: 0.98046875em;
}

.icon-star {
	width: 1.0419921875em;
}

.icon-student {
	width: 0.943359375em;
}

.icon-typewriter {
	width: 0.943359375em;
}

.icon-watch {
	width: 0.7939453125em;
}
