.select-options
  width: 100%
  +display-flex
  +flex-direction(row)
  >div
    background-color: $default-color
    +single-box-shadow(0, 1px, 0, 0, $av-color-border, inset)
    height: 6rem
    vertical-align: text-top
    display: inline-block
    +flex(1 1 50%)
    +display-flex
    +flex-direction(row)
    // transition
    +transition-duration($time-transition-search)
    +transition-property(all)

.meta-search-logo
  display: inline-block
  +display-flex(inline-flex)
  +align-items(center)
  +justify-content(center)
  text-align: center
  +flex(0 0 15rem)
  img
    height: 2rem

.meta-search-header
  display: inline-block
  +display-flex(inline-flex)
  +align-items(center)
  font-family: "Houschka Pro Bold"
  color: $av-color-main-text
  +flex(1 0)
  ul
    li:first-child
      font-size: 1.077em
    li:nth-child(2)
      font-size: 0.769em

.meta-search-floor
  display: inline-block
  +display-flex(inline-flex)
  +align-items(center)
  color: $av-color-main-text
  +justify-content(flex-end)
  +flex(1 0 auto)

.meta-search-icons
  display: inline-block
  +display-flex(inline-flex)
  +align-items(center)
  +justify-content(flex-end)
  +flex(1 0 auto)
  i
    +transition-duration($time-transition-search)
    +transition-property(all)


.selectize-dropdown.single
  border: none

.search-icons-container
  width: 40px

.select-options
  &:hover
    >div:first-child
      background-color: $av-color-hover-search
    >div:nth-child(2)
      background-color: $av-color-hover-search
    .meta-search-header
      color: $av-color-main-text
    .meta-search-floor
      color: $av-color-main-text
    .search-icons-container-favorite
      i:first-child
        color: $av-color-icon-bg
      i:nth-child(2)
        color: $av-color-active

.select-options-selected
  >div:first-child
    background-color: $av-color-active-search
  >div:nth-child(2)
    background-color: $av-color-main-text
  .meta-search-header
    color: $default-color
  .meta-search-floor
    color: $av-color-active
  .meta-search-icons
    >i
      color: $av-color-active

.favorite-shop
  +single-box-shadow(4px, 0, 0, 0, $av-color-main-text, inset)
