// Tooltip element
.tooltip-inner
  background-color: $av-color-tooltip
  color: $default-color

.tooltip.bottom .tooltip-arrow
  border-bottom-color: $av-color-tooltip

.tooltip-inner
  font-size: 1.154em
  font-family: Corbel
  border-radius: 0.6rem
  padding: 0.5rem 1rem