mq($breakpoint)
  mq-xs = '(min-width: 320px) and (max-width: 767px)'
  mq-s = '(min-width: 768px) and (max-width: 999px)'
  mq-m = '(min-width: 1000px) and (max-width: 1199px)'
  mq-l = '(min-width: 1200px) and (max-width: 1399px)'
  mq-xl = '(min-width: 1400px)'
  if $breakpoint == xs
    @media mq-xs
      {block}
  else if $breakpoint == s
    @media mq-s
      {block}
  else if $breakpoint == m
    @media mq-m
      {block}
  else if $breakpoint == l
    @media mq-l
      {block}
  else if $breakpoint == xl
    @media mq-xl
      {block}
