@font-face
  font-family "aviapark"
  src url("../fonts/aviapark.eot?60050374")
  src url("../fonts/aviapark.eot?60050374#iefix") format("embedded-opentype"), url("../fonts/aviapark.woff?60050374") format("woff"), url("../fonts/aviapark.ttf?60050374") format("truetype"), url("../fonts/aviapark.svg?60050374#aviapark") format("svg")
  font-weight normal
  font-style normal

// All of icons
.av-circle-empty:before
  content ''
  border 1px solid $av-social-topbar-border
  width 3.6rem
  height 3.6rem
  border-radius 50%
.av-vk:before
  content '\e000'
.av-fb:before
  content '\e001'
.av-insta:before
  content '\e002'
.av-youtube:before
  content '\e003'
.av-ok:before
  content '\e004'
.av-marker:before
  content '\e005'
.av-icon-search:before
  content '\e006'
.av-like:before
  content '\e007'
.av-calendar:before
  content '\e008'
.av-discount:before
  content '\e009'
.av-percent:before
  content '\e010'
.av-rupor:before
  content '\e011'
.av-tag:before
  content '\e012'
.av-wifi:before
  content '\e014'
.av-dinner:before
  content '\e015'
.av-calendar-full:before
  content '\e016'
.av-store:before
  content '\e017'
.av-baby:before
  content '\e018'
.av-profile:before
  content '\e019'
.av-film-play:before
  content '\e020'
  //TODO: after refactoting delete av-circle
.av-circle:before
  content '\e022'
.av-circle-full:before
  content: '\e82c'
.av-pig:before
  content '\e024'
.av-gift:before
  content '\e025'
.av-sun:before
  content '\e026'
.av-arrow-right:before
  content '\e027'
.av-caret-right:before
  content '\e028'
.av-chevron-down:before
  content '\e815'
.av-icon-chevron-up:before
  content '\e800'
.av-star:before
  content '\e801'
.av-map2:before
  content '\e802'
.av-list:before
  content '\e803'
.av-cross2:before
  content '\e804'
.av-search-2:before
  content '\e805'
.av-share-icon:before
  content '\e806'
.av-pointer-icon:before
  content '\e807'
.av-chevron-right-circle:before
  content '\e808'
.av-chevron-left-circle:before
  content '\e809'
.av-envelope:before
  content '\e80a'
.av-picture-icon:before
  content '\e80b'
.av-launch-thin-icon:before
  content: '\e80c'
.av-icon-arrow-wave:before
  content '\e80d'
.av-icon-watch:before
  content '\e80e'
.av-icon-arrows-split:before
  content '\e80f'
.av-icon-telephone:before
  content '\e810'
.av-icon-parking:before
  content '\e811'
.av-icon-window:before
  content '\e812'
.av-icon-clock3:before
  content '\e813'
.av-icon-layers:before
  content '\e814'

.av-category-entertainment:before
  content '\e816'
.av-category-fashion:before
  content '\e817'
.av-category-food:before
  content '\e818'
.av-category-accessories:before
  content '\e819'
.av-category-department:before
  content '\e81a'
.av-category-beauty:before
  content '\e81b'
.av-category-diy:before
  content '\e81c'
.av-category-electronic:before
  content '\e81d'
.av-category-household:before
  content '\e81e'
.av-category-hypermarket:before
  content '\e81f'
.av-category-jewelry:before
  content '\e820'
.av-category-kids:before
  content '\e821'
.av-category-mens:before
  content '\e822'
.av-category-underwear:before
  content '\e823'
.av-category-womens:before
  content '\e824'
.av-category-gifts:before
  content '\e825'
.av-category-health:before
  content '\e826'
.av-category-parfum:before
  content '\e827'
.av-category-service:before
  content '\e828'
.av-category-shoes:before
  content '\e829'
.av-category-sport:before
  content '\e82a'
.av-category-sportfashion:before
  content '\e82b'