@font-face
  font-family "Houschka Pro Bold"
  src url("../fonts/Houschka Pro Bold.eot")
  src url("../fonts/Houschka Pro Bold.eot?") format("embedded-opentype"), url("../fonts/Houschka Pro Bold.woff") format("woff"), url("../fonts/Houschka Pro Bold.ttf") format("opentype")
  font-weight bold
  font-style normal
@font-face
  font-family "Houschka Pro DemiBold"
  src url("../fonts/Houschka Pro DemiBold.eot")
  src url("../fonts/Houschka Pro DemiBold.eot?") format("embedded-opentype"), url("../fonts/Houschka Pro DemiBold.woff") format("woff"), url("../fonts/Houschka Pro DemiBold.ttf") format("opentype")
  font-weight 600
  font-style normal
@font-face
  font-family "Houschka Pro Medium"
  src url("../fonts/Houschka Pro Medium.eot")
  src url("../fonts/Houschka Pro Medium.eot?") format("embedded-opentype"), url("../fonts/Houschka Pro Medium.woff") format("woff"), url("../fonts/Houschka Pro Medium.ttf") format("opentype")
  font-weight 500
  font-style normal
