@font-face
  font-family "slick"
  src url("../fonts/slick.eot")
  src url("../fonts/slick.eot") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg") format("svg")
  font-weight normal
  font-style normal
