#svg_logo
  height 12px

.main-content
  padding 100px 0 0 0
  background-color $background-content

//#content
  //min-height 100%       // sticky footer
  //margin 0 auto -241px /* the bottom margin is the negative value of the footer's height */