// ** Discount page styles
label
  font-weight normal

// Row of filters and options
.discount-nav-row
  display flex
  flex-direction row
  position relative
  z-index 1

// Elements of row for discount
.discount-box-filter
  position relative
  width 6.3rem
  transition-duration $time-transition
  transition-property width
  transition-timing-function linear
  >label
    margin 0
    background-color $default-color
    border-left 1px solid $color-navigation-border
    width 100%
    height 6.3rem
    overflow hidden
    text-transform uppercase
    display flex
    justify-content center
    align-items center
    /* transition */
    transition-duration $time-transition
    transition-property all
    transition-timing-function linear
  label:hover
    cursor pointer
    background $av-color-white-hover
    text-align center
    .discount-box-filter-text
      opacity 1
      margin 0 25px 0 0
  .avv-2x
    margin 0 10px 0 17px


.discount-box
  border-left 1px solid $color-navigation-border
  height 6.3rem
  width 6.3rem
  display flex
  justify-content center
  align-items center
  background-color $default-color

.discount-box-filter-text
  color: $av-color-main-text
  transition-duration $time-transition
  transition-property all
  font-size 12px
  opacity 0
  font-family "Houschka Pro Bold"
  margin-left: 40px

// Modifications for elements
discount-box-filter-mixin($color)
  input[type=checkbox]:checked:not(old) + label
    box-shadow 0 -6px 0 0 $color inset

.discount-box-filter-special
  flex-wrap wrap-reverse
  discount-box-filter-mixin($av-color-yellow)
  &:hover
    width 13rem
.discount-box-filter-collection
  discount-box-filter-mixin($av-color-cian)
  &:hover
    width 16rem
.discount-box-filter-calendar
  discount-box-filter-mixin($av-color-pink)
  &:hover
    width 14rem
.discount-box-filter-news
  discount-box-filter-mixin($av-color-purple)
  &:hover
    width 14rem
.discount-box-filter-favourite
  label
    justify-content(center)
  input[type=checkbox]:checked + label
    .avv-color-active
      color $av-color-pink
  .av-star
    font-size 1.6rem

.discount-box-filter-favourite
  i
    transition-duration $time-transition
    transition-property all
    transition-timing-function ease-in

.discount-box-filter-map
  input[type=checkbox]:checked + label
    .av-map2:before
      content "\e803"

.discount-box-filter-clear
  cursor pointer
  span
    line-height 6.3rem
    font-size 0.923em
    color $av-color-main-text
    text-transform uppercase
    font-family "Houschka Pro Bold"

button.av-close-btn
  padding 0
  background transparent
  border 0
  appearance none
  text-shadow none

.av-close-btn
  font-weight bold
  vertical-align top
  color $av-color-main-text
  text-shadow 0 1px 0 white
  opacity 0.6
  //filter alpha(opacity = 20)
  img
    vertical-align top
    width 15px
    padding-top 12px

// Search element
.discount-search
  background-color: $default-color
  border-left: 1px solid $color-navigation-border
  .av-search-field
    text-transform: uppercase
    padding: 0 0 0 4rem
  flex 1 0 25rem
  //+display-flex
  justify-content flex-start
  align-items center

.discount-category
  height 63px
  background-color: $default-color
  border-left: 1px solid $color-navigation-border

//TODO: make wrap of filters
// Category dropdown


// Category dropdown
#category-filter
  border none
  height 63px
  line-height 62px
  background-color $default-color
  padding 0 15px 0 15px
  color $av-color-main-text
  font-size 12px
  font-family "Houschka Pro Bold"
  &:hover
    background-color $av-color-white-hover
  &:before
    content '\e815'
    font-family aviapark
    font-size 20px
    width 40px
    display inline-block
// Links within the dropdown menu

.category-filter-list
  overflow-y auto
  max-height 63rem
  > li
    display block
    padding 0 20px 0 15px
    clear both
    font-size 12px
    text-transform uppercase
    height 5rem
    width auto
    line-height 5rem
    color $av-color-main-text
    font-family "Houschka Pro Bold"
    white-space nowrap // prevent links from randomly breaking onto new lines
    border-bottom 1px solid #F0F1F1
    &:hover
      background-color #505464
      color $default-color
      cursor pointer
      .category-filter-icon
        &:before
          color white

.category-filter-icon
  margin 0
  &:before
    font-family aviapark
    font-size 21px
    width 38px
    display inline-block
    color #ACAEB6
    vertical-align middle
    margin-right: 12px !important
