.header-001
  color #3d4252
  text-transform uppercase
  border-width 0
  background-color white
  margin-bottom 0
  z-index 1010
  min-height 1.1rem
  position: relative
  #svg_logo
    height 12px
  .company-brand
    background none
    min-width 210px
  .social
    .navbar-text
      font-size 12px
      text-transform uppercase
    .btn
      padding 6px 6px
    .btn-default
      color $btn-default-color
      border 1px solid $btn-default-color
      background $btn-success-color
      font-size 14px
      padding 0
      line-height 32px
    .btn-default:hover
      color white
      background-color $btn-default-bg
      border-color $btn-default-bg
      text-shadow 0 0 2px #000431
    .btn-vk
      line-height 33px
  .nav
    text-align center

.vertical-center-topbar
  padding 0
  margin 0
  > li
    height 6.2rem
    text-align center
    vertical-align text-top
    display inline-flex
    align-items center
    justify-content center

#language-switcher
  justify-content flex-start
  float left
  font-family "Houschka Pro Bold"
  label
    float left
    width 3.6rem
    height 3.6rem
    border-radius 3.6rem
    margin 0
    background-color #efefef
    overflow auto
  label span
    text-align center
    font-size 12px
    padding 12px 0
    line-height 12px
    display block
    transition-duration $time-transition
    transition-property all
    transition-timing-function ease-in
  input:checked + span
    background-color $lang-switcher
    color $default-color
  .default
    background-color $default-color
    color $color-all-shops

.working-house
  justify-content flex-end
  margin 0 0 0 15px
  > li
    text-align left
  .text-time
    font-size 11px
    font-family proxima-nova, sans-serif
    font-weight 700
    color $color-all-shops
    margin-bottom 2px
  .text-full
    font-size 1.1rem
    font-weight 700
    font-family proxima-nova, sans-serif
    text-transform uppercase
    line-height 16.5px
    margin-bottom 3px
    a
      border-bottom: 1px solid $color-all-shops
      color $color-all-shops
      text-decoration none
      &:hover
        border-bottom: 0


.row-social-icons
  > li
    margin-left 2px
  > li:first-child
    margin 0 20px 0 0
    font-size 12px
    font-family "Houschka Pro Bold"
    color $brand-primary
    text-transform uppercase

.icon-transition
  transition-duration $time-transition

.header-arrow
  position absolute
  bottom: -13px
  left 50%
  transform translate(-50%, 0)
  width 0
  height 0
  border-left 22px solid transparent
  border-right 22px solid transparent
  border-top 13px solid white

.header-logo
  position absolute
  left 50%
  transform translate(-50%, 0)
  width 210px
  line-height 62px
  svg
    vertical-align middle
