.l-header
  z-index 10
  top 0
  left 0
  width 100%
  background-color #3d4252;
  font-family "Houschka Pro Bold"
  transform translate3d(0,0,0)
  .no-touch
    position fixed
  .touch
    position absolute
.l-header-top
  position relative
  display flex
  flex-direction column
  justify-content center
  min-height 62px
  background-color white
  .centered-content
    +mq(s)
      min-height 22px
.l-header-nav
  display flex
  flex-direction column
  justify-content center
  height 68px
  color white
  /*.is-fixed & {
    height: 68px;
  }*/
  .centered-content
    +mq(m)
      display: flex
      justify-content space-between

.centered-content
  position relative
  width 100%
  margin 0 auto
  padding 0 10px
  +mq(xs)
    min-width 320px
  +mq(s)
    max-width 768px
  +mq(m)
    max-width 1020px
  +mq(l)
    max-width 1220px
  +mq(xl)
    max-width 1420px

.nav
  order 3
  margin-top 9px
  left 0
  right 0
  text-align center
  +mq(xs)
    display none
  +mq(s)
    display none
  +mq(l)
    position absolute
  +mq(xl)
    position absolute
  &__list
    display inline-block
    vertical-align top
    font-size 1.2rem
    font-weight bold
    text-transform uppercase
    letter-spacing 1px
  &__item
    float left
    margin 0 13px
    +mq(m)
      margin 0 7px
    +mq(l)
      margin 0 7px
  &__link
    font-family "Houschka Pro Bold"
    padding-bottom 4px
    color white
    transition $time-transition ease
    &:hover
      text-decoration none
      border-bottom 3px solid $av-color-active
      color $av-color-active

.search
  order: 1
  position: relative
  float: left
  width: 36px
  height: 36px
  padding: 8px 0 0 8px
  border-radius: 50%
  border: 1px solid #656c81
  transition: $medium-duration ease
  i
    color $av-color-active
    font-size 18px
    line-height 36px
    vertical-align top
  &:hover
    background-color: #484e60
    border-color: #484e60
  &__ico
    display: inline-block
    vertical-align: top

.phone-number
  order 2;
  position relative
  float left
  margin-top 4px
  font-size 1.8rem
  font-family "Houschka Pro Medium"
  a
    color white
    transition $medium-duration
    &:visited,
    &:hover,
    &:active
      text-decoration none
      color $av-color-active
  .is-fixed
    display none
  +mq(xs)
    display none
  +mq(s)
    display none
  +mq(l)
    margin-left 45px
  +mq(xl)
    margin-left 89px

.nav-btns
  +mq(xs)
    display flex
    justify-content space-around
    .btn
      border 0
  +mq(s)
    display flex
    justify-content space-around
    .btn
      border 0
  +mq(m)
    order 4
    float right
  .btn:first-child
    display none
  +mq(l)
    order 4
    float right
  +mq(xl)
    order 4
    float right

