doctype html
html
   head
      meta(charset='utf-8')
      title Aviapark - 404
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(href='css/styles.css', rel='stylesheet')
      script(src='js/libs/modernizr.js')
      script(src='//use.typekit.net/ibx6xen.js')
      script.
         try{Typekit.load();}catch(e){}
   body
      .l-wrapper.page-404
         .page-404__head
            img(width='329', src='img/logo-big.png', alt='')
         .page-404__content
            div
               img.page-404__text(width='292', src='img/404.png', alt='')
               p Это значит, что этой страницы не существует.
               a.btn.page-404__btn(href='#') Вернуться на главную
