#special-masonry-container
  article
    margin-bottom: 1.35rem

.block-special
  width: 100%
  background-color: $default-color
  z-index: 1
  &:hover
    .meta-share, .groupe-favourite
      opacity: 1
  .img-responsive
    width: 100%

@media (min-width: 480px)
  #special-masonry-container
    .block-special
      width: 48%

@media (min-width: 768px)
  #special-masonry-container
    .block-special
      width: 31%

@media (min-width: 992px)
  #special-masonry-container
    padding-left: 4.5%
    margin-top: 35px
    article
      margin-bottom: 35px
    .block-special
      width: 27.7%

@media (min-width: 1400px)
  #special-masonry-container
    padding: 0
    margin-top: 15px
    article
      margin-bottom: 1.35rem
    .block-special
      width: 19.3%

.meta-preview
  position: relative

.meta-share
  opacity: 0
  position: absolute
  top: 1.5rem
  left: 1.5rem
  padding: 0.3rem
  .avv-stack
    width: 4.2rem // Hardcode by Mihail
    height: 3.8rem // Hardcode by Mihail
    line-height: 4.2rem // Hardcode by Mihail
  .avv-stack-1x
    font-size: 1.5rem // Hardcode by Mihail
  .avv-stack-2x
    font-size: 4.2rem // Hardcode by Mihail
  +transition-property(all)
  +transition-duration(0.2s)

.share-button-icon
  z-index: 1001
  i
    +transition-property(all)
    +transition-duration(0.2s)
  &:hover
    cursor: pointer
    .circle-scale
      @include scale(1.2, 1.2)

.meta-share-icons-bg
  background-color: $default-color
  border-radius: 4.5rem

.meta-share-icons
  opacity: 0


.meta-preview .groupe-favourite
  opacity: 0
  position: absolute
  top: 1.8rem
  right: 1.8rem
  +transition-property(all)
  +transition-duration(0.2s)
  i
    +transition-property(all)
    +transition-duration(0.2s)
  .avv-stack
    width: 4.2rem
    height: 4.2rem
    line-height: 4.2rem
  .avv-stack-1x
    font-size: 1.6rem
  .avv-stack-2x
    font-size: 4.2rem
  &:hover
    cursor: pointer
    .av-circle
      @include scale(1.2, 1.2)
    .av-star
      color: $av-color-pink

.meta-badge
  position: absolute
  bottom: -1.8rem
  left: 2rem
  line-height: 3.6rem
  font-size: 1.308em
  font-weight: 700
  padding: 0 0.9rem 0 0.9rem
  word-wrap: normal
  color: $default-color

.meta-special-name
  line-height: 2.229rem
  font-size: 1.308em
  padding: 3.6rem 1.8rem 0 1.8rem
  color: $av-color-main-text
  font-family: "Corbel"
  font-weight: 700

.meta-special-option
  padding: 0.8rem 1.8rem 2rem 1.8rem
  color: $av-color-second-text
  a
    font-size: 1.154em
    color: $av-color-second-text
    font-family: "Corbel"
    vertical-align: text-bottom

.meta-special-cost
  //display: none
  min-height: 7rem
  padding: 2rem 1.8rem 2rem 1.8rem
  +single-box-shadow(0, 1px, 0, 0, $av-color-horizon-border, inset)
  .meta-special-percent
    float: left
    span
      font-size: 1.538em
      font-family: "Houschka Pro Medium"
      color: $av-color-main-text
  .meta-special-price
    float: right
    font-family: "Houschka Pro Medium"
    .meta-special-price-number
      font-size: 1.538em
      color: $av-color-main-text
    .meta-special-price-currency
      margin: 0 0 0 0.5rem
      font-size: 1em
      color: $av-color-main-text
      text-transform: uppercase

// Mixin for color of special-block
=block-special-color-mixin($color,$bg-color)
  +single-box-shadow(0, -6px, 0, 0, $bg-color, inset)
  .meta-badge
    background-color: $bg-color
    color: $color

.block-special-special
  +block-special-color-mixin($default-color,$av-color-yellow)

.block-special-collection
  +block-special-color-mixin($av-color-text-for-cian,$av-color-cian)

.block-special-calendar
  +block-special-color-mixin($default-color,$av-color-pink)

.block-special-news
  +block-special-color-mixin($default-color,$av-color-purple)


.dropdown-share
  top: -5px
  left: -3px
  border-radius: 4rem
  min-width: 0
  margin: 0
  padding: 5rem 6px 10px 6px
  border: none

