.store-gallery
    .swiper-container.js-store-gallery
        .swiper-wrapper
            .swiper-slide
                img(src='img/storegallery/1.jpg', alt='')
            .swiper-slide
                img(src='img/storegallery/2.jpg', alt='')
    .store-gallery__thumbs.js-store-gallery__thumbs
        .store-gallery__thumb.is-active(style='background-image: url(img/storegallery/1.jpg)')
        .store-gallery__thumb(style='background-image: url(img/storegallery/2.jpg)')
    .store-gallery__close.js-store-gallery__close