script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
script(src='js/libs/snap.svg-min.js')
script(src='map/js/leaflet.js')
script(src='map/js/leaflet.label.js')
script(src='map/js/map.js')
script(src='js/plugins.js')
script(src='js/snap-main-animations.js')
script(src='js/animations.js')
script(src='js/plugins/jquery.infinitescroll.js')
script(src='js/main.js')
script(src='js/markerwithlabel.min.js')
script(src='js/gm.js')