.stock-item.stock-item--theme-skyblue
   .badge.badge--favor.badge--favor-stock.js-tooltip-top(data-tooltip='Добавить в избранное')
      .badge__bottom
      svg.ico.icon.icon-star.badge__ico.badge__ico--favor
         use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-star')
   a.stock-item__img-link(href='#')
      img.stock-item__img(data-no-retina='', src='img/uploads/stock-img-2.jpg', alt='')
   .stock-item__info
      .stock-item__shop Media market
      .stock-item__desc HP 250. По очень смешной цене. Только сегодня! Это уникальный ноутбук.
      .stock-item__details
         i.stock-item__collection-ico
            svg.icon.icon-collection
               use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-collection')
         a.stock-item__detail-text-link(href='#') Показать коллекцию
   .stock-item__footer
      .stock-item__discount
         i.stock-item__discount-ico.stock-item__discount-ico--perc
            svg.ico.icon.icon-badge
               use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-badge')
         | 50%
      .stock-item__price
         span.stock-item__price-val 3400
         span.stock-item__currency руб