.stock-item.stock-item--theme-pink
   .badge.badge--favor.badge--favor-stock.js-tooltip-top(data-tooltip='Добавить в избранное')
      .badge__bottom
      svg.ico.icon.icon-star.badge__ico.badge__ico--favor
         use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-star')
   .share.badge--send-stock
      .badge.badge--send
         .badge__bottom
         svg.ico.icon.icon-share.badge__ico.badge__ico--send
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-share')
      .share__list
         a.share__ico.share__vk(href='#')
            svg.icon.icon-vk
               use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-vk')
         a.share__ico.share__facebook(href='#')
            svg.icon.icon-facebook
               use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-facebook')
         a.share__ico.share__odnoklassniki(href='#')
            svg.icon.icon-odnoklassniki
               use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-odnoklassniki')
         a.share__ico.share__letter(href='#')
            svg.icon.icon-mail
               use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-mail')
   a.stock-item__img-link(href='#')
      img.stock-item__img(data-no-retina='', src='img/uploads/stock-img-3.jpg', alt='')
   .stock-item__info
      .stock-item__shop Media market
      .stock-item__desc Harman / Kardon. Скидка 50%!
      .stock-item__details
         i.stock-item__calendar-ico
            svg.icon.icon-calendar
               use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-calendar')
         span.stock-item__detail-text С 1 апреля по 14 апреля
   .stock-item__footer
      .stock-item__discount
         i.stock-item__discount-ico.stock-item__discount-ico--perc
            svg.ico.icon.icon-badge
               use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-badge')
         | 30%
      .stock-item__price
         span.stock-item__price-val 10000
         span.stock-item__currency руб
   ul.stock-item__offers
      li.stock-item__offer.js-tooltip-top(data-tooltip='Летняя распродажа')
         svg.icon.icon-percents.stock-item__offer-ico.stock-item__offer-ico--sale
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-percents')
      li.stock-item__offer.js-tooltip-top(data-tooltip='Скидка')
         svg.icon.icon-sun.stock-item__offer-ico.stock-item__offer-ico--summer-sale
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-sun')
      li.stock-item__offer.js-tooltip-top(data-tooltip='Подарок')
         svg.icon.icon-gift.stock-item__offer-ico.stock-item__offer-ico--gift
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-gift')
      li.stock-item__offer.js-tooltip-top(data-tooltip='Программа лояльности')
         svg.icon.icon-pig.stock-item__offer-ico.stock-item__offer-ico--loyalty
            use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-pig')